{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-News</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row accton">
        <div class="col-12 title1_solution">
            <h1 id="accton">News</>
        </div>

        <div class="x_panel" style="min-height: 30vw">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <a href="/sonic/about_us/news/20190528" class="thumbnail thumbnail_height">
                        <img src="{%static '/images/news/190528.png' %}" class="news_img">
                        <p>Posted 2019-05-28</p>
                        <b class="title_news">
                            Edgecore Networks and IgniteNet will present their products and solutions at COMPUTEX 2019
                        </b>

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <a href="/sonic/about_us/news/20190522" class="thumbnail thumbnail_height">
                        <img src="{%static '/images/news/190522.jpg' %}" class="news_img">
                        <p>Posted 2019-05-22</p>
                        <b class="title_news">
                            Edgecore Networks will showcase its open networking solutions
                        </b>
                        
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <a href="/sonic/about_us/news/20190521" class="thumbnail thumbnail_height">
                        <img src="{%static '/images/news/190521.png' %}" class="news_img">
                        <p>Posted 2019-05-21</p>

                        <b class="title_news">
                            Edgecore Networks is Honored to Win the "Jury's Special Award" of Best Choice Awards at Computex 2019
                        </b>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <a href="/sonic/about_us/news/20190418" class="thumbnail thumbnail_height">
                        <img src="{%static '/images/news/190412.jpg' %}" class="news_img">
                        <p>Posted 2019-04-18</p>
                        <b class="title_news">
                            2019 Q2 Enterprise Switch EOL Announcement
                        </b>
                    </a>
                </div>



            </div>



        </div>
        <div class="x_panel" style="min-height: 30vw">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <a href="/sonic/about_us/news/20190314" class="thumbnail thumbnail_height" >
                        <img src="{%static '/images/news/190314.jpg' %}" class="news_img">
                        <p>Posted 2019-03-14</p>
                        <b class="title_news">
                                Edgecore Networks Introduces Minipack — Industry's First Open Modular Switch for 100G and 400G Networking
                        </b>

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <a href="/sonic/about_us/news/20190225" class="thumbnail thumbnail_height">
                        <img src="{%static '/images/news/190225.jpg' %}" class="news_img">
                        <p>Posted 2019-02-25</p>
                        <b class="title_news">
                            Edgecore Networks, TIP and Partners Demonstrate DCSG-Odyssey Cell Site Gateway at MWC 2019
                        </b>
                        
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <a href="/sonic/about_us/news/20190225-2" class="thumbnail thumbnail_height">
                        <img src="{%static '/images/news/190225-1.jpg' %}" class="news_img">
                        <p>Posted 2019-02-25</p>

                        <b class="title_news">
                                Edgecore Networks Announces General Availability of Cassini Open Packet Transponder
                        </b>
                    </a>
                </div>
            </div>



        </div>

    </div>

</div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>