{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>TMS-CCTV System</title>
	{% include 'preset_style.html' %}
</head>
{% include 'template_common.html' %}
			<!-- /main body top navigation bar-->

			<div class="right_col" role="main">
				<!-- ---- ---- ---- Main client area ---- ---- ---- -->
				<!-- ---- ---- ---- Main client area ---- ---- ---- -->

				<!-- breadcomb -->
				<div class="clearfix"></div>
				<div class="title_left">
					<p style="font-size: 14pt">Home -> Manage</p>
				</div>


				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<div class="row">

					<!--
				<div class="col-md-6 col-sm-4 col-xs-12">
                    one row of data
				</div>
                -->

				<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
					
						<div class="x_panel">
								<div class="row" style="padding:50px">
											<div class="col-md-6">
												<img src="">
											</div>
											<div class="col-md-6">										
												<span style="font-size:25pt">The IgniteNet Cloud</span><br>
												<u style="color:blue">Easy, powerful, & affordable cloud-managed WiFi</u>
												<p>123</p>

												<p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
											</div>
									  </div>
									  <div class="clearfix"></div>

										<div class="col-md-12" style="padding:30px">
												<div class="row">
													<div class="col-sm-6 col-md-4">
														<div class="thumbnail">
															<img src="{%static 'images/icon/teach.jpg' %}">
															<div class="caption" style="text-align: center;padding:10px">
																<h4>Learn from Video</h4>
																<p style="font-size: 10pt">Explore help & how to</p>
																<p style="font-size: 10pt">video from us on Youtube</p>
					
					
															</div>
														</div>
													</div>
													<div class="col-sm-6 col-md-4">
														<div class="thumbnail">
															<img src="{%static 'images/icon/asking.jpg' %}" alt="...">
															<div class="caption" style="text-align: center;padding:10px">
																<h4>Ask the Community</h4>
																<p style="font-size: 10pt">Join the SONiC community</p>
																<p style="font-size: 10pt">& ask questions for contribute</p>
					
					
															</div>
														</div>
													</div>
														<div class="col-sm-6 col-md-4">
															<div class="thumbnail">
																<img src="{%static 'images/icon/contact.jpg' %}" alt="...">
																<div class="caption" style="text-align: center;padding:10px">
																	<h4>Contact us</h4>
																	<p style="font-size: 10pt">Contact us</p>
																	<p style="font-size: 10pt">when you have any quetion</p>
																
						
																</div>
															</div>
														</div>
												</div>
										</div>
										<div class="col-md-12" style="padding:30px">
												<div class="row">
													<div class="col-sm-6 col-md-4">
														<div class="thumbnail">
															<img src="{%static 'images/icon/teach.jpg' %}">
															<div class="caption" style="text-align: center;padding:10px">
																<h4>Learn from Video</h4>
																<p style="font-size: 10pt">Explore help & how to</p>
																<p style="font-size: 10pt">video from us on Youtube</p>
					
					
															</div>
														</div>
													</div>
													<div class="col-sm-6 col-md-4">
														<div class="thumbnail">
															<img src="{%static 'images/icon/asking.jpg' %}" alt="...">
															<div class="caption" style="text-align: center;padding:10px">
																<h4>Ask the Community</h4>
																<p style="font-size: 10pt">Join the SONiC community</p>
																<p style="font-size: 10pt">& ask questions for contribute</p>
					
					
															</div>
														</div>
													</div>
														<div class="col-sm-6 col-md-4">
															<div class="thumbnail">
																<img src="{%static 'images/icon/contact.jpg' %}" alt="...">
																<div class="caption" style="text-align: center;padding:10px">
																	<h4>Contact us</h4>
																	<p style="font-size: 10pt">Contact us</p>
																	<p style="font-size: 10pt">when you have any quetion</p>
																
						
																</div>
															</div>
														</div>
												</div>
										</div>
										
										
								<a href="/sonic/advantage" style="padding:20px">
									<h4 style="text-align: center"><img src="{% static 'images/blue_square.png' %}" style="width:20px;height:20px"> Learn more</h4>
								</a>
							</div>
						
					</div>
				<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
				
						<div class="x_panel">
								<h2 style="color:#20304b;text-align: center;padding:10px">Products</h2>

								<div class="clearfix"></div>
								<div class="row" style="padding:50px">
										
										<div class="col-md-6">										
											<span style="font-size:25pt">The IgniteNet Cloud</span><br>
											<u style="color:blue">Easy, powerful, & affordable cloud-managed WiFi</u>
											<p>123</p>

											<p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
											</div>
										<div class="col-md-6">
												<img src="">
											</div>
								  </div>
								  <div class="row" style="padding:50px">
										<div class="col-md-6">
											<img src="">
										</div>
										<div class="col-md-6">										
											<span style="font-size:25pt">The IgniteNet Cloud</span><br>
											<u style="color:blue">Easy, powerful, & affordable cloud-managed WiFi</u>
											<p>123</p>

											<p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
										</div>
								  </div>
								  <div class="row" style="padding:50px">
										
										<div class="col-md-6">										
											<span style="font-size:25pt">The IgniteNet Cloud</span><br>
											<u style="color:blue">Easy, powerful, & affordable cloud-managed WiFi</u>
											<p>123</p>

											<p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
											</div>
										<div class="col-md-6">
												<img src="">
											</div>
								  </div>
								
							</div>
						
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
					
							<div class="x_panel">
									<h2 style="color:#20304b;text-align: center;padding:10px">Use Case</h2>
	
									<div class="clearfix"></div>
									<div class="x_content">
										<div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;padding:10px">
											
											<img src="{% static 'images/advantage.png' %}" >
											<p style="font-size: 18pt;color:#20304b;margin: 0%">Container ased moduler design</p>
											<p style="font-size: 12pt;color:#20304b">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;padding:10px">
											
											<img src="{% static 'images/advantage.png' %}" >
												<p style="font-size: 18pt;color:#20304b;margin: 0%">Reduce CapEX and OpEx</p>
												<p style="font-size: 12pt;color:#20304b">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;padding:10px">
	
												<img src="{% static 'images/advantage.png' %}" >
													<p style="font-size: 18pt;color:#20304b;margin: 0%">Free choice of hardware  (chipsets that support SAI)</p>
													<p style="font-size: 12pt;color:#20304b">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6" style="text-align: center;padding:10px">
													<img src="{% static 'images/advantage.png' %}" >
														<p style="font-size: 18pt;color:#20304b;margin: 0%">It’s free and growing rapidly</p>
														<p style="font-size: 12pt;color:#20304b">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
													</div>															
									</div>
									
								</div>
							
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
					
								<div class="x_panel">
										<h2 style="color:#20304b;text-align: center;padding:20px">Contact</h2>
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-1"></div>
												<div class="col-xs-6 col-md-2">
													<a href="https://azure.github.io/SONiC/" class="thumbnail">
														<img src="{%static 'images/icon/wiki.png' %}" alt="...">
													</a>
												</div>
												<div class="col-xs-6 col-md-2">
													<a href="#" class="thumbnail">
														<img src="{%static 'images/icon/FAQ.png' %}" alt="...">
													</a>
												</div>
												<div class="col-xs-6 col-md-2">
													<a href="#" class="thumbnail">
														<img src="{%static 'images/icon/video.png' %}" alt="...">
													</a>
												</div>
												<div class="col-xs-6 col-md-2">
													<a href="#" class="thumbnail">
														<img src="{%static 'images/icon/whitepaper.jpg' %}" alt="...">
													</a>
												</div>
												<div class="col-xs-6 col-md-2">
													<a href="https://www.youtube.com/results?search_query=as7712-32x" class="thumbnail">
														<img src="{%static 'images/icon/youtube.png' %}" alt="...">
													</a>
													<div class="col-md-1"></div>
												
												</div>
											</div>
									</div>
								</div>
								
							</div>


					<!--
                <div>
                <p> T1 Table</p>
                    </div>
                {% if tlists %}
                <p>Found {{ tlists|length }} sensors{{ tlists|pluralize }}.</p>
                <li>sensor name, sensor status, sensor reading, high limit, low limit</li>
                <ul>
                    {% for t in tlists %}
                    <li>{{t.sensor}}, {{t.status}}, {{t.reading}}, {{t.low_limit}}, {{t.high_limit}} </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No sensors found.</p>
                {% endif %}
                <p>End T1 Table</p>


-->

				</div>
				<!-- ----    /page content     ---- -->
				<!-- ----    /page content     ---- -->
				<!-- ----    /page content     ---- -->
				<!-- ----    /page content     ---- -->
				<!-- ----    /page content     ---- -->


				<!-- ---- ---- ---- /Main client area --- ---- ---- -->
				<!-- ---- ---- ---- Main client area ---- ---- ---- -->
			</div>
			<!-- footer content -->
			<footer>
				<div class="clearfix"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-2 footerleft ">
							<h6 class="heading7">ABOUT</h6>
							<ul class="footer-ul">
								<li><a href="http://webenlance.com">History&mission</a></li>
								<li><a href="http://webenlance.com"> Foundation</a></li>
								<li><a href="http://webenlance.com"> Board</a></li>

							</ul>
						</div>
						<div class="col-md-2 paddingtop-bottom">
							<h6 class="heading7">PROJECTS</h6>
							<ul class="footer-ul">
								<li><a href="http://webenlance.com"> Overview</a></li>
								<li><a href="http://webenlance.com"> Project Meetings Calender</a></li>
								<li><a href="http://webenlance.com"> Data Center Facility</a></li>
							</ul>
						</div>
						<div class="col-md-2 paddingtop-bottom">
							<h6 class="heading7">EVENTS</h6>
							<ul class="footer-ul">
								<li><a href="http://webenlance.com"> Regional Summit</a></li>
								<li><a href="http://webenlance.com"> Global Summit</a></li>
								<li><a href="http://webenlance.com"> Past Summits</a></li>

							</ul>
						</div>
						<div class="col-md-2  paddingtop-bottom">
							<h6 class="heading7">SP/RESELLER</h6>
							<ul class="footer-ul">
								<li><a href="http://webenlance.com"> Solution Provider Programs</a></li>
								<li><a href="http://webenlance.com"> Solution Providers</a></li>
								<li><a href="http://webenlance.com"> How to Become a Solution Provider</a></li>

							</ul>
						</div>
						<div class="col-md-2  paddingtop-bottom">
							<h6 class="heading7">MEMBERSHIP</h6>
							<ul class="footer-ul">
								<li><a href="http://webenlance.com"> Overviews & Fees</a></li>
								<li><a href="http://webenlance.com"> Membership Directory</a></li>
								<li><a href="http://webenlance.com"> How to join</a></li>

							</ul>
						</div>
						<div class="col-md-2  paddingtop-bottom">
							<h6 class="heading7">NEWS</h6>
							<ul class="footer-ul">
								<li><a href="http://webenlance.com"> News</a></li>
								<li><a href="http://webenlance.com"> Newsletter</a></li>


							</ul>
						</div>
					</div>

					<div class="pull-right">Powered by Accton Technology&copy; </div>
					<div class="clearfix"></div>
				</div>

			</footer>
			<!-- /footer content -->

		</div>
	</div>
	{% include 'preset_js.html' %}

</body>

</html>