{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-Project Management</title>
	{% include 'preset_style.html' %}
</head>
{% include 'template_pm.html' %}
<div class="right_col" role="main">
	<!-- ==== ==== ==== Main client area ==== ==== ==== -->
	<!-- ==== ==== ==== Main client area ==== ==== ==== -->
	<!-- breadcomb -->
	<div class="clearfix"></div><!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
			<div class="x_panel">
				<div class="x_title">
					<h2>Project Management</h2>
                    <div class="clearfix"></div>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#a" style="margin:20px 0">Create TRR</a>
				</div>
				<div class="x_content">
					<!--<p class="text-muted font-13 m-b-30">message</p>-->
					<table class="table Table tablesorter">
						<thead>
							<tr class="tr-only-hide">
								<th scope="col">Project</th>
								<th scope="col">Kick-Off Project</th>
								<th scope="col">Version</th>
								<th scope="col">PL</th>
								<th scope="col">TRR ID</th>
								<th scope="col">Detail</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody id="issue_content"></tbody>
					</table>
					<div aria-hidden="true" class="modal" id="a" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
                                    <h1 class="modal-title">Create TRR issue
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button></h1>
								</div>
								<div class="modal-body">
									<div class="form-group clearfix">
                                        Project<span class="red">*</span>：<br>
                                        <input id="project_name" type="text" class="col-xs-12"><br><br>
                                        Kick-Off Project<span class="red">*</span>：<br>
                                        <input id="kick_off_project" type="text" class="col-xs-12"><br><br>
                                        Version<span class="red">*</span>：<br>
                                        <input id="version" type="text" class="col-xs-12"><br><br>
                                        TRR ID<span class="red">*</span>：<br>
                                        <input id="trrid" type="text" class="col-xs-12"><br><br>
                                        PL<span class="red">*</span>：<br>
                                        <select id="PL" class="col-xs-12">
                                            <option>Qiyao</option>
                                            <option>Nike</option>
                                            <option>Jenny</option>
                                        </select>
									</div>
								</div>
								<div class="modal-footer">
									<a class="btn btn-primary" data-toggle="modal" id="createTRR">Create</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer content -->
<div class="clearfix"></div>
{% include 'main_footer.html' %}
	</div>
</div>
    {% include 'preset_js.html' %}
    <script src="{% static 'js/pm/status.js' %}"></script>
</body>
</html>