{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-Project Management</title>
	{% include 'preset_style.html' %}
	<style>
		.table > thead > tr > th {
			vertical-align:middle !important ;
		}
		#table_scroll{
			overflow:auto;
			display:block
		}
		.table > thead > tr > th:nth-child(2){
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.table > tbody > tr > td:nth-child(7){
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.table > tbody > tr > td:nth-child(10){
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.modal-dialog{
			width:800px !important;
		}
		.statusComment{
			width:80%;
		}
		.selectTD{
			float:right;
			margin-right:5.5vw;
		}
		.deleteCondition,
		.selectCondition{
			margin-left:1.5vw;
		}
		.trrstatus{
			width:88px;
		}
	</style>
</head>
{% include 'template_pm.html' %}
<div class="right_col" role="main">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
			<div class="x_panel">
				<div class="x_title">
					<h2>Project Management
						<a class="btn btn-primary" data-target="#a" data-toggle="modal" style="margin:0 20px">Create TR</a>
						<a class="btn btn-primary" data-target="#b" data-toggle="modal" style="margin:0 20px">Update TR status</a>
						<a class="btn btn-primary" data-target="#c" data-toggle="modal" style="margin:0 20px">Filter The Views</a>
					</h2>
					<div class="clearfix"></div>
				</div>
				<div id="table_scroll" class="x_content">
					<!--<p class="text-muted font-13 m-b-30">message</p>-->
					<table class="table Table tablesorter" style="font-size:12px;">
						<thead>
							<tr class="tr-only-hide">
								<th scope="col">Project</th>
								<th scope="col">Model</th>
								<th scope="col">Submit Time</th>
								<th scope="col">Start Time</th>
								<th scope="col">End Time</th>
								<th scope="col">M.E.D.F</th>
								<th scope="col">TRR (Test Request & Report) ID</th>
								<th scope="col">Status</th>
								<th scope="col">Detail</th>
								<!-- <th scope="col">EPR</th> -->
								<th scope="col">H/W Version</th>
								<th scope="col">S/W Version</th>
								<th scope="col">BIOS Version</th>
							</tr>
						</thead>
						<tbody id="issue_content"></tbody>
					</table>
					<div aria-hidden="true" class="modal" id="a" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title">Create TRR issue <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button></h1>
								</div>
								<div class="modal-body">
									<div class="form-group clearfix">
										<div class="col-xs-6">
											Project<span class="red">*</span>：<br>
											<select  id="project">
											</select><br>
											TRR (Test Request & Report) ID<span class="red">*</span>：<br>
											<input id="trrid" type="text"><br>
											Start Time<span class="red">*</span>：<br>
											<input id="startTime" type="date"><br>
											End Time<span class="red">*</span>：<br>
											<input id="endTime" type="date"><br>
										</div>
										<div class="col-xs-6">
											BIOS Version<span class="red">*</span>：<br>
											<input id="bios" type="text"><br>
											DIAG Version<span class="red">*</span>：<br>
											<input id="diag" type="text"><br>
											CPLD Version<span class="red">*</span>：<br>
											<input id="cpld" type="text"><br>
											ONIE Version<span class="red">*</span>：<br>
											<input id="onie" type="text"><br>
										</div>
										<div class="col-xs-6">
											S/W Version<span class="red">*</span>：<br>
											<input id="sw" type="text"><br>
											H/W Version<span class="red">*</span>：<br>
											<input id="hw" type="text"><br>
											Test Type<span class="red">*</span>：<br>
											<input id="test_type" type="text"><br>
											Test Phase<span class="red">*</span>：<br>
											<input id="test_phase" type="text"><br>
										</div>
										<div class="col-xs-6">
											Boot/Loader Version<span class="red">*</span>：<br>
											<input id="boot_version" type="text"><br>
											Profile Name<span class="red">*</span>：<br>
											<input id="profile_name" type="text"><br>
											Module<span class="red">*</span>：<br>
											<input id="module" type="text"><br>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<a class="btn btn-primary" data-toggle="modal" id="createTRR">Create</a>
								</div>
							</div>
						</div>
					</div>
					<div aria-hidden="true" class="modal" id="changeStatus" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title">Change Test Request & Report Status <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button></h1>
								</div>
								<div class="modal-body">
									<div class="form-group clearfix">
										Status<span class="red">*</span>：<br>
										<select class="col-xs-12" id="changeStatusContent">
											<option>
												Verified 
											</option>
											<option>
												Assigned
											</option>
											<option>
												Resolved 
											</option>
											<option>
												Cancelled
											</option>
											<option>
												Closed
											</option>
										</select>
									</div>
									<div id="verifiedContent" style="display:none;">
										TL Confirm<span class="red">*</span>：<br>
										<input id="TLConfirm" style="width:100%;height:50px;">
									</div>
									<div id="assignContent" style="display:none;">
										<div class="col-xs-12 x_panel">
											<div class="col-xs-6">
												TD List <span class="red">*</span>：<br>
												<select class="TDList" class="statusComment">
													<option>ONIE</option>
												</select><br><br>
												<a class="btn btn-primary selectTD">Select</a>
											</div>
											<div class="col-xs-6">
												TC List <span class="red">*</span>：<br>
												<div class="TCList" class="statusComment">
													<div class="TCList" class="statusComment">
														<input type="checkbox"><label>ONIE-001</label><br>
														<input type="checkbox"><label>ONIE-002</label><br>
														<input type="checkbox"><label>ONIE-003</label><br>
														<input type="checkbox"><label>ONIE-004</label><br>
													</div>
												</div>
											</div>
											<div class="col-xs-6">						
												Engineer <span class="red">*</span>：<br>
												<select class="engineer" class="statusComment">
													<option>River</option>
													<option>Mark</option>
													<option>Joe</option>
													<option>Juice</option>
													<option>Iris</option>
													<option>Brian</option>
													<option>Gino</option>
													<option>Blithe</option>
													<option>Henry</option>
												</select>
											</div>
											<div class="col-xs-6">						
												M.E.D.F. <span class="red">*</span>：<br>
												<input class="MEDF" type="date" class="statusComment">
											</div>
										</div>
									</div>
									<br style="clear:both;">
								</div>
								<div class="modal-footer">
									<a class="btn btn-primary" id="addAsignBar" style="display:none;">Assign</a>
									<a class="btn btn-primary" id="changeTRRStatus">Change</a>
								</div>
							</div>
						</div>
					</div>
					<div aria-hidden="true" class="modal" id="b" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title">Update TRR content <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button></h1>
								</div>
								<div class="modal-body">
									<div class="form-group clearfix">
										TRR (Test Request & Require)<span class="red">*</span>：<br>
										<select class="col-xs-12" id="trrlist">
											
										</select>
										Type<span class="red">*</span>：<br>
										<select class="col-xs-12" id="changeType">
											<option>
												Module
											</option>
											<option>
												BIOS
											</option>
											<option>
												Diag
											</option>
											<option>
												ONIE
											</option>
											<option>
												CPLD
											</option>
										</select>
										Content<span class="red">*</span>：<br>
										<input id="content" class="col-xs-12" type="text"><br>
									</div>
								</div>
								<div class="modal-footer">
									<a class="btn btn-primary" data-toggle="modal" id="updateTRRContent">Update</a>
								</div>
							</div>
						</div>
					</div>
					<div aria-hidden="true" class="modal" id="c" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title">Filter The Views <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button></h1>
								</div>
								<div class="modal-body">
									<div id="filtercondition" class="form-group clearfix">
										<div class="col-xs-12">
											<div class="col-xs-6">
												Condition<span class="red">*</span>：<br>
												<select class="col-xs-6">
													<option>Project</option>
													<option>Module</option>
													<option>TRR_ID</option>
													<option>Status</option>
												</select>
												<a class="btn btn-primary selectCondition">Select</a>
											</div>
											<div class="col-xs-6">
												Value<span class="red">*</span>：<br>
												<select class="col-xs-8">
												</select>
												<a class="btn btn-primary deleteCondition">Delete</a>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<a class="btn btn-primary" id="addViewsCondition">Add</a>
									<a class="btn btn-primary" id="updateTRRViews">Run</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer content -->
<div class="clearfix"></div>
{% include 'main_footer.html' %}
	</div>
</div>
    {% include 'preset_js.html' %}
    <script src="{% static 'js/pm/status.js' %}"></script>
</body>
</html>






