{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Accton Total Management System</title>
	{% include 'preset_style.html' %}
</head>
{% include 'template_common.html' %}
<div class="right_col common_style" role="main">
	<div class="clearfix"></div><!-- first row, four panels -->
	<!-- first row, four panels -->
	<!-- first row, four panels -->
	<div class="row">
		<div class="col-12">
			<div class="x_panel">
					<h1><a  href="usermgmt" style="color: #ffffff;"><div class="x_title" style="background: #2685C7; padding: 5px;">Users</div></a></h1>
					<div class="clearfix"></div>
				
			</div>
		</div>
		<div class="col-12">
			<div class="x_panel">
					<h1><a  href="ixiaSchedule" style="color: #ffffff;"><div class="x_title" style="background: #2685C7; padding: 5px;">IXIA Schedule</div></a></h1>
					<div class="clearfix"></div>
				
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-6">
			<div class="x_panel tile fixed_height_390">
				<h2 class="x_title" style="color: #ffffff; background: #2685C7; padding: 5px;">
					UI
					<ul class="nav navbar-right panel_toolbox"></ul>
					<div class="clearfix"></div>
				</h2>
				<div class="x_content font1">
					<a href="/systems/">Logical view of Data Center components</a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div><!-- <div class="col-md-3 col-sm-6 col-xs-6"> -->
		<div class="col-md-3 col-sm-6 col-xs-6">
			<div class="x_panel tile fixed_height_390">
				<h2 class="x_title" style="color: #ffffff; background: #2685C7; padding: 5px;">
					Users
					<ul class="nav navbar-right panel_toolbox"></ul>
					<div class="clearfix"></div>
				</h2>
				<div class="x_content font1">
					<a href="/components/" style="...">Physical view of Data Center components</a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div><!-- <div class="col-md-3 col-sm-6 col-xs-6"> -->
		<div class="col-md-3 col-sm-6 col-xs-6">
			<div class="x_panel tile fixed_height_390">
				<h2 class="x_title" style="color: #ffffff; background:#2685C7; padding: 5px;">
					Monitor
					<ul class="nav navbar-right panel_toolbox"></ul>
					<div class="clearfix"></div>
				</h2>
				<div class="x_content font1">
					<a href="/monitor/" style="...">Security</a>
					<div class="clearfix"></div>
					<div class="row"></div>
				</div>
			</div>
		</div><!-- <div class="col-md-3 col-sm-6 col-xs-6"> -->
		<div class="col-md-3 col-sm-6 col-xs-6">
			<div class="x_panel tile fixed_height_390">
				<h2 class="x_title" style="color: #ffffff; background: #2685C7; padding: 5px">
					Manage
					<ul class="nav navbar-right panel_toolbox"></ul>
					<div class="clearfix"></div>
				</h2>
				<div class="x_content font1">
					<a href="/manage/" style="...">Manage, Tasks, Work</a>
				</div><!-- <div class="x_content"> -->
			</div>
		</div><!-- <div class="col-md-3 col-sm-6 col-xs-6"> -->
	</div><!-- End first row, four panels -->
	<!-- End first row, four panels -->
	<!-- End first row, four panels -->
	<!-- 2nd row, four panels -->
	<!-- 2nd row, four panels -->
	<!-- 2nd row, four panels -->
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-6">
			<div class="x_panel tile fixed_height_390">
				<h2 class="x_title" style="color: #ffffff; background: #2685C7; padding: 5px;">
					Systems
					<ul class="nav navbar-right panel_toolbox"></ul>
					<div class="clearfix"></div>
				</h2>
				<div class="x_content font1">
					<a href="/systems/">Logical view of Data Center components</a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div><!-- <div class="col-md-3 col-sm-6 col-xs-6"> -->
		<div class="col-md-3 col-sm-6 col-xs-6">
			<div class="x_panel tile fixed_height_390">
				<h2 class="x_title" style="color: #ffffff; background: #2685C7; padding: 5px;">
					Components(Asset Management)
					<ul class="nav navbar-right panel_toolbox"></ul>
					<div class="clearfix"></div>
				</h2>
				<div class="x_content font1">
					<a href="/components/" style="...">Physical view of Data Center components</a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div><!-- <div class="col-md-3 col-sm-6 col-xs-6"> -->
		<div class="col-md-3 col-sm-6 col-xs-6">
			<div class="x_panel tile fixed_height_390">
				<h2 class="x_title" style="color: #ffffff; background:#2685C7; padding: 5px;">
					Monitor
					<ul class="nav navbar-right panel_toolbox"></ul>
					<div class="clearfix"></div>
				</h2>
				<div class="x_content font1">
					<a href="/monitor/" style="...">Security</a>
					<div class="clearfix"></div>
					<div class="row"></div>
				</div>
			</div>
		</div><!-- <div class="col-md-3 col-sm-6 col-xs-6"> -->
		<div class="col-md-3 col-sm-6 col-xs-6">
			<div class="x_panel tile fixed_height_390">
				<h2 class="x_title" style="color: #ffffff; background: #2685C7; padding: 5px">
					Manage
					<ul class="nav navbar-right panel_toolbox"></ul>
					<div class="clearfix"></div>
				</h2>
				<div class="x_content font1">
					<a href="/manage/" style="...">Manage, Tasks, Work</a>
				</div><!-- <div class="x_content"> -->
			</div>
		</div><!-- <div class="col-md-3 col-sm-6 col-xs-6"> -->
	</div><!-- End 2nd row, four panels -->
	<!-- End 2nd row, four panels -->
	<!-- End 2nd row, four panels -->
</div>
<!-- /footer content -->
	{% include 'main_footer.html' %}	
	</div>
</div>
	{% include 'preset_js.html' %}
</body>
</html>
