{% extends 'wiki_template.html' %}
{% load staticfiles %}

{% block titile %}
	<title>Wiki-onie</title>
{% endblock %}
{% block style %}
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/product.css' %}" rel="stylesheet">
	<link href="{% static 'vendors/additional/wiki.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="tabcontent">
		<h3>What is ONIE?</h3>
		<p class="wikifont1">
				Open Network Install Environment (ONIE) defines an open install environment for modern network
				switches in a Linux kernel and BusyBox environment. By opening up the hardware to multiple
				operating system vendors, e.g. Edge-corE, etc., ONIE initially enables the "white box" and "bare
				metal" network switching ecosystem, instead of locking end users into a vertical supply chain.
				Consequently, end users can smoothly select any desired network operating system. Over time, ONIE
				has become the de facto install environment across the network hardware industry.<br>
		<br>
		</p>
		<h3>Five highlight features</h3>
		<p class="wikifont1">
			1. Combines a boot loader with a modern Linux kernel and BusyBox
			<br>2. Provides an environment for installing any NOS
			<br>3. Disruptive; liberating users from a captive, pre-installed NOS
			<br>4. Help automate large scale data center switch provisioning
			<br>5. Enables you to manage your switches like you manage your Linux servers<br>
		<br>
		</p>
		<h3>How to update ONIE</h3>
		<p class="wikifont1">ONIE provides an update image for upgrading itself. Once located, the update image is downloaded
				and executed, which mechanism proceeds like the network installer discovery and executing phase.
				Likewise, ONIE also provides firmware updates (refers to like BIOS firmware or CPLD/FPGA code)
				similar to updating ONIE itself with a firmware update image. For more information, please visit
				the following page: <a href="https://github.com/opencomputeproject/onie" target=_block>https://github.com/opencomputeproject/onie</a>
		<br>
		</p>
		

		
	</div>
{% endblock %}
{% block js %}
	<!-- Additional JS-->
	<script src="{% static 'js/sonic/product.js' %}"></script>
	<script src="{% static 'js/sonic/location.js' %}"></script>
	<script src="{% static 'vendors/additional/js/wiki.js' %}"></script>
{% endblock %} 