{% extends 'wiki_template.html' %}
{% load staticfiles %}
{% block titile %}
	<title>Wiki-SONiC</title>
{% endblock %}
{% block style %}
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/product.css' %}" rel="stylesheet">
	<link href="{% static 'vendors/additional/wiki.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="tabcontent">
		<h3>What is SONiC ?</h3>
		<p class="wikifont1">
			Software for Open Networking in the Cloud (SONiC), is a breakthrough for network switch operations and management. Edge-corE Networks joined as a partner that provided multiple switching platforms to accelerate this growing ecosystem of SONiC. To release the flexibility and extend the degree-of-freedom, the cloud community can cherry pick best solutions with Edge-corE 10G, 25G, 40G, 100G or 400G featured switch hardware.<br>
		<br>
		Edge-CorE 10G - <a href="/sonic/products/10g/as5512-54x">AS5512-54X</a> , <a href="/sonic/products/10g/as5712-54x">AS5712-54X</a> , <a href="/sonic/products/10g/as5812-54t">AS5812-54T</a> , <a href="/sonic/products/10g/as5812-54x">AS5812-54x</a><br>
		Edge-CorE 25G - <a href="/sonic/products/25g/as7312-54xs">AS7312-54xs</a>, <a href="/sonic/products/25g/as7326-56x">AS7326-56x</a><br>
		Edge-CorE 40G - <a href="/sonic/products/40g/as6700-32x">AS6700-32x</a>, <a href="/sonic/products/40g/as6701-32x">AS6701-32x</a>, <a href="/sonic/products/40g/as6712-32x">AS6712-32x</a>, <a href="/sonic/products/40g/as6812-32x">AS6812-32x</a><br>
		Edge-CorE 100G - <a href="/sonic/products/100g/as7712-32x">AS7712-32x</a>, <a href="/sonic/products/100g/as7726-32x">AS7726-32x</a>, <a href="/sonic/products/100g/as7816-64x">AS7816-64x</a>, <a href="/sonic/products/100g/wedge100bf-32x">WEDGE100bf-32x</a>, <a href="/sonic/products/100g/wedge100bf-65x">WEDGE100bf-65x</a>, <a href="/sonic/products/100g/wedge100s-32x">WEDGE100s-32x</a><br>
		Edge-CorE 400G - <a href="/sonic/products/400g/as8000">AS8000</a>, <a href="/sonic/products/400g/as9716-32d">AS9716-32d</a></p><br>
		<h3>Increasingly strong momentum</h3>
		<p class="wikifont1">SONiC is fully open sourced and enables industrial collaborators, researchers and innovators to contribute components that will benefit millions of customers. Based on the Switch Abstration Interface (SAI), Network hardware vendors (e.g. Edge-corE, Dell, Facebook, Mellanox, etc.) can consistently keep the programming interface to ASIC while develop the state-of-the-art high speed hardware platforms. This enables one unified software solution to leverage the rapid innovation in silicon, CPU, power, port density, optics and speed across multiple platforms.</p>
		<h3>Faster software evolution</h3>
		<p class="wikifont1">With multiple containerized components, you can upgrade the flawed container with the new code, plug in new components, third-party, proprietary or open sourced software with minimum effort, instead of replacing the entire switch image. SONiC realizes fine-grained failure recovery and enables in-service upgrades with zero downtime. Operators can specify their specific scenarios at cloud networking with the aid of SONiC.<br>
		<br>
		For more information, please visit the SONiC github page: https://github.com/Azure/SONiC/wiki</p>
	</div>
{% endblock %}
{% block js %}
	<!-- Additional JS-->
	<script src="{% static 'js/sonic/product.js' %}"></script>
	<script src="{% static 'js/sonic/location.js' %}"></script>
	<script src="{% static 'vendors/additional/js/wiki.js' %}"></script>
{% endblock %} 