{% load staticfiles %}
<body class="nav-md common_font_family">
    <div class="gotop">
	    <a href="#"><img id="gotop" src="{% static 'images/icon/top.png' %}" style="width:40%;display:none;"></a>
    </div>
        <div class="container body">
            <!-- top navigation header -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="navbar nav_title" style="background: none; border: 0; width: 50%">
                        <a href="/" class="site_title" style="width: auto;">Accton | Total Management System</a></div>
                        <div class="col-sm-5 col-xs-5 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                            </div>
                        </div>
                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li class=""><a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">DC Manager</a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> My POD Manager</a></li>
                                    <li><a href="javascript:;"> My Dashboard</a></li>
                                    {% if request.user.is_authenticated %}
                                        <li><a href="/personal_settings/"><span class="glyphicon glyphicon-user"></span> Hello {{ request.user.first_name }}</a></li>
                                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                                    {% else %}
                                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation header -->
            <div class="main_container">
                <!-- left column menu -->
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a class="site_title DC" href=""><span>DC Manager</span></a>
                        </div>
                        <div class="clearfix"></div><!-- sidebar menu -->
                        <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
                            <div class="menu_section">
                                {% block sideMenu %}
                                <ul class="nav side-menu">
                                    <li id="overview">
                                        <a href="/overview" style="color: #88FFFF;"><i class="fa fa-eye"></i>Overview</a>
                                    </li>
                                    <li id="components">
                                        <a href="/components/1" style="color: #88FFFF;"><i class="fa fa-cubes"></i> Components <span class="fa fa-chevron-down"></span></a>
                                        <ul class="child_menu" style="display: none;">
                                            <li><div class="checkbox"><label><input type="checkbox" class="components_controller" value="components_racks" checked>&nbsp;&nbsp;Racks</label></div></li>
                                            <li><div class="checkbox"><label><input type="checkbox" class="components_controller" value="components_blad																																									es" checked>&nbsp;&nbsp;Blades</label></div></li>
                                            <li><div class="checkbox"><label><input type="checkbox" class="components_controller" value="components_storage" checked>&nbsp;&nbsp;Storage</label></div></li>
                                            <li><div class="checkbox"><label><input type="checkbox" class="components_controller" value="components_switches" checked>&nbsp;&nbsp;Switches</label></div></li>
                                            <li><div class="checkbox"><label><input type="checkbox" class="components_controller" value="components_nvme_drawers" checked>&nbsp;&nbsp;NVMe Drawers</label></div></li>
                                        </ul>
    <!--
                                            <li><a href="/#">Racks</a></li>
                                            <li><a href="/#">Blades</a></li>
                                            <li><a href="/#">Storage</a></li>
                                            <li><a href="/#">Switches</a></li>
                                            <li><a href="/#">NVMe Drawers</a></li>
                                        </ul>
    -->
                                    </li>
                                    <li id="system">
                                        <a href="/system" style="color: #88FFFF;"><i class="fa fa-group"></i> Systems <span class="fa fa-chevron-down"></span></a>
                                        <ul class="child_menu" style="display: none;">
                                            <li>
                                                <div class="checkbox">
                                                    <label><input checked class="system_controller" type="checkbox" value="system_composed_node">&nbsp;&nbsp;Composed Node</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <label><input checked class="system_controller" type="checkbox" value="system_vlans">&nbsp;&nbsp;VLANs</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <label><input checked class="system_controller" type="checkbox" value="system_volume">&nbsp;&nbsp;Volume Images</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <label><input checked class="system_controller" type="checkbox" value="system_switches">&nbsp;&nbsp;Switches</label>
                                                </div>
                                            </li>
                                        </ul>
    <!--									<a href="/system" style="color: #88FFFF;"><i class="fa fa-group"></i> Systems <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/#">Composed Node</a></li>
                                            <li><a href="/#">VLANs</a></li>
                                            <li><a href="/#">Volume Images</a></li>
                                            <li><a href="/#">Switches</a></li>
                                        </ul>
    -->
                                    </li>
                                    <li id="manage">
                                        <a href="/manage" style="color: #88FFFF"><i class="fa fa-google-wallet"></i> Manage</a>
                                    </li>
                                    <li id="monitor">
                                        <a href="/monitor" style="color: #88FFFF;"><i class="fa fa-desktop"></i>CCTV System</a>
                                    </li>
                                    <li id="test">
                                        <a href="/test/jobManagement" style="color: #88FFFF;"><i class="fa fa-group"></i> Network Test Center <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/test/jobManagement">Job management</a></li>
                                            <li><a href="/test/">Job submission</a></li>
                                            <li><a href="/test/status">Job status</a></li>
                                            <li><a href="/test/jobDetail">Job detail</a></li>
                                            <li><a href="/test/jobLog">Job log</a></li>
                                        </ul>
                                    </li>
                                    <li id="network">
                                        <a href="/network" style="color: #88FFFF;"><i class="fa fa-sitemap"></i> Network(ipmitool)</a>
                                    </li>
                                    <li id="sonic" class="active">
                                        <a href="/sonic" style="color: #88FFFF;"><i class="fa"><img src="/static/images/sonic_menuitem.png" class="sonic_icon"></i> SONiC<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: block;">
                                            <li><a href="/sonic/supported-devices">Supported Products</a></li>
                                            <li><a href="/sonic/advantage">Advantage</a></li>
                                            <li><a href="/sonic/products">Products</a></li>
                                            <li><a href="/sonic/roadmap">Roadmap</a></li>
                                            <li><a href="/sonic/support">Support</a></li>
                                        </ul>
                                    </li>
                                    <li id="tmssetup">
                                        <a href="/tmssetup/" style="color: #88FFFF;"><i class="fa fa-gears"></i>TMS Setup</a>
                                    </li>
                                </ul>
                                {% endblock %}
                            </div>
                        </div><!-- /sidebar menu -->
                    </div>
                </div><!-- /left column menu -->
                <!-- main body top navigation bar-->
                <div class="top_nav">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars fa-lg"></i></a>
                    </div>
                    <div class="top_path">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb" id="path">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- /main body top navigation bar-->
<script>
let is_authenticated = {{ request.user.is_authenticated|yesno:"true,false" }};;
</script>