{% extends 'SONiCProducts/products_template.html' %}
{% load staticfiles %}
{% block title %} TMS-AS6701-4.X {% endblock %}

{% block picture %}
	<div class="slider-for">
		<img src="{% static 'images/products/40g/as6701-32x/as6701-32x-1.png' %}" alt="">
		<img src="{% static 'images/products/40g/as6701-32x/as6701-32x-2.png' %}" alt="">
		<img src="{% static 'images/products/40g/as6701-32x/as6701-32x-3.png' %}" alt="">
		<img src="{% static 'images/products/40g/as6701-32x/as6701-32x-4.png' %}" alt="">
	</div>
	<div class="slider-nav">
		<img src="{% static 'images/products/40g/as6701-32x/as6701-32x-1.png' %}" alt="">
		<img src="{% static 'images/products/40g/as6701-32x/as6701-32x-2.png' %}" alt="">
		<img src="{% static 'images/products/40g/as6701-32x/as6701-32x-3.png' %}" alt="">
		<img src="{% static 'images/products/40g/as6701-32x/as6701-32x-4.png' %}" alt="">
	</div>
{% endblock %}

{% block productSummary %}
<h2>AS6701-32X</h2>
<h4>40GbE Data Center Switch</h4>
<p>AS6701-32X is a 20-Port 40G QSFP+ plus 2 x 6-port 40G QSFP+ modules switch with ONIE software installer. AS6701-32X embedded Broadcom Trident II 1.28Tbps and Freescale P2020 CPU as well as dual 110-230VAC 400W PSUs included and power-to-port airflow. AS6701-32X is 3-year Hardware Warranty.</p>
{% endblock %}

{% block Overview %}
<p class="content2 font2">The Edge-Core AS6701-32X switch is a Top-of-Rack (TOR) or spine switch for high-performance data centers. In a compact 1RU form factor, the switch provides line-rate L2 and L3 switching across up to 32 x QSFP ports, supporting up to 32 x 40 GbE connections or 104 x 10 GbE connections. The AS6701-32X can be deployed as a TOR switch supporting 10 GbE or 40 GbE server connections, or as a spine switch, supporting 10 GbE or 40 GbE spine</p>
<p class="content2 font2">interconnects. The switch provides 20 fixed QSFP ports and two module slots, each capable of supporting a 6 x QSFP option module or a future NPU module for application processing. The AS6701-32X is a bare-metal switch loaded with the Open Network Install Environment (ONIE), which supports the installation of compatible independent switchOS offerings.</p>
{% endblock %}

{% block specs %}
<table class="table table-bordered table-striped">
	<colgroup>
		<col class="col-xs-6">
		<col class="col-xs-6">
	</colgroup>
	<tbody>
		<tr>
			<th><div class="specs_title">Ports</div></th>
			<td class="common-style-font2 content">32</td>
		</tr>
		<tr>
			<th><div class="specs_title">Predominant Port Type</div></th>
			<td class="common-style-font2 content">40GbE QSFP+</td>
		</tr>
		<tr>
			<th><div class="specs_title">High Availability</div></th>
			<td class="common-style-font2 content">Redundant Power Supply, Redundant Fans</td>
		</tr>
		<tr>
			<th><div class="specs_title">Compatible Soft Option</div></th>
			<td class="common-style-font2 content">Cumulus Networks - Cumulus Linux , Pica8 - PicOS</td>
		</tr>
	</tbody>
</table>
{% endblock %}

{% block features %}
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>Cost-effective, bare-metal switch infrastructure for data center fabric.</li>
				<li>Up to 32 x 40GbE ports in compact 1RU form factor.</li>
				<li>Modular design allowing cost-effective build-out of an infrastructure with switching capacity added as required.</li>
				<li>20 x QSFP switch ports, each supporting 40 GbE or 4 x 10 GbE via breakout cables.</li>
				<li>Two module slots, each supporting 6 x QSFP module or future NPU processing module.</li>
				<li>Layer 2 or Layer 3 forwarding of 2.56 Tbps full duplex.</li>
				<li>Supports hot/cold aisle with port-to-power and power-to-port airflow SKUs.</li>
			</ul>
		</div>
	</div>
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>All ports on front; PSUs and fans on rear.</li>
				<li>Hot-swappable, load-sharing, redundant AC or -48V DC PSUs.</li>
				<li>4+1 redundant, hot-swappable fans.</li>
				<li>Energy Efficiency: 267 W typical power consumption.</li>
				<li>Hardware switch pre-loaded with Open Network Install Environment (ONIE) for automated loading of compatible independent switchOS software.</li>
				<li>Compatible with Cumulus®Linux® r2.0.1 and later switchOS software from Cumulus Networks™.</li>
				<li>Compatible with PicOS™ r2.5 and later version from Pica8 Inc.</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block downloads %}
	<table class="table Table table-hover">
		<tbody>
			<tr class="tr-only-hide">
				<th>Category</th>
				<th>Name</th>
				<th>Rev</th>
				<th>Release Notes</th>
				<th>Date</th>
				<th>Note</th>
				<th>Download</th>
			</tr>
			<tr>
				<td data-th="Category">Datasheet</td>
				<td data-th="Name">AS6701-32X ONIE R05</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2017-10-03</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/40g/as6701-32x/as6701-32x_AS6701-32X_QSG-Draft_150200000827A_0120.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">User Manual</td>
				<td data-th="Name">AS6701-32X Quick Start Guide</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2016-06-29</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/40g/as6701-32x/AS6700_AS6701-32X_ONIE_DS_R05_20170929.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Certification</td>
				<td data-th="Name">Edgecore RoHS & REACH Declaration - AS6701-32X</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2017-06-26</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/40g/as6701-32x/Edgecore_RoHS_Reach_Declaration_AS6701-32X.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>			
			<tr>
				<td data-th="Category">Firmware</td>
				<td data-th="Name">SONiC image</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">n/a</td>
				<td data-th="Note">
					<a href="/sonic/accton/download"><span class="badge badge-pill badge-primary jumpDownload">More available</span>
				</td>
				<td data-th="Download">
					<a id="SONiC_Image_Downloads" href="#"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}