{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-Project Management</title>
	{% include 'preset_style.html' %}
	<style>
		.table > thead > tr > th {
			vertical-align:middle !important ;
		}
		#table_scroll{
			overflow:auto;
			display:block
		}
		.table > thead > tr > th:nth-child(1){
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.modal-dialog{
			width:800px !important;
		}
		.statusComment{
			width:80%;
		}
	</style>
</head>
{% include 'template_pm.html' %}
<div class="right_col" role="main">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
			<div class="x_panel">
				<div class="x_title">
					<h2>Project Management
						<!-- <a class="btn btn-primary" data-target="#a" data-toggle="modal" style="margin:0 20px">Create TR</a>
						<a class="btn btn-primary" data-target="#b" data-toggle="modal" style="margin:0 20px">Update TR status</a>
						<a class="btn btn-primary" data-target="#c" data-toggle="modal" style="margin:0 20px">Filter The Views</a> -->
					</h2>
					<div class="clearfix"></div>
				</div>
				<div id="table_scroll" class="x_content">
					<!--<p class="text-muted font-13 m-b-30">message</p>-->
					<table class="table Table tablesorter" style="font-size:12px;">
						<thead>
							<tr class="tr-only-hide">
								<th scope="col">Task_ID</th>
								<th scope="col">Status</th>
								<th scope="col">TRR.MEDF</th>
								<th scope="col">Submitted Time</th>
								<th scope="col">Owner</th>
								<th scope="col">Detail</th>
							</tr>
						</thead>
						<tbody id="tasks_list"></tbody>
					</table>
					<div aria-hidden="true" class="modal" id="a" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title">Create TRR issue <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button></h1>
								</div>
								<div class="modal-body">
									<div class="form-group clearfix">
										<div class="col-xs-6">
											Project<span class="red">*</span>：<br>
											<select  id="project">
											</select><br>
											TRR (Test Request & Report) ID<span class="red">*</span>：<br>
											<input id="trrid" type="text"><br>
											Start Time<span class="red">*</span>：<br>
											<input id="startTime" type="date"><br>
											End Time<span class="red">*</span>：<br>
											<input id="endTime" type="date"><br>
										</div>
										<div class="col-xs-6">
											BIOS Version<span class="red">*</span>：<br>
											<input id="bios" type="text"><br>
											DIAG Version<span class="red">*</span>：<br>
											<input id="diag" type="text"><br>
											CPLD Version<span class="red">*</span>：<br>
											<input id="cpld" type="text"><br>
											ONIE Version<span class="red">*</span>：<br>
											<input id="onie" type="text"><br>
										</div>
										<div class="col-xs-6">
											S/W Version<span class="red">*</span>：<br>
											<input id="sw" type="text"><br>
											H/W Version<span class="red">*</span>：<br>
											<input id="hw" type="text"><br>
											Test Type<span class="red">*</span>：<br>
											<input id="test_type" type="text"><br>
											Test Phase<span class="red">*</span>：<br>
											<input id="test_phase" type="text"><br>
										</div>
										<div class="col-xs-6">
											Boot/Loader Version<span class="red">*</span>：<br>
											<input id="boot_version" type="text"><br>
											Profile Name<span class="red">*</span>：<br>
											<input id="profile_name" type="text"><br>
											Module<span class="red">*</span>：<br>
											<input id="module" type="text"><br>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<a class="btn btn-primary" data-toggle="modal" id="createTRR">Create</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer content -->
<div class="clearfix"></div>
{% include 'main_footer.html' %}
	</div>
</div>
    {% include 'preset_js.html' %}
    <script src="{% static 'js/pm/task_list.js' %}"></script>
</body>
</html>