{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-News-20190528</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>    
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <p class="title2_news">New Release</p>
                <p class="title3_news">2019-05-28</p>
                <a href="https://newsroom.intel.com/contact-intels-public-relations-team/"
                    class="btn btn-primary btn-block intel-cta" style="width:50%">
                    Contact Intel PR </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h1 class="entry-title">Edgecore Networks and IgniteNet will present their products and solutions
                at COMPUTEX 2019</h1>
            
                <div style="text-align: justify;padding:3vw;padding-left: 0%">
                    COMPUTEX TAIPEI is the leading global ICT and IoT show covering the whole spectrum of ICT
                    industry, from established brands to startups and from ICT supply chain to IoT ecosystems.
                    Accton's subsidiaries Edgecore and IgniteNet today announced that they will participate in this
                    grand event with a complete product line fully displayed at booth P0208, Hall 2, Nangang
                    Exhibition Center from May 28 to June 1.<br>
                    &nbsp;<br>
                    Edgecore Networks offers organizations affordable, comprehensive and effective WLAN solutions
                    to meet evolving capacity and performance demands while reducing total cost of ownership. At
                    COMPUTEX, Edgecore Networks will exhibit its robust WLAN product families including WLAN
                    Gateway-Controller, Wireless Hotspot Gateway and both Indoor and Outdoor Access Points. It will
                    also be the first appearance of Edgecore's brand new outdoor AP, OAP100. With the cutting-edge
                    technology, Software Selectable Antennas and G-Sensor for antenna adjustment, OAP100 enhances
                    the simplicity and flexibility of AP deployment. On top of that, OAP100's exterior is an IP68
                    rated, rust-resistant housing that can withstand harsh weather conditions in outdoor and
                    industrial environments.<br>
                    &nbsp;<br>
                    In the same exhibition area, IgniteNet will be showcasing their award winning products,
                    MetroLinq™ 10G Tri-Band Omni &amp; MetroLinq™ 2.5G 60 PTP, offering visitors an in depth view
                    on how the revolutionary products can help them&nbsp;build rock-solid point-to-point links for
                    the backhaul or last mile access and enjoy multi-gigabit in a noise-free 60GHz spectrum.
                    IgniteNet's products pack a complex set of features without sacrificing performance, deployment
                    simplicity, and most importantly, affordability. IgniteNet's product portfolio consists of
                    Broadband Access, Wi-Fi Access and Network Switches. Whether you're setting up an
                    enterprise-type network in a corporate setting or installing an outdoor wireless broadband
                    network, IgniteNet has you covered. Behind all of the equipment is the IgniteNet Cloud,
                    bringing you easy, powerful and affordable cloud-managed Wi-Fi.<br>
                    &nbsp;<br>
                    &nbsp;<br>
                    <span style="font-size:14px;"><strong>About Edgecore Networks</strong><br>
                    Edgecore Networks Corporation is a wholly owned subsidiary of Accton Technology Corporation,
                    the leading network ODM.&nbsp;Edgecore Networks delivers wired and wireless networking products
                    and solutions through channel partners and system integrators worldwide for data center,
                    service provider, enterprise and SMB customers. Edgecore Networks is the leader in open
                    networking, providing a full line of open Wi-Fi access points, packet transponders, virtual PON
                    OLTs, and 1G, 10G, 25G, 40G, and 100G OCP-ACCEPTEDTM&nbsp;switches that offer choice of
                    commercial and open source NOS and SDN software. For more information, visit&nbsp;<a href=
                    "http://www.edge-core.com/"><span style="color:#0000FF;">www.edge-core.com</span></a><br>
                    &nbsp;<br>
                    <strong>About IgniteNet</strong><br>
                    IgniteNet, founded in 2013, is a wholly-owned subsidiary of the Accton group with headquarters
                    in Irvine, CA and offices in Europe and Asia. IgniteNet has a proven track record of producing
                    powerful, reliable, easy to deploy, and innovative cloud managed wireless solutions and the
                    industry’s lowest cost 60 GHz wireless technology through channel partners worldwide, focusing
                    on Enterprises and Service Providers. For more information, please visit&nbsp;<u><a href=
                    "http://www.ignitenet.com/"><span style=
                    "color:#0000FF;">http://www.ignitenet.com</span></a></u></span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>