{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-Telco-DCSG</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row solution">
        <div class="col-12 title1_solution">
            <h1>DCSG Solutions</h1>
        </div>

        <div class="x_panel solution">
            <p class="content_solution">
                Authorized by <a href="https://telecominfraproject.com/">TELECOM INFRA PROJECT</a><br><br>
                Disaggregated Cell Site Gateways (DCSG) is a white-box cell site gateway device based on an open and disaggregated architecture for existing 2G/3G/4G and future 5G mobile infrastructures.
            </p>
            <div class="col-xs-12 photo_demo">
                <img src="{% static '/images/solution/Telco_DCSG01.png' %}" style="width:50%">
                <img src="{% static '/images/solution/Telco_DCSG02.png' %}" style="width:50%">
                Picture: Edgecore Network's Odyssey-DCSG Router
            </div>
            <div class="col-12 title2_solution">
                <h1>Overview</h1>
            </div>
            <p class="content_solution">
                DCSG is a 1RU fully-featured cell site router with a wide range of Ethernet connectivity options for client and network sides. As a cell site gateway, DCSG supports Layer-2, Layer-3 and MPLS features - with native time synchronization protocols such as IEEE-1588 v2 and Synchronous Ethernet for the mobile base stations.
                <br><br>
                Mobile base stations typically connect to a cell site gateway using RJ45 or SFP Gigabit Ethernet interfaces. However, to accommodate the increased capacity required in modern 4G and coming 5G networks, base stations will also use 10 Gigabit Ethernet SFP+ interfaces. This makes most cell site routers currently deployed unsuitable to carry 5G base station traffic.
                <br><br>
                The Open Optical & Packet Transport (OOPT) Project Group within the Telecom Infra Project (TIP), in conjunction with several leading global mobile operators - Vodafone, Telefonica, TIM Brasil, BT, and Orange - produced the definition of an open white-box cell site gateway device that operators can widely deploy in their current 2G/3G/4G cell sites, but that also supports the port speeds and densities which will be required for 5G networks.
                <br><br>
            </p>
            <div class="col-12 title2_solution">
                <h1>In the network</h1>
            </div>
            <div class="col-xs-12 photo_demo">
                <img src="{% static '/images/solution/Telco_DCSG03.png' %}" style="width:85%">
            </div>
            <div class="col-12 title2_solution">
                <h1>At a glance</h1>
            </div>
            <p class="content_solution">
                <ul class="content_solution">
                    What: A white-box cell site gateway device based on an open and disaggregated architecture for existing 2G/3G/4G and future 5G mobile infrastructures.
                    <li class="content_solution">
                        Small physical form factor of 1RU
                    </li>
                    <li class="content_solution">
                        Optimized for 1GE, 10GE, 25GE connectivity (as shown above); 100GE connectivity (not shown)
                    </li>
                    <li class="content_solution">
                        Extended operating temperature range for cell sites
                    </li>
                    <li class="content_solution">
                        Front panel display for system operational status and easy deployment
                    </li>
                    <li class="content_solution">
                        Zero-Touch Provisioning
                    </li>
                    <li class="content_solution">
                        Deep packet buffering
                    </li>
                    <li class="content_solution">
                        Pay-As-You-Grow software packaging
                    </li>
                </ul>
                <ul class="content_solution">
                    Costs:  Designed and offered with cost sensitivity for large number of cell sites in mind, Odyssey-DCSG aims to reduce both CAPEX and OPEX without compromising features, performance, and quality
                </ul>
                <ul class="content_solution">
                    Who:  OOPT supplier partners, including Edgecore Networks, Adva, IP Infusion, and Infinera
                </ul>
                <ul class="content_solution">
                    How:  Built based on published DCSG specifications
                </ul>
                <ul class="content_solution">
                    When:  Trials in early 2019, followed by commercial availability in late 2019
                </ul>
                <ul class="content_solution">
                    Why:
                    <li class="content_solution">
                        5G Readiness: Current gateways in 4G/3G/2G networks today require capacity and connectivity upgrades because 5G base stations will require 10Gbps interfaces and backhaul traffic will exponentially grow
                    </li>
                    <li class="content_solution">
                        Open & Disaggregated Architecture: With the open hardware platform architecture, operators now have the options to choose one of several network operating systems offered by software supplier of choice
                    </li>
                    <li class="content_solution">
                        Ease of Commissioning: Odyssey-DCSG enables optimized commissioning experience for field engineers, simplifying installation process and reducing operational costs
                    </li>
                </ul>
                <br><br>
            </p>
            <div class="col-12 title2_solution">
                <h1>What next</h1>
            </div>
            <p class="content_solution">
                <ul class="content_solution">
                    <li class="content_solution">
                        Learn more at <a href="https://telecominfraproject.com/">telecominfraproject.com</a>
                    </li>
                    <li class="content_solution">
                        Join the Open Optical Packet Transport Project Group, DCSG sub-group: <a href="https://oopt.telecominfraproject.com/">telecominfraproject.com/open-optical-packet-transport/</a> to learn and contribute  
                    </li>
                    <li class="content_solution">
                        Contact us with questions or comments: <a href="mailto:OOPT-Info@telecominfraproject.com">OOPT-Info@telecominfraproject.com</a>
                    </li>
                For TELECOM INFRA PROJECT - Disaggregated Cell Site Gateway Technical Specification, please click <a href="{% static 'downloads/document/TIP_OOPT_DCSG_Technical_Specification_v1_1.pdf' %}">here</a> to download the file. 
                </ul>
            </p>
            <div class="col-xs-12 photo_demo">
                <img src="{% static '/images/solution/Telco_DCSG04.png' %}" style="width:100%">
                Copyright © 2019 Telecom Infra Project, Inc. All rights reserved.The Telecom Infra Project logo is a trademark of Telecom Infra Project, Inc. in the United States or other countries, and is registered in one or more countries. THIS DOCUMENT IS PROVIDED “AS IS” AND WITHOUT ANY WARRANTY OF ANY KIND.
            </div>
        </div>
    </div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>