{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-SD_WAN</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row solution">
        <div class="col-12 title1_solution">
            <h1>SD-WAN Solutions</h1>
        </div>

        <div class="x_panel solution">
            <div class="col-12 title2_solution">
                <h1>Feature-rich ARM-based virtual network edge device white box</h1>
            </div>
            <p class="content_solution">
                As various software services migrate to the cloud, Accton’s dedicated engineering teams are surging
                ahead to develop open, software-defined network (SDN) platforms that will provide the foundation of the
                emerging next-generation networks. Part of this development involves the transformation of WAN networks
                into software-defined WANs (SD-WANs).
                <br><br>
                Most traditional WANs use Multiprotocol Label Switching (MPLS) networks to link remote sites to a
                central data center in what is essentially a private, static architecture. These networks are expensive
                and complex to set up and operate, and are known to be networks lacking flexibility and scalability.
                SD-WANs employ the concept of abstraction to define software capabilities that are independent of the
                underlying hardware, enabling software services and applications to run over various networks and bring
                a high level of flexibility and agility. Rather than just replacing existing MPLS networks, SD-WANs
                operate as an “overlay” on all old and new network links, delivering a secure, reliable business-grade
                performance that organizations demand.
                <br><br>
                Typically, SD-WANs are deployed as edge appliances or as a service. Edge appliances are installed at
                every location and connect to MPLS networks, the Internet, and often other networks (Wi-Fi, LTE/5G
                etc.). These edge appliances have also been evolving into flexible Universal Customer Premise Equipment
                (uCPE) devices that perform Network Functions Virtualization (NFV), security, firewall, and other
                services. Based on open hardware, a uCPE is a network appliance that can be automatically provisioned,
                authenticated, and configured from a central location without requiring administrator installation. With
                optimum flexibility and cost-effectiveness, uCPE devices provide a secure virtualized network that can
                support a range of services and applications at either an enterprise data center, at branch locations,
                or in the cloud.

            </p>

            <div class="row">
                <img src="{%static '/images/solution/sl_sdwan_fig00.jpg' %}" class="center-block img-thumbnail"
                    style="width:30%">
                <p class="content_solution">
                    Accton’s open, software-defined network solutions offer a line of flexible SD-WAN/uCPE appliances
                    that can function as middle to high-level network computing hardware platforms. These devices are
                    based on NXP ARMv8 processors that deliver high-performance general computing power, network
                    virtualization, crypto engines, and high-bandwidth network throughput that can support demanding NFV
                    services. The platforms are truly open, either install an available operating system and application
                    software that suits your needs, or build your own customized security device that represents a solid
                    future-proof investment.
                </p>
            </div>

            <div class="row content_solution" style="text-align: center">
                <div class="col-md-4 col-xs-4">
                    <img src="{%static '/images/solution/sl_sdwan_icon01.png'%}" style="width:30%">
                    <p class="content_solution" style="color:#6AB7E7">Virtualization</p>
                    <p class="content_solution">Network virtualization open-source SDK support</p>

                </div>
                <div class="col-md-4 col-xs-4">
                    <img src="{%static '/images/solution/sl_sdwan_icon02.png'%}" style="width:30%">
                    <p class="content_solution" style="color:#6AB7E7">Agility</p>
                    <p class="content_solution">Common hardware design with agile computing, networking, memory and
                        storage configuration options</p>

                </div>
                <div class="col-md-4 col-xs-4">
                    <img src="{%static '/images/solution/sl_sdwan_icon02.png'%}" style="width:30%">
                    <p class="content_solution" style="color:#6AB7E7">Flexibility</p>
                    <p class="content_solution">Flexible hardware platform with performance scaling, virtualization and
                        security acceleration variations</p>
                </div>
            </div>
            <div class="title3_solution">
                Accton VED2181F Platform
            </div>
            <div class="row">
                <p class="content_solution">
                    The VED2181F is a high-performance open virtual edge appliance platform based on ARMv8 processor
                    with packet processing acceleration and high-speed peripherals. The VED2181F hardware platform
                    supports a range of Gigabit Ethernet interfaces, memory, storage configuration, and optional Wi-Fi
                    and/or LTE connectivity. The design includes internal eMMC, M.2 and 2.5″ disk drives, all contained
                    within a desktop or 19” 1U rack-mount form factor.
                </p>
                <div class="center-block" style="text-align: center">
                    <img src="{%static '/images/solution/sl_sdwan_fig01-600x386.png' %}" style="width:30%">
                    <img src="{%static '/images/solution/sl_sdwan_fig02-600x387.png' %}" style="width:30%">
                </div>
            </div>

            <div class="title3_solution">
                Accton VED1141F Platform
            </div>
            <div class="row">
                <p class="content_solution">
                    The VED1141F is a cost-effective ARM-based hardware platform for small remote branch offices, home
                    offices, and telecommuter entries. The design includes inexpensive storage expansion options via an
                    onboard eMMC and/or an SD card slot, and optional Wi-Fi and/or LTE wireless connectivity. The device
                    supports one 1GE RJ-45 copper uplink and 4-port 1GbE RJ-45 copper LAN interfaces.
                </p>
                <img src="{%static '/images/solution/sd-1.png' %}" class="center-block img-thumbnail" style="width:30%">
                <img src="{%static '/images/solution/sd-2.png' %}" class="center-block img-thumbnail" style="width:30%">
            </div>
            <div class="title3_solution">
                SD-WAN/uCPE Solution Platforms
            </div>
            <div class="row">
                <p class="content_solution">
                    The following table provides a summary of Accton’s SD-WAN/uCPE solution platforms.
                </p>
                <img src="{%static '/images/solution/sd-table.png' %}" class="center-block img-thumbnail" style="width:45%">

            </div>


        </div>

    </div>
</div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>