{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-Introduction</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row accton">
        <div class="col-12 title1_solution">
            <span id="accton">Accton Corp</span>
        </div>

        <div class="x_panel">
            <img src="{%static '/images/logo/accton.png' %}" class="intro_img">

            <div class="row">

                <p class="content_solution">
                    At the very beginnings of the Internet era in 1988, a small group of enthusiastic engineers started
                    Accton Technology Corporation with a vision of the importance that networking products would have in
                    the future of computing. From basic Ethernet and Token-Ring products, Accton grew rapidly to become
                    a major OEM/ODM supplier for global top-tier players, gaining recognition for technical innovation
                    and manufacturing quality. With the success of the company being propelled by the Internet boom,
                    Accton eventually moved to Taiwan’s Hsinchu Science Park where its international headquarters
                    remains today.
                    <br><br>
                    Now, after 30 years of network product design and development experience, Accton has a
                    highly-qualified global workforce that produces leading-edge products that are affordable and
                    reliable. As a leader in the design of open hardware platforms for data center, carrier access, and
                    campus networks, Accton works closely with its long-term global partnerships to deliver the
                    next-generation designs that customers demand.
                    <br><br>
                    As Accton has expanded into a group of companies, it remains an active participant in local society
                    with a strong sense of social responsibility, supporting environmental awareness in all its designs
                    and manufacturing processes. Looking to the future, Accton’s vision and mission can be summarized by
                    the following:
                    <br>
                    <br>●To passionately deliver the best quality IP-centric network solutions.
                    <br>●To maintain a global leadership in open IT infrastructure.
                    <br>●To contribute and care for the community by leveraging our technology.
                    <br><br>
                    Accton has a policy to always maintain the highest integrity and honesty when conducting business.
                    The company slogan, “Making Partnership Work,” demonstrates Accton’s total commitment to its
                    partners and how it places the highest value on forming long-term partnerships that create maximum
                    benefit for all.

                </p>
            </div>



        </div>

    </div>
    <div class="row accton">
        <div class="col-12 title1_solution">
            <span id="edgecore">Edgecore Corp</span>
        </div>

        <div class="x_panel">
            <img src="{%static '/images/logo/edgecore.png' %}" class="intro_img">
            <div class="row">
                <p class="content_solution">
                    Edgecore Networks Corporation is a wholly-owned subsidiary of Accton Technology Corporation, the
                    leading network ODM. Edgecore Networks delivers wired and wireless networking products and solutions
                    through channel partners and system integrators worldwide for data center, service provider,
                    enterprise, and SMB customers. Edgecore Networks is the leader in open networking providing a full
                    line of 1GbE, 10GbE, 25GbE, 40GbE, 50GbE, and 100GbE open and OCP switches that offer choice of NOS
                    and SDN software for data center, telecommunications, and enterprise network use cases.
                    <br><br>
                    Headquartered in the Hsinchu Science Park in northern Taiwan, Edgecore Networks was established in
                    2004 and formally spun-off in 2010 into an independent subsidiary responsible for global branded
                    business from the Accton Technology Group (www.accton.com) with a global presence in the US, UK,
                    Poland, Russia, Turkey, Brazil, Singapore, Indonesia, and India.
                    <br><br>
                    “TRANSFORMING THE WAY THE WORLD CONNECTS” is the slogan of the company. Edgecore Networks offers
                    scalable, converged networking solutions to best meet different customer needs and targeting data
                    center, telecommunication service providers, managed service providers, and enterprise.
                    <br><br>
                    Vision
                    The growth of cloud computing and the Internet of Things, along with the rise of open-source
                    technologies and communities, is transforming how IT is developed, delivered, and used by businesses
                    and consumers.<br>
                    Within an ecosystem of commercial partners and open-source communities, Edgecore Networks delivers
                    networking solutions based on open hardware and software platforms that increase choice, freedom,
                    greater control, encourage and quicken innovation, lower TCO, and stimulate new business models.
                    Edgecore Networks a leader in Open Networking
                </p>
            </div>



        </div>

    </div>
    <div class="row accton">
        <div class="col-12 title1_solution">
            <span id="ignitenet">Ignitenet</span>
        </div>

        <div class="x_panel">
            <img src="{%static '/images/logo/ignitenet.png' %}"class=" intro_img">
            <div class="row">
                <p class="content_solution">
                    Managed Wi-Fi, like you've never seen before! Empower consumer devices to do so much more than the
                    previous generation by enabling IgniteNet access points and switches to deliver additional value
                    through our ever-expanding collection of apps and services. Increase recurring revenue, reduce
                    customer churn, increase your brand value and build new service markets to grow your business.
                    <br><br>
                    IgniteNet is taking a fresh approach to wireless and wired networks with a focus on simplicity, ease
                    of use and performance. We provide the easiest and lowest cost way for you to grow your network.
                    Whether you're setting up an enterprise-type network in a corporate setting or installing an outdoor
                    wireless broadband network we have you covered. Behind all of our equipment is the IgniteNet Cloud,
                    bringing you easy, powerful and affordable cloud-managed WiFi.
                </p>
            </div>



        </div>

    </div>
</div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>