{% extends 'SONiCProducts/products_template.html' %}
{% load staticfiles %}
{% block title %} TMS-AS8000 {% endblock %}

{% block picture %}
	<div class="slider-for">
		<img src="{% static 'images/products/400g/as8000/as8000-1.png' %}" alt="">
		<img src="{% static 'images/products/400g/as8000/as8000-2.png' %}" alt="">
		<img src="{% static 'images/products/400g/as8000/as8000-3.png' %}" alt="">
		<img src="{% static 'images/products/400g/as8000/as8000-4.png' %}" alt="">
	</div>
	<div class="slider-nav">
		<img src="{% static 'images/products/400g/as8000/as8000-1.png' %}" alt="">
		<img src="{% static 'images/products/400g/as8000/as8000-2.png' %}" alt="">
		<img src="{% static 'images/products/400g/as8000/as8000-3.png' %}" alt="">
		<img src="{% static 'images/products/400g/as8000/as8000-4.png' %}" alt="">
	</div>
{% endblock %}

{% block productSummary %}
<h2>Minipack AS8000 Open Modular Platform</h2>
<h4>100G and 400G Switching for data Center Fabric and Central Office</h4>
<p>Edgecore's Minipack AS8000 switch is a disaggregated open network system providing a flexible mix of 100GbE and 400GbE ports with a system capacity of up to 12.8Tbps. Minipack is ideal for next generation high capacity data center fabrics, internet exchanges, and high bandwidth service provider infrastructures with the flexibility and cost benefits of open networking.</p>
{% endblock %}

{% block Overview %}
<p class="content2 font2">The Minipack AS8000 switch is a modular system capable of supporting a mix of 100G and 400G Ethernet interfaces up to a maximum of 128x100G or 32x400G ports.  Minipack is based on an internal main switch board with Broadcom StrataXGS Tomahawk™ III Switch Series silicon capable of line rate 12.8Tbps Layer2 and Layer3 switching.  The Minipack front panel has eight slots for port interface modules (PIM). The first PIM options available for the Edgecore Minipack switch are the PIM-16Q with 16x100G QSFP28 ports, and the PIM-4DD with 4x400G QSFP-DD ports. The Minipack modular switch is a 4U form factor, power optimized for data center deployments, and provides hot-swappable redundant power supplies and fans to meet high availability requirements.</p>
{% endblock %}

{% block specs %}
	<table class="table table-bordered table-striped">
		<colgroup>
			<col class="col-xs-6">
			<col class="col-xs-6">
		</colgroup>
		<tbody>
			<tr>
				<th><div class="specs_title">Ports</div></th>
				<td class="common-style-font2 content">32</td>
			</tr>
			<tr>
				<th><div class="specs_title">Predominant Port Type</div></th>
				<td class="common-style-font2 content">100GbE QSFP28, 400G QSFP-DD </td>
			</tr>
			<tr>
				<th><div class="specs_title">High Availability</div></th>
				<td class="common-style-font2 content">Redundant Power Supply, Redundant Fans</td>
			</tr>
			<tr>
				<th><div class="specs_title">Compatible Soft Option</div></th>
				<td class="common-style-font2 content">Cumulus Networks - Cumulus Linux , Microsoft - SONiC</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block features %}
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>Cost-effective, bare-metal infrastructure for data center fabric.</li>
				<li>Next generation of leaf/spine fabrics network with high capacity fabrics with ﬂexible combinations of 100G and 400G interfaces.</li>
				<li>Open modular system with QSFP28 non-blocking switch ports, each supporting 1 x 100G, 2 x 50G, 1 x 40G, 4 x 25G or 4 x 10G and QSFP-DD ports, each supporting 400G.</li>
				<li>Full line-rate Layer 2 or Layer 3 forwarding.</li>
				<li>All ports on front; PSUs, fan modules on rear.</li>
			</ul>
		</div>
	</div>
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>Hot-swappable, load sharing, redundant AC power input options.</li>
				<li>Hot swappable redundant fan modules.</li>
				<li>Hardware switch pre-loaded with Open Network Install Environment (ONIE) for automated loading of compatible open source and commercial NOS offerings.</li>
				<li>Software Options: Open Network Linux (ONL), the open source OCP reference NOS, SONiC open source network software, Cumulus ® Linux ®</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block downloads %}
	<table class="table Table table-hover">
		<tbody>
			<tr class="tr-only-hide">
				<th>Category</th>
				<th>Name</th>
				<th>Rev</th>
				<th>Release Notes</th>
				<th>Date</th>
				<th>Note</th>
				<th>Download</th>
			</tr>
			<tr>
				<td data-th="Category">Datasheet</td>
				<td data-th="Name">Minipack AS8000 DS R01</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2019-03-14</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/400g/as8000/Minipack_DS_R01_20190312.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Firmware</td>
				<td data-th="Name">SONiC image</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notesev">n/a</td>
				<td data-th="Date">n/a</td>
				<td data-th="Note">
					<a href="/sonic/accton/download"><span class="badge badge-pill badge-primary jumpDownload">More available</span>
				</td>
				<td data-th="Download">
					<a id="SONiC_Image_Downloads" href="#"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}