{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>TMS-Knowledgebase</title>
	{% include 'preset_style.html' %}
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/product.css' %}" rel="stylesheet">
	<link href="{% static 'vendors/additional/kb.css' %}" rel="stylesheet">
	<link href="{% static 'vendors/additional/common.css' %}" rel="stylesheet">
	<link href="{% static 'vendors/additional/faq.css' %}" rel="stylesheet">
</head>
{% include 'template_sonic.html' %}

<div class="right_col" role="main">
	<!-- ---- ---- ---- Main client area ---- ---- ---- -->
	<!-- ---- ---- ---- Main client area ---- ---- ---- -->
	<!-- breadcomb -->
	<!-- ----     page content     ---- -->
	<!-- ----     page content     ---- -->
	<!-- ----     page content     ---- -->
	<!-- ----     page content     ---- -->
	<!-- ----     page content     ---- -->
	<!-- ----     page content     ---- -->
	<img src="{%static '/images/kb/kb-banner.jpg' %}" style="width:100%">
	<div class="container-fluid">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
			<div class="col-md-8">
				<h1 id="Overview">How to start using our website</h1>
				<h4 style="margin-left:3%;"> This is a simple template for Knowledgebase.</h4>
				<div class="col-md-12 skip-frame">
					<h2>
						SKIP AHEAD TO
					</h2>
					<div class="common-font1 kb-font1 clickable">
						<a href="#Asan-data">Asana data structure</a>
					</div>
					<div class="common-font1 kb-font1 clickable">
						<a href="#Create">Create your first project</a>
					</div>
					<div class="common-font1 kb-font1 clickable">
						<a href="#Organize">Organize your project</a>
					</div>
					<div class="common-font1 kb-font1 clickable">
						<a href="#sonic-1">SONiC: Enabling Fast Evolution in the Network</a>
					</div>
					<div class="common-font1 kb-font1 clickable">
						<a href="#sonic-2">SONiC Programmability, Extensibility and Beyond</a>
					</div>
					<div class="common-font1 kb-font1 clickable">
						<a href="#sonic-3">OCP Networking Workshop - Breakout SONiC Software</a>
					</div>
					<div class="common-font1 kb-font1 clickable">
						<a href="#sonic-4"> SONiC: Enabling Fast Evolution in the Network</a>
					</div>
				</div>
				<div class="col-md-12 content-area">
					<li class="title" id="Test1"><a name="Asan-data">How is information stored in Asana?</a></li>
					<div class="content">
						Asana domains are based around a shared company email address, so as you invite teammates (or
						get
						invited) you will join the same domain. Here’s how Asana is organized:
						<ol>
							<li>Organizations are based on your company’s shared email domain, and connect everybody
								within your
								company that uses Asana. Organizations (not Workspaces) are intended for businesses,
								companies,
								and professional uses of Asana. Access your Organization settings by clicking your
								avatar.</li>
							<li>The sidebar is a launching point for key actions. This is where you can check and
								respond to notifications in Inbox, see all tasks assigned to you in My Tasks, and where
								you can save reports, like for at-risk work or approvals.</li>
							<li>Portfolios store groups of projects. You can use them to see all the projects and status
								updates towards an initiative or objective in one place.</li>
							<li>Teams are functional groups in an Organization that likely correspond to general teams
								at your company like marketing or sales. Above, we see the Marketing team of Apollo
								Enterprises</li>
							<li>
								Projects track all the actionable steps, information, and communications towards
								achieving a goal, initiative, or objective. Kat Mooney is a member of four projects
								within the Design team of Apollo’s Asana Organization: design requests, weekly critique,
								web design, and marketing assets.
							</li>
						</ol>
					</div>
					<li class="title" id="Test1"><a name="Create">1. Create your first project</a></li>
					<div class="content">
						Asana domains are based around a shared company email address, so as you invite teammates (or
						get
						invited) you will join the same domain. Here’s how Asana is organized:
						<ol>
							<li>Organizations are based on your company’s shared email domain, and connect everybody
								within your
								company that uses Asana. Organizations (not Workspaces) are intended for businesses,
								companies,
								and professional uses of Asana. Access your Organization settings by clicking your
								avatar.</li>
							<li>The sidebar is a launching point for key actions. This is where you can check and
								respond to notifications in Inbox, see all tasks assigned to you in My Tasks, and where
								you can save reports, like for at-risk work or approvals.</li>
							<li>Portfolios store groups of projects. You can use them to see all the projects and status
								updates towards an initiative or objective in one place.</li>
							<li>Teams are functional groups in an Organization that likely correspond to general teams
								at your company like marketing or sales. Above, we see the Marketing team of Apollo
								Enterprises</li>
							<li>
								Projects track all the actionable steps, information, and communications towards
								achieving a goal, initiative, or objective. Kat Mooney is a member of four projects
								within the Design team of Apollo’s Asana Organization: design requests, weekly critique,
								web design, and marketing assets.
							</li>
						</ol>
					</div>
					<li class="title" id="Test1"><a name="Organize">2. Organize your project</a></li>
					<div class="content">
						Asana domains are based around a shared company email address, so as you invite teammates (or
						get
						invited) you will join the same domain. Here’s how Asana is organized:
						<ol>
							<li>Organizations are based on your company’s shared email domain, and connect everybody
								within your
								company that uses Asana. Organizations (not Workspaces) are intended for businesses,
								companies,
								and professional uses of Asana. Access your Organization settings by clicking your
								avatar.</li>
							<li>The sidebar is a launching point for key actions. This is where you can check and
								respond to notifications in Inbox, see all tasks assigned to you in My Tasks, and where
								you can save reports, like for at-risk work or approvals.</li>
							<li>Portfolios store groups of projects. You can use them to see all the projects and status
								updates towards an initiative or objective in one place.</li>
							<li>Teams are functional groups in an Organization that likely correspond to general teams
								at your company like marketing or sales. Above, we see the Marketing team of Apollo
								Enterprises</li>
							<li>
								Projects track all the actionable steps, information, and communications towards
								achieving a goal, initiative, or objective. Kat Mooney is a member of four projects
								within the Design team of Apollo’s Asana Organization: design requests, weekly critique,
								web design, and marketing assets.
							</li>
						</ol>
					</div>
			<div class="col-sm-9 col-xs-8">
				<li class="title" id="Test1"><a name="sonic-1">SONiC: Enabling Fast Evolution in the Network </a></li>
				<h5 style="margin-left: 3%;"> We built the these intelligence into Software for Open Networking in the
					Cloud (SONiC).<br> </h5>
				<div class="youtube">
					<iframe src="https://www.youtube.com/embed/DvFTCpwnUQ4" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-sm-9 col-xs-8">
				<li class="title" id="Test2"><a name="sonic-2"> SONiC Programmability, Extensibility and Beyond </a></li>
				<h5 style="margin-left: 3%;"> SONiC is a containerized, open sourced switch OS created for cloud-scale
					networking.<br> </h5>
				<div class="youtube">
					<iframe src="https://www.youtube.com/embed/TLi5n0cZbz0" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-sm-9 col-xs-8">
				<li class="title" id="Test3"><a name="sonic-3"> OCP Networking Workshop - Breakout SONiC Software Architecture </a></li>
				<h5 style="margin-left: 3%;"> We built the these intelligence into Software for Open Networking in the
					Cloud (SONiC).<br> </h5>
				<div class="youtube">
					<iframe src="https://www.youtube.com/embed/wU-j68wYB0Q" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-sm-9 col-xs-8">
				<li class="title" id="Test4"><a name="sonic-4"> SONiC: Enabling Fast Evolution in the Network </a></li>
				<h5 style="margin-left: 3%;"> We built the these intelligence into Software for Open Networking in the
					Cloud (SONiC).<br> </h5>
				<div class="youtube">
					<iframe src="https://www.youtube.com/embed/DvFTCpwnUQ4" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>
			</div>
			
		</div>
		<div class="col-md-4">
				<div class="right-frame">
					<h1>FAQ</h1>
					<details>
							<summary>
								<b class="summary">What is SONiC?</b>
							</summary>
							<p class="answer">SONiC is a collection of networking software components required to have a fully functional L3 device. It is designed meet the requirements of a cloud data center. It is fully open-sourced at OCP.</p>
						</details>
						<details>
							<summary>
								<b class="summary">Is SONiC a Linux distribution?</b>
							</summary>
							<p class="answer">No. SONiC is Linux-based, but is not a distribution by itself. Today, SONiC runs on Debian Jessie. SONiC has also been ported to Ubuntu (as a snap).</p>
						</details>
						<details>
							<summary>
								<b class="summary">How can I get SONiC?</b>
							</summary>
							<p class="answer">If you clone the sonic-buildimage repo and follow the instructions there, you should be able to produce the SONiC image yourself. Our Jenkins server also produces a regular build. So you can download the image there as well. The list of supported devices and ASICs are maintained here.</p>
						</details>
						<b><a href="/sonic/accton/faq">See More FAQs...</a></b>
				</div>
				<div class="right-frame">
					<h1>Forum<small>- HOT TOPIC</small></h1>
					<h2>
					<ol>
						<li>Issue in fancontrol start</li>
						<li>Why ixgbe drive need to build as externel moudule?</li>
						<li>port breakout</li>
					</ol>
					</h2>
					<b><a href="/sonic/accton/faq">See More Topics...</a></b>
				</div>
				<div class="right-frame">
					<h1>Video</h1>
					<a href="/sonic/accton/videos">
						<img class="u2icon" src="../../../static/images/video/01.png" data-toggle="modal" data-target="#show" style="width:100%">
					</a>
					<button type="button" class="btn btn-default btn-lg" style="margin:10px">
						<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-lg" style="margin:10px">
						<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
					</button>
					<b><a href="/sonic/accton/videos">See More Videos...</a></b>
				</div>
				<div class="right-frame">
					<h1>Latest News</h1>
					<h2>
						New product's releasing
					</h2>
				</div>
			</div>
		</div>
		<!-- <div class="col-sm-2 list">
			<div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item" value="overview" id="title">Overview<span class="badge">4</span></li>
					<div id="overview" class="sub-title">
						<a href="#Overview">
							<li class="list-group-item sub-list">Accton</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">EdgeCore</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">SONiC</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">TMS</li>
						</a>
					</div>
					<li class="list-group-item" value="accton" id="title">Accton<span class="badge">4</span></li>
					<div id="accton" class="sub-title">
						<a href="#Overview">
							<li class="list-group-item sub-list">aaa</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">EdgeCore</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">SONiC</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">TMS</li>
						</a>
					</div>
					<li class="list-group-item" value="edgecore" id="title">EdgeCore<span class="badge">4</span></li>
					<div id="edgecore" class="sub-title">
						<a href="#Overview">
							<li class="list-group-item sub-list">bbb</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">EdgeCore</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">SONiC</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">TMS</li>
						</a>
					</div>
					<li class="list-group-item" value="sonic" id="title">SONiC<span class="badge">4</span></li>
					<div id="sonic" class="sub-title">
						<a href="#Overview">
							<li class="list-group-item sub-list">ccc</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">EdgeCore</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">SONiC</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">TMS</li>
						</a>
					</div>
					<li class="list-group-item" value="tms" id="title">TMS<span class="badge">4</span></li>
					<div id="tms" class="sub-title">
						<a href="#Overview">
							<li class="list-group-item sub-list">ddd</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">EdgeCore</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">SONiC</li>
						</a>
						<a href="#Overview">
							<li class="list-group-item sub-list">TMS</li>
						</a>
					</div>
				</ul>
			</div>
		</div> -->
	</div>
	<!-- footer content -->
	<footer>
		<div class="container">
			<div class="pull-left">Powered by Accton Technology &copy;</div>
		</div>
	</footer>
	{% include 'preset_js.html' %}
	<!-- Additional JS-->
	<script src="{% static 'js/sonic/product.js' %}"></script>
	<script src="{% static 'js/sonic/location.js' %}"></script>
	</body>

</html>