{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-Accton Video</title>
	{% include 'preset_style.html' %}
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/video.css' %}" rel="stylesheet">
</style>
</head>
{% include 'template_sonic.html' %}
<div class="right_col" role="main">
	<div class="x_panel">
		<div class="videoSort">
			<div class="col-sm-4 col-xs-6">
				<div id="typeSelect" class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">By Type<span class="caret"></span></button>
					<ul class="dropdown-menu">
					</ul>
				</div>
			</div>
			<div class="col-sm-4 col-xs-6">
				<div id="bandwidthSelect" class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">By Bandwidth<span class="caret"></span></button>
					<ul class="dropdown-menu">
					</ul>
				</div>
			</div>
			<div class="col-sm-4 col-xs-6">
				<button id="apply" class="btn btn-info" type="button" style="float:right;">Apply</button>
			</div>
		</div>
		<div id="video">
			<div class="col-sm-4 col-xs-12">
				<!-- Button trigger modal -->
				<!-- Modal -->
				<div class="modal" id="a" role="dialog" aria-hidden="true" value="y">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe id="y" width="891" height="501" class="embed-responsive-item" src="" allowfullscreen></iframe>
								</div>						
							</div>
							<div class="modal-footer">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>  
</div>
</div></div>
<!-- footer content -->
<footer>
	<div class="container">
		<div class="pull-left">Powered by Accton Technology &copy;</div>
	</div>
</footer>
	{% include 'preset_js.html' %}
	<!-- Additional JS-->
	<script src="{% static 'js/sonic/video.js' %}"></script>

</body>
</html>