{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-Fourth Quarter and Full Year 2018 Results</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row solution">
        <div class="col-12 title1_solution">
            <h1>Fourth Quarter and Full Year 2018 Results (Consolidated)</h1>
        </div>

        <div class="x_panel solution">
            <p class="content_solution">
                HSINCHU, Taiwan, March 21, 2019 – Accton Technology Corporation (Accton) (TWSE: 2345), a premier
                provider of communication solutions, today reported the financial results for its fourth quarter and
                year ended December 31, 2018. The consolidated sales revenue for fourth quarter was NT$13.03 billion, an
                increase of 27.87% year-on-year, and net income was NT$799 million, and NT$1.44 per share.

                The cumulative consolidated sales revenue for the year ended December 31, 2018 totaled approximately
                NT$43.09 billion, an increase of 18.23% year-on-year. Net income for the twelve-month period ended
                December 31, 2018 was NT$2.95 billion, and NT$5.33 per share.

            </p>
            <div class="title3_solution">
                News Contact
            </div>
            <div class="row">
                <div class="col-md-5 caption news_contact col-md-offset-1">
                    
                        <div class="col-md-2">
                            <img src="{%static '/images/icon/man.png'%}" style="width:5vw">
                        </div>
                        <div class="col-md-10">
                            <h3>Company Spokeman</h3>
                            <p>Edward Lin</p>
                            <p>E-mail: edlin@accton.com</p>
                            <p>Tel: 03-5770270 ext: 1526</p>
                        </div>
                </div>
                <div class="col-md-5 caption news_contact col-md-offset-1">
                        <div class="col-md-2">
                            <img src="{%static '/images/icon/man.png'%}" style="width:5vw">
                        </div>
                        <div class="col-md-10">
                            <h3>Deputy Spokesperson</h3>
                            <p>Wenshan Chen</p>
                            <p>E-mail: wenshan_chen@accton.com</p>
                            <p>Tel: 03-5770270 ext: 1534</p>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>