<footer class="footer common-font">
	<div class="clearfix"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="col-xs-6">
					<h2 class="footer-title">About Us</h2>
					<ul class="footer-ul common-font1">
						<li>
							<a href="/sonic/about_us/introduction">Accton Corp</a>
						</li>
						<li>
							<a href="/sonic/about_us/introduction#edgecore">Edgecore Corp</a>
						</li>
						<li>
							<a href="/sonic/about_us/introduction#ignitenet">Ignitenent</a>
						</li>
						<li>
							<a href="/sonic/about_us/arts_foundation">Accton Arts Foundation</a>
						</li>
						<li>
							<a href="/sonic/about_us/charitable">Accton Charitable Foundation</a>
						</li>
						<li>
							<a href="/sonic/about_us/news">News</a>
						</li>
						<li>
							<a href="/sonic/about_us/investor">Investor Relationships</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-6">
					<h2 class="footer-title">Solutions</h2>
					<ul class="footer-ul">
						<li>
							<a href="/sonic">Open Networking Solutions</a>
						</li>
						<li>
							<a href="/sonic/carrier_access">Carrier Access Solutions</a>
						</li>
						<li>
							<a href="/sonic/iot">IoT Integration Solutions</a>
						</li>
						<li>
							<a href="/sonic/sd_wan">SD-WAN Solutions</a>
						</li>
						<li>
							<a href="/telco/vOLT_concepts">vOLT Solutions</a>
						</li>
						<li>
							<a href="/telco/roadm">ROADM Solutions - Cassini</a>
						</li>
						<li>
							<a href="/telco/dcsg">DCSG Solutions</a>
						</li>
						<li>
							<a href="/telco/disaggrated_network_solution">Disaggragted Network Solutions</a>
						</li>
						<li>
							<a href="/telco/cpes">CPEs Virtualization</a>
						</li>
						<li>
							<a href="/telco/tip">TIP and Open Packet Transponder</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="col-xs-6">
					<h2 class="footer-title">Support</h2>
					<ul class="footer-ul">
						<li>
							<a href="/sonic/accton/download">Downloads</a>
						</li>
						<li>
							<a href="/sonic/accton/kb">Knowledge Base</a>
						</li>
						<li>
							<a href="/sonic/accton/wiki">Wiki</a>
						</li>
						<li>
							<a href="/sonic/accton/faq">FAQs</a>
						</li>
						<li>
							<a href="/sonic/accton/forum">Forum</a>
						</li>
						<li>
							<a href="/sonic/accton/resources/whitepaper">White Paper</a>
						</li>
						<li>
							<a href="/sonic/accton/videos">Technical Videos</a>
						</li>
						<li>
							<a href="/sonic/accton/webinar">Webinar</a>
						</li>
						<li>
							<a href="/sonic/accton/sonic_now">SONiC Now</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-6">
					<h2 class="footer-title">How to Buy</h2>
					<ul class="footer-ul">
						<li>
							<a href="/sonic/wheretobuy">Where to Buy</a>
						</li>
						<li>
							<a href="/sonic/sales_contact">Contact Sales</a>
						</li>
						<li>
							<a href="/sonic/accton/contact_us">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
			
		</div><!-- /footer content -->
		<div class="footer-bottom common-font1">
			Powered by Accton Technology &copy;
		</div>
	</div>
</footer>