{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>TMS-Overview</title>
	{% include 'preset_style.html' %}
</head>
{% include 'template_common.html' %}
			<div class="right_col" role="main">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="x_panel tile fixed_height_390">
							<div class="x_panel tile">
								<div class="x_title" style="color: #ffffff; background: #1122FF; padding: 5px;">
									<h2>Systems</h2>
									<ul class="nav navbar-right panel_toolbox"></ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<a href="/system/" style="color: #880000;">Data Center Logical view</a>
									<div class="clearfix"></div>
									<div class="row">
										<div class="col-md-4 col-sm-4">
											<div class="panel-group">
												<div class="panel panel-default">
													<div class="panel-heading">
														Systems
													</div>
													<div class="panel-Content">
														Total Systems: 96
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading">
														Processors:
													</div>
													<div class="panel-Content">
														Total Processors: 20
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading">
														Memory
													</div>
													<div class="panel-Content">
														Total Memory: 800GB
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading">
														Storage
													</div>
													<div class="panel-Content">
														Direct-Attached Storage: 1600 TB
													</div>
												</div>
											</div>
										</div><!-- class="col-md-4 -->
										<div class="col-md-8 col-sm-8">
											<div class="x_panel">
												<canvas id="pieChart"></canvas>
											</div>
										</div><!--
		
							<div class="x_panel">
		
								<div class="x_title">
									Pie Graph Chart <small>Sessions</small>
									<ul class="nav navbar-right panel_toolbox"></ul>
									<div class="clearfix"></div>
								</div>
		
								<div class="x_content">
									<canvas id="pieChart"></canvas>
								</div>
		
							</div>
		-->
										<!-- pie chart here -->
										<!--
									<div class="col-md-8">
											col-md-8 starts
		<div class="chart-container" style="position: relative; height:300; width:300">
			canvas starts here
											<canvas id="myChart" width="400" height="300"></canvas>
											<script>
												var ctx = document.getElementById("myChart");
												var myChart = new Chart(ctx,
												{
													type: 'pie',
													data: {
														labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
														datasets: [{
															label: 'System Health Summary',
															data: [3, 3, 6, 50, 1, 1],
															backgroundColor: [
																'rgba(255, 99,  132, 0.2)',
																'rgba( 54, 162, 235, 0.2)',
																'rgba(255, 206,  86, 0.2)',
																'rgba( 75, 192, 192, 0.2)',
																'rgba(153, 102, 255, 0.2)',
																'rgba(255, 199,  64, 0.2)'],
															borderColor: [
																'rgba(255,  99, 132,  1)',
																'rgba( 54, 162, 235,  1)',
																'rgba(255, 206,  86,  1)',
																'rgba( 75, 192, 192,  1)',
																'rgba(153, 102, 255,  1)',
																'rgba(255, 159,  64,  1)'],
															borderWidth: 1
															}]
														  },
													options: {
														scales: {
															yAxes: [{
																ticks: {
																	beginAtZero:true
																	   }
																   }]
																}
															 }
												});
											</script>
		
		</div>
		
		end col-md-8
		
		
		-->
									</div>
								</div>
							</div>
						</div>
					</div><!-- <div class="col-md-6 "Systems" col-sm-6 col-xs-12"> -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="x_panel tile fixed_height_390">
							<div class="x_title" style="color: #ffffff; background: #1122FF; padding: 5px;">
								<h2>Asset Management(Components)</h2>
								<ul class="nav navbar-right panel_toolbox"></ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<a href="/components/1" style="color: #880000;">Data Center View</a>
								<div class="clearfix"></div>
								<div class="row">
									<div class="col-md-4 col-sm-4">
										<div class="panel panel-default">
											<div class="panel-heading">
												Systems
											</div>
											<div class="panel-Content">
												Total Systems: 96
											</div>
											<div class="panel-Content">
												Total Processors: 20
											</div>
											<div class="panel-Content">
												Total Memory: 800GB
											</div>
											<div class="panel-Content">
												DAS: 1600 TB
											</div>
											<div class="panel-Content">
												NVMe: 250 TB
											</div>
											<div class="panel-Content">
												&nbsp;
											</div>
											<div class="panel-Content">
												&nbsp;
											</div>
											<div class="panel-Content">
												&nbsp;
											</div>
											<div class="panel-Content">
												&nbsp;
											</div>
											<div class="panel-Content">
												&nbsp;
											</div>
											<div class="panel-Content">
												&nbsp;
											</div>
											<div class="panel-Content">
												&nbsp;
											</div>
										</div>
									</div><!-- class="col-md-4 -->
									<div class="col-md-8 col-sm-8">
										<div class="x_panel">
											<canvas id="polarArea"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- <div class="col-md-6 "Asset Management(Components)" col-sm-6 col-xs-12"> -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="x_panel tile fixed_height_390">
							<div class="x_title" style="color: #ffffff; background:#1122ff; padding: 5px;">
								<a href="/monitor/">
								<h2>Monitor</h2></a>
								<ul class="nav navbar-right panel_toolbox"></ul>
								<div class="clearfix"></div>
							</div><a href="/monitor/">
							<div class="x_content">
								Security
								<div class="clearfix"></div>{# style="width:720px height:200px" #}
								<div class="row">
									<img class="media-object img-responsive" src="{% static '/images/monitor/monitor.png' %}"> {% comment %}
									<div class="col-md-3">
										<!--                                <div class="media">   -->
										<div class="media-left media-middle"><img class="media-object" src="{% static '/images/square.jpg' %}" style="width:240px"></div>
										<div class="media-body">
											Camera: 1
										</div>
										<div class="media-left media-middle"><img class="media-object" src="{% static '/images/square.jpg' %}" style="width:240px"></div>
										<div class="media-body">
											Camera: 1
										</div><!--                </div>   -->
									</div>
									<div class="col-md-3">
										<div class="media-left media-middle"><img class="media-object" src="{% static '/images/square.jpg' %}" style="width:240px"></div>
										<div class="media-body">
											<h1 class="media-heading">CAM: 3</h1>
											<p>Front view</p>
										</div>
									</div>
									<div class="col-md-3">
										<div class="media-left media-middle"><img class="media-object" src="{% static '/images/square.jpg' %}" style="width:240px"></div>
									</div>
									<div class="col-md-3">
										<div class="media-left media-middle"><img class="media-object" src="{% static '/images/square.jpg' %}" style="width:240px"></div>
									</div>{% endcomment %}
								</div>
							</div><!-- x_content --></a>
						</div>
					</div><!-- <div class="col-md-6 "Monitor" col-sm-6 col-xs-12"> -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="x_panel tile fixed_height_390">
							<div class="x_title" style="color: #ffffff; background: #1122ff; padding: 5px">
								<h2>Manage Tasks</h2>
								<ul class="nav navbar-right panel_toolbox"></ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<a href="/manage/" style="...">Manage Tasks, View Past Taskw</a>
								<div class="clearfix"></div>
								<div class="row">
									<div class="col-md-4 col-md-offset-4">
										<a href="http://127.0.0.1:8000/ansible/"><button class="btn btn-info btn-sm" type="button">Run Ansible</button></a> <button class="btn btn-info btn-sm" type="button">View Cam1</button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-1 col-md-offset-9">
										<button class="btn btn-warning btn-sm" type="button">Check Systems</button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<button class="btn btn-success btn-sm" type="button">View Status</button> <button class="btn disabled btn-sm" type="button">Execute SCSI</button> <button class="btn btn-info btn-sm" type="button">Run Analysis</button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<br>
										</div>
										<div class="row">
											<div class="col-md-2 col-md-offset-4">
												<button class="btn btn-primary" type="button">Run Scheduler</button>
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="row">
											<div class="col-md-2 col-md-offset-3">
												<button class="btn btn-danger btn-lg" type="button">Check System</button>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<button class="btn btn-primary btn-xs" type="button">Run Scheduler</button>
								</div>
								<div class="row">
									<div class="col-md-9">
										<button class="btn btn-danger btn-sm" type="button">Browse google</button> <button class="btn btn-default btn-sm" type="button">Browse yahoo</button>
									</div>
									<div class="col-md-3">
										<button class="btn btn-success btn-sm" type="button">Run Report</button>
									</div>
								</div>
								<div class="row">
									<button class="btn btn-warning btn-block" type="button">View Overview</button>
								</div>
							</div><!-- <div class="x_content"> -->
						</div>
					</div><!-- <div class="col-md-6 "Manage, Tasks" col-sm-6 col-xs-12"> -->
				</div>
			</div><!-- /page content -->
			<!-- footer content -->
			{% include 'main_footer.html' %}
			<!-- /footer content -->
		</div>
	</div>

	{% include 'preset_js.html' %}

</body>

</html>


{% comment %}


<div class="media">
	<div class="media-left media-middle">
		<img src="{% static '/images/square.jpg' %}" class="media-object" style="width:240px" />
	</div>
	<div class="media-body">
		Camera: 1
		<p> Front view</p>
	</div>
</div>

<div class="media">
	<div class="media-left media-middle">
		<img src="{% static '/images/square.jpg' %}" class="media-object" style="width:240px" />
	</div>
	<div class="media-body">
		<h1 class="media-heading"> CAM: 2</h1>
		<p> Front view</p>
	</div>
</div>



{% endcomment %}
