{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Accton Total Management System</title>
    {% include 'preset_style.html' %}
</head>
{% include 'template_components.html' %}
        <!-- page content -->
        <!-- ==== ==== ==== Main client area ==== ==== ==== -->
        <!-- ==== ==== ==== Main client area ==== ==== ==== -->
        <div class="right_col" role="main">
            <div class="clearfix"></div>
            <div class="title_left">
                <p style="font-size: 14pt">Home -&gt; Components -&gt; Site ID: 102</p>
            </div><!-- ====     page content     ==== -->
            <!-- ====     page content     ==== -->
            <!-- ====     page content     ==== -->
            <!-- ====     page content     ==== -->
            <!-- ====     page content     ==== -->
            <!-- ====     page content     ==== -->
            <div class="row">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="http://127.0.0.1:8000/components/1"><button class="btn btn-info">Zoom Level 1</button></a> <a href="http://127.0.0.1:8000/components/2"><button class="btn btn-info">Zoom Level 2</button></a> <a href="http://127.0.0.1:8000/components/3"><button class="btn btn-info">Zoom Level 3</button></a> <a href="http://127.0.0.1:8000/components/4"><button class="btn btn-primary">Zoom Level 4</button></a> <a href="http://127.0.0.1:8000/components/5"><button class="btn btn-info">Zoom Level 5</button></a> <a href="http://127.0.0.1:8000/components/6"><button class="btn btn-info">Zoom Level 6</button></a> <a href="http://127.0.0.1:8000/components/7"><button class="btn btn-info">Zoom Level 7</button></a> <a href="http://127.0.0.1:8000/components/8"><button class="btn btn-info">Zoom Level 8</button></a> <a href="http://127.0.0.1:8000/components/9"><button class="btn btn-info">Zoom Level 9</button></a>
                    </div>
                </div><br>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h6>Head Quarter</h6>HsinChu
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a href=""><img alt="maps" class="" height="400" src="{% static '/images/components/id1_800x600.png' %}" width="600"></a>
                            <p class="text-muted font-13 m-b-30">message</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h6>Office</h6>Taipei
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a href="dc_back/"><img alt="maps" class="" height="400" src="{% static '/images/components/id1_800x600.png' %}" width="600"></a>
                            <p class="text-muted font-13 m-b-30">message</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h6>Office</h6>Taipei
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a href=""><img alt="maps" class="" height="400" src="{% static '/images/components/id1_800x600.png' %}" width="600"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h6>Office</h6>TaiChung
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a href=""><img alt="maps" class="" height="400" src="{% static '/images/components/id1_800x600.png' %}" width="600"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h6>Office</h6>TaiNan
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a href=""><img alt="maps" class="" height="400" src="{% static '/images/components/id1_800x600.png' %}" width="600"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h6>Office</h6>Shaihgigh, China
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a href=""><img alt="maps" class="" height="400" src="{% static '/images/components/id1_800x600.png' %}" width="600"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h6>Office</h6>TaiNan
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <a href=""><img alt="maps" class="" height="400" src="{% static '/images/components/id1_800x600.png' %}" width="600"></a>
                        </div>
                    </div>
                </div>
            </div><!-- ====    /page content     ==== -->
            <!-- ====    /page content     ==== -->
            <!-- ====    /page content     ==== -->
            <!-- ====    /page content     ==== -->
            <!-- ====    /page content     ==== -->
        </div><!-- ==== ==== ==== /Main client area === ==== ==== -->
        <!-- ==== ==== ==== /Main client area === ==== ==== -->
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Powered by Accton Technology&copy;
            </div>
            <div class="clearfix"></div>
        </footer><!-- /footer content -->
    </div>
</div>


<script src="{% static 'build/js/controller.js' %}"></script>

<script>

$(document).ready(function(){

	var cabinet = [];

	$.get( "/switches/", function( data ) {

		var r_array = JSON.parse(data);

		$.each(r_array, function (i,v) {

			if(i == 'Members') {

				$.each(v, function (mi, mv) {

					var img_top = (42 - parseInt(mv.location.Id))*15;
					var img_height = parseInt(mv.location.Size)*15;

					var result = '<a href="/as4610/"><img src="{% static 'images/1.png' %}" style="width: 80%; height: '+ img_height +'px; float: right; top: ' + img_top +'px; right: 20px; position: absolute; alt="'+mv.location.Info+'" class="components_switches"></a>';

					jQuery( ".area_1" ).append(result);
					jQuery( ".area_2" ).append(result);
					jQuery( ".area_3" ).append(result);
					jQuery( ".area_4" ).append(result);
				});
			}
		});
	});

        $.get( "/blades/", function( data ) {

                var r_array = JSON.parse(data);

                $.each(r_array, function (i,v) {

                        if(i == 'Members') {

                                $.each(v, function (mi, mv) {

					var img_top = (42 - parseInt(mv.location.Id))*15;
					var img_height = parseInt(mv.location.Size)*15;

					var result = '<a href="/bladepage/"><img src="{% static 'images/2.png' %}" style="width: 80%; height: '+ img_height +'px; float: right; top: ' + img_top +'px; right: 20px; position: absolute; alt="'+mv.location.Info+'" class="components_blades"></a>';

					jQuery( ".area_1" ).append(result);
					jQuery( ".area_2" ).append(result);
					jQuery( ".area_3" ).append(result);
					jQuery( ".area_4" ).append(result);
                                });
                        }
                });
        });

        $.get( "/nvme/", function( data ) {

                var r_array = JSON.parse(data);

                $.each(r_array, function (i,v) {

                        if(i == 'Members') {

                                $.each(v, function (mi, mv) {

                                        var img_top = (42 - parseInt(mv.location.Id))*15;
                                        var img_height = parseInt(mv.location.Size)*15;

                                        var result = '<a href="/nvmepage/"><img src="{% static 'images/3.png' %}" style="width: 80%; height: '+ img_height +'px; float: right; top: ' + img_top +'px; right: 20px; position: absolute; alt="'+mv.location.Info+'" class="components_nvme_drawers"></a>';

                                        jQuery( ".area_1" ).append(result);
                                        jQuery( ".area_2" ).append(result);
                                        jQuery( ".area_3" ).append(result);
                                        jQuery( ".area_4" ).append(result);
                                });
                        }
                });
        });

        $.get( "/storage/", function( data ) {

                var r_array = JSON.parse(data);

                $.each(r_array, function (i,v) {

                        if(i == 'Members') {

                                $.each(v, function (mi, mv) {

                                        var img_top = (42 - parseInt(mv.location.Id))*15;
                                        var img_height = parseInt(mv.location.Size)*15;

                                        var result = '<a href="/storagepage/"><img src="{% static 'images/4.png' %}" style="width: 80%; height: '+ img_height +'px; float: right; top: ' + img_top +'px; right: 20px; position: absolute; alt="'+mv.location.Info+'" class="components_storage"></a>';

                                        jQuery( ".area_1" ).append(result);
                                        jQuery( ".area_2" ).append(result);
                                        jQuery( ".area_3" ).append(result);
                                        jQuery( ".area_4" ).append(result);
                                });
                        }
                });
        });

        $.get( "/racks/", function( data ) {

                var r_array = JSON.parse(data);

                $.each(r_array, function (i,v) {

                        if(i == 'Members') {

                                $.each(v, function (mi, mv) {

                                        var img_top = (42 - parseInt(mv.location.Id))*15;
                                        var img_height = parseInt(mv.location.Size)*15;

                                        var result = '<a href="/as5812/"><img src="{% static 'images/5.png' %}" style="width: 80%; height: '+ img_height +'px; float: right; top: ' + img_top +'px; right: 20px; position: absolute; alt="'+mv.location.Info+'" class="components_racks"></a>';

                                        jQuery( ".area_1" ).append(result);
                                        jQuery( ".area_2" ).append(result);
                                        jQuery( ".area_3" ).append(result);
                                        jQuery( ".area_4" ).append(result);
                                });
                        }
                });
        });

});

</script>
	{% include 'preset_js.html' %}
	
</body>
</html>




{% comment %}
			<table style="width: 201px; height: 661px; background-image:url('{% static 'images/cabinet_background.png' %}'); background-size: 100%; float: left; margin-right: 15px;">
			<tr>
				<td style="width: 100%; " valign="top">
					<div style="position: relative; margin-top: 15px;" class="area_1">&nbsp;</div>
				</td>
			</tr>
			</table>

			<table style="width: 201px; height: 661px; background-image:url('{% static 'images/cabinet_background.png' %}'); background-size: 100%; float: left; margin-right: 15px;">
            <tr>
				<td style="width: 100%; " valign="top">
					<div style="position: relative; margin-top: 15px;" class="area_2">&nbsp;</div>
                </td>
            </tr>
            </table>

            <table style="width: 201px; height: 661px; background-image:url('{% static 'images/cabinet_background.png' %}'); background-size: 100%; float: left; margin-right: 15px;">
            <tr>
                <td style="width: 100%; " valign="top">
                    <div style="position: relative; margin-top: 15px;" class="area_3">&nbsp;</div>
                </td>
            </tr>
            </table>

            <table style="width: 201px; height: 661px; background-image:url('{% static 'images/cabinet_background.png' %}'); background-size: 100%; float: left; margin-right: 15px;">
                <tr>
                    <td style="width: 100%; " valign="top">
                       <div style="position: relative; margin-top: 15px;" class="area_4">&nbsp;</div>
                    </td>
                </tr>
            </table>
{% endcomment %}

