{% extends 'SONiCProducts/products_template.html' %}
{% load staticfiles %}
{% block title %} TMS-AS5812-54T {% endblock %}

{% block picture %}
	<div class="slider-for">
		<img src="{% static 'images/products/10g/as5812-54t/as5812-54t-1.png' %}" alt="">
		<img src="{% static 'images/products/10g/as5812-54t/as5812-54t-2.png' %}" alt="">
		<img src="{% static 'images/products/10g/as5812-54t/as5812-54t-3.png' %}" alt="">
		<img src="{% static 'images/products/10g/as5812-54t/as5812-54t-4.png' %}" alt="">
	</div>
	<div class="slider-nav">
		<img src="{% static 'images/products/10g/as5812-54t/as5812-54t-1.png' %}" alt="">
		<img src="{% static 'images/products/10g/as5812-54t/as5812-54t-2.png' %}" alt="">
		<img src="{% static 'images/products/10g/as5812-54t/as5812-54t-3.png' %}" alt="">
		<img src="{% static 'images/products/10g/as5812-54t/as5812-54t-4.png' %}" alt="">
	</div>
{% endblock %}

{% block productSummary %}
<h2>AS5812-54T</h2>
<h4>10GbE Data Center Switch Bare-metal Hardware</h4>
<p>The AS5812-54T is an ideal Top-of-Rack switch which provides full line-rate switching at Layer 2 or Layer 3 across 48 x 10GbE ports and 6 x 40GbE uplinks. AS5812-54T has 48 x RJ-45 Copper, supporting 10GBASE-T, 1000BASE-T and 100BASE-TX Ethernet on Cat 6, Cat 6 A and Cat 7 twisted-pair cable.</p>
{% endblock %}

{% block Overview %}
<p class="content2 font2">The Edgecore AS5812-54T switch meets the high-performance, availability, and network-scaling requirements of enterprise and cloud data centers. The AS5812-54T provides full line-rate switching at Layer 2 or Layer 3 across 48 x 10GbE ports and 6 x 40GbE uplinks. The switch can be deployed either as a Top-of-Rack switch, or as part of a 10GbE or 40GbE distributed spine, forming a non-blocking folded-CLOS data center fabric. The switch is rack mountable in either a standard 19 inch rack, or with the Open Rack Switch Adapter in the 21 inch Open Rack.</p>
<p class="content2 font2">The AS5812-54T hardware provides the high-availability features required for data center operation, including; redundant, hot-swappable AC power input, 4+1 redundant fan modules, and port-to-power or power-to-port airflow options. The AS5812-54T is an ideal Top-of-Rack switch for virtualized data centers, with its support of VXLAN and NVGRE tunneling functions in hardware, leveraging existing Cat 5e/Cat 6/Cat 6A/Cat 7 cabling infrastructure that saves further investment.</p>
{% endblock %}

{% block specs %}
	<table class="table table-bordered table-striped">
		<colgroup>
			<col class="col-xs-6">
			<col class="col-xs-6">
		</colgroup>
		<tbody>
			<tr>
				<th><div class="specs_title">Ports</div></th>
				<td class="common-style-font2 content">48</td>
			</tr>
			<tr>
				<th><div class="specs_title">Predominant Port Type</div></th>
				<td class="common-style-font2 content">10GbE SFP+</td>
			</tr>
			<tr>
				<th><div class="specs_title">High Availability</div></th>
				<td class="common-style-font2 content">Redundant Power Supply, Redundant Fans</td>
			</tr>
			<tr>
				<th><div class="specs_title">Compatible Soft Option</div></th>
				<td class="common-style-font2 content">Big Switch Networks - Big Monitoring Fabric , Big Switch Networks - Big Cloud Fabric , Cumulus Networks - Cumulus Linux , Pica8 - PicOS , Pluribus Networks - Netvisor® OS (ONVL) , Open Compute Project - Open Network Linux</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block features %}
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>48 x RJ-45 Copper, supporting 10GBASE-T, 1000BASE-T and 100BASE-TX Ethernet on Cat 6, Cat 6 A and Cat 7 twisted-pair cable.</li>
				<li>6 x 40 QSFP switch ports, each supporting 40GbE (DAC, 40GBASE-SR4/LR4) or 4 x 10GbE (DAC or fiber breakout cable).</li>
				<li>Hot-swappable, load sharing, redundant AC PSUs power input option.</li>
				<li>VXLAN and NVGRE tunneling support in hardware for network virtualization.</li>
			</ul>
		</div>
	</div>
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>Supports hot/cold aisle with port-to-power and power-to-port airflow SKUs.</li>
				<li>All ports on front; PSUs, fan tray on rear.</li>
				<li>Hot swappable 4+1 redundant fan modules.</li>
				<li>Hardware switch pre-loaded with Open Network Install Environment (ONIE) for automated loading of compatible NOS software. Compatible with Open Network Linux, the open-source, OCP-approved reference NOS.</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block downloads %}
	<table class="table Table table-hover">
		<tbody>
			<tr class="tr-only-hide">
				<th>Category</th>
				<th>Name</th>
				<th>Rev</th>
				<th>Release Notes</th>
				<th>Date</th>
				<th>Note</th>
				<th>Download</th>
			</tr>
			<tr>
				<td data-th="Category">Datasheet</td>
				<td data-th="Name">AS5812-54T DS R06</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2018-02-01</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/10g/as5812-54t/AS5812-54T_DS_R06_20180131.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">User Manual</td>
				<td data-th="Name">AS5812-54T Quick Start Guide R03</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2018-01-19</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/10g/as5812-54t/AS5812-54T_QSG_EN_R03_20171227.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Certification</td>
				<td data-th="Name">AS5812-54T CE DoC</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2018-03-05</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/10g/as5812-54t/CE_DOC_AS5812-54T.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Certification</td>
				<td data-th="Name">Edgecore RoHS 2.0 Reach Declaration - AS5812-54T</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2017-09-20</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/10g/as5812-54t/Edgecore_RoHS_2_0_Reach_Declaration_AS5812-54T_0920.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Safety and Regulatory Information</td>
				<td data-th="Name">AS5812-54T Safety and Regulatory Information R03</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2018-01-19</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/10g/as5812-54t/AS5812-54T_SRI_R03_20171228.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Firmware</td>
				<td data-th="Name">SONiC image</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">n/a</td>
				<td data-th="Note">
					<a href="/sonic/accton/download"><span class="badge badge-pill badge-primary jumpDownload">More available</span>
				</td>
				<td data-th="Download">
					<a id="SONiC_Image_Downloads" href="#"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}