{% extends 'SONiCProducts/products.html' %}
{% load staticfiles %}

{% block title %}
TMS-Products-40G
{% endblock %}

{% block bigPicture %}
<div class="productOverview"><img id="bigger_picture" src="{% static 'images/products/40g/as6700-32x/as6700-32x-2.png' %}"></div>
{% endblock %}


{% block showProduct %}
<div class="col-xs-12 col-sm-12 productSort">
		<div class="row title">
			<div class="col-sm-3 col-xs-6">
				<a href="/sonic/products/40g/as6700-32x">
				<div class="thumbnail div_G">
					<img src="{%static 'images/products/40g/as6700-32x/as6700-32x-1.png' %}">
					<div class="caption" style="text-align: center;">
						<h2>AS6700-32X</h2>
						<p style="font-size: 13pt">Explore & Discover</p>
					</div>
				</div></a>
			</div>
			<div class="col-sm-3 col-xs-6">
				<a href="/sonic/products/40g/as6701-32x">
				<div class="thumbnail div_G">
					<img alt="..." src="{%static 'images/products/40g/as6701-32x/as6701-32x-1.png' %}">
					<div class="caption" style="text-align: center;">
						<h2>AS6701-32X</h2>
						<p style="font-size: 13pt">Explore & Discover</p>
					</div>
				</div></a>
			</div>
			<div class="col-sm-3 col-xs-6">
				<a href="/sonic/products/40g/as6712-32x">
				<div class="thumbnail div_G">
					<img alt="..." src="{%static 'images/products/40g/as6712-32x/as6712-32x-1.png' %}">
					<div class="caption" style="text-align: center;">
						<h2>AS6712-32X</h2>
						<p style="font-size: 13pt">Explore & Discover</p>
					</div>
				</div></a>
			</div>
			<div class="col-sm-3 col-xs-6">
				<a href="/sonic/products/40g/as6812-32x">
				<div class="thumbnail div_G">
					<img src="{%static 'images/products/40g/as6812-32x/as6812-32x-1.png' %}">
					<div class="caption" style="text-align: center;">
						<h2>AS6812-32X</h2>
						<p style="font-size: 13pt">Explore & Discover</p>
					</div>
				</div></a>
			</div>
		</div>
	</div>
{% endblock %}