{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-SONiC</title>
	{% include 'preset_style.html' %}
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/sonic.css' %}" rel="stylesheet">
	<link href="{% static 'vendors/additional/product.css' %}" rel="stylesheet">

</head>
{% include 'template_sonic.html' %}
<div class="right_col sonic_main" role="main">
	<!-- ==== ==== ==== Main client area ==== ==== ==== -->
	<!-- breadcomb -->
	<div class="clearfix"></div>
	
	<div class="col-12 col-sm-12" style="padding:0px;margin:0px">
		<div class="banner">
			<img src="{% static 'images/banner2.png' %}" style="width:100%">
			<div id="welcome">To view the latest SONiC issue list,<br>Please visit
			<a href="https://github.com/Azure/SONiC/issues" target="_blank" style="padding-top: 20px"><button class="button clickable-pic"><span>Open Issue List >></span></button></a>
			</div>
		</div>
	</div>
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<div class="row common_style">
		
		<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
			<div class="x_panel">
				<h1 class="sonic_content_title">Popular SONiC Devices and Platforms</h1>
					<div class="clearfix"></div>
				<div class="x_content">
					<div class="carousel slide" data-interval="false" data-ride="carousel" id="myCarousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-slide-to="0" data-target="#myCarousel"></li>
							<li data-slide-to="1" data-target="#myCarousel"></li>
						</ol><!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox" style="text-align:center">
							<div class="item active common-font1" >
								<div class="row">
									<div class="col-sm-3 col-xs-6 clickable-pic">
										<a href="/sonic/products/100g/wedge100bf-32x" target="_blank">
										<div>
											<img class="log" src="{% static 'images/logo/edgecore.png' %}">
											<img src="{% static 'images/products/edgecore/wedge100bf-32x.png' %}">
											<div class="common-font1 product-name">Wedge 100BF-32X</div>
										</div></a>
									</div>
									<div class="col-sm-3 col-xs-6 clickable-pic">
										<a href="https://code.fb.com/data-center-engineering/wedge-100-more-open-and-versatile-than-ever/" target="_blank">
										<div>
											<img class="log" src="{% static 'images/logo/facebook.png' %}">
											<img src="{% static 'images/products/facebook/wedge100-32x.jpg' %}">
											<div class="common-font1 product-name">Wedge 100S-32X</div>
										</div></a>
									</div>
									<div class="col-sm-3 col-xs-6 clickable-pic">
										<a href="/sonic/products/100g/as7712-32x" target="_blank">
										<div>
											<img class="log" src="{% static 'images/logo/edgecore.png' %}">
											<img src="{% static 'images/products/edgecore/as7712-32x-1.png' %}">
											<div class="common-font1 product-name">AS7712-32X</div>
										</div></a>
									</div>
									<div class="col-sm-3 col-xs-6 clickable-pic">
										<a href="https://store.mellanox.com/products/mellanox-msn2740-cb2f1-spectrum-based-100gbe-1u-open-ethernet-switch-with-mlnx-os-32-qsfp28-ports-2-power-supplies-ac-x86-atom-cpu-short-depth-p2c-airflow-rail-kit-rohs6.html" target="_blank">
										<div>
											<img class="log" src="{% static 'images/logo/mellanox.png'%}">
											<img src="{% static 'images/products/mellanox/SN2740.png'%}">
											<div class="common-font1 product-name">SN2740</div>
										</div></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="row">
									<div class="col-sm-3 col-xs-6 clickable-pic">
										<a href="https://i.dell.com/sites/doccontent/shared-content/data-sheets/en/Documents/dell-networking-z9100-spec-sheet.pdf" target="_blank">
										<div>
											<img class="log" src="{% static 'images/logo/dell.png'%}">
											<img src="{% static 'images/products/dell/z9100-on.png'%}">
											<div class="common-font1 product-name">Z9100-ON</div>
										</div></a>
									</div>
									<div class="col-sm-3 col-xs-6 clickable-pic">
										<a href="https://www.arista.com/en/products/platforms" target="_blank">
										<div>
											<img class="log" src="{% static 'images/logo/arista.png'%}">
											<img src="{% static 'images/products/arista/7060cx-32s.png'%}">
											<div class="common-font1 product-name">7060CX-32S</div>
										</div></a>
									</div>
									<div class="col-sm-3 col-xs-6 clickable-pic">
										<a href="https://www.barefootnetworks.com/products/brief-p4-studio/" target="_blank">
										<div>
											<img class="log" src="{% static 'images/logo/barefoot.png'%}">
											<img src="{% static 'images/products/barefoot/barefoot.png'%}">
											<div class="common-font1 product-name">SONiC-P4</div>
										</div></a>
									</div>
									<div class="col-sm-3 col-xs-6 clickable-pic">
										<a href="/sonic/products/10g/as5812-54x" target="_blank">
										<div>
											<img class="log" src="{% static 'images/logo/edgecore.png' %}">
											<img src="{% static 'images/products/edgecore/as5812-54x.png' %}">
											<div class="common-font1 product-name">AS5812-54X</div>
										</div></a>
									</div>
								</div>
							</div><!-- Left and right controls -->
							<a class="left carousel-control" data-slide="prev" href="#myCarousel" role="button"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span></a> 
							<a class="right carousel-control" data-slide="next" href="#myCarousel" role="button"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span></a>
						</div>
					</div>
					<a href="/sonic/supported-devices" class="more-button"><h2 style="text-align: center"><img src="{% static 'images/blue_square.png'%}" style="width:20px;height:10%;margin-bottom:4px"> &nbsp See more products</h2></a>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
			<div class="x_panel">
				<h1 class="sonic_content_title">Why SONiC?</h1>
				<div class="x_content">
					<div class="col-md-6 col-sm-6 col-xs-12 advan_area">
						<div class="bg">
							<div class="col-12 offset-6">
								<p>Container Based Modular Design</p>
							</div>
							<div class="col-12 offset-12">
								<p>Container design allows SONiC to offer less overhead, increase portability, and more consistent operation. Containers allow applications to be more rapidly deployed, patched or scaled.</p>
							</div>
						</div>
					</div>
						<div class="col-md-6 col-sm-6 col-xs-12 advan_area">
							<div class="bg">
								<div class="col-12 offset-6">
									<p>Accelerates Software Evolution</p>
								</div>
								<div class="col-12 offset-12">
									
									<p>SONiC’s containerized components approach makes rapid prototyping, agile development possible. It’s evolving fast and moving swiftly. It accelerates development, test and production cycles.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 advan_area">
							<div class="bg">
								<div class="col-12 offset-6">
									
									<p>Free Choice of Hardware <br>(chipsets that support SAI)</p>
								</div>
								<div class="col-12 offset-12">
									
									<p>SONiC is built on SAI. Switch Abstraction Interface is a thin software layer sits on top of hardware platform. It allows hardware vendors to fully explore their potential and deliver the best performance equipment they can make.</p>
								</div>
							</div>						
						</div>
					<div class="col-md-6 col-sm-6 col-xs-12 advan_area">
						<div class="bg">
							<div class="col-12 offset-6">
								<p>It’s Free and Growing Rapidly</p>
							</div>
							<div class="col-12 offset-12">
								<p>SONiC has gained wide industry support during the recent years that includes major network chip vendors like Broadcom, Marvell and Cavium. It currently has over 40 partners including Facebook and Edgecore and the list is growing.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<a href="/sonic/advantage" class="more-button" ><h2 style="text-align: center;margin-top:0px"><img src="{% static 'images/blue_square.png'%}" style="width:20px;height:10%;margin-bottom:4px"> &nbsp View Detail</h2></a>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 system_composed_node">
			<div class="x_panel">
				<h1 class="sonic_content_title">SONiC Roadmap</h1>
				<div class="clearfix"></div>
				<div class="x_content" style="text-align: center"><img id="roadmapPicture" src="{% static 'images/roadmap.png'%}"></div>
				<div class="clearfix"></div>
				<a href="/sonic/roadmap" class="more-button" ><h2 style="text-align: center"><img src="{% static 'images/blue_square.png'%}" style="width:20px;height:20%;margin-bottom:4px"> &nbsp Continue Reading</h2></a>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<h1 class="sonic_content_title">Knowledge Base</h1>
				<div class="row">
					<div class="col-sm-2 col-xs-3 kb" id="kbFirstChild">
						<div class="clickable-pic"><a class="target=_blank" href="/sonic/accton/kb"><img class="thumbnail" alt="..." src="{%static 'images/kb/kb_base.svg' %}"></div>
						<p class="kb_content">Knowledge Base</p></a>
					</div>
					<div class="col-sm-2 col-xs-3 kb">
						<div class="clickable-pic"><a class="target=_blank" href="/sonic/accton/wiki"><img class="thumbnail" alt="..." src="{%static 'images/kb/kb_wiki.svg' %}"></div>
							<p class="kb_content">Wiki</p></a>
					</div>
					<div class="col-sm-2 col-xs-3 kb">
						<div class="clickable-pic"><a class="target=_blank" href="/sonic/accton/faq"><img class="thumbnail" src="{%static 'images/kb/kb_faq.svg' %}"></div>
							<p class="kb_content">FAQs</p></a>
					</div>
					<div class="col-sm-2 col-xs-3 kb">
							<div class="clickable-pic"><a href="/sonic/accton/forum"><img class="thumbnail" src="{%static 'images/kb/kb_forum.svg' %}"></div>
							<p class="kb_content">Forum</p></a>
					</div>
					<div class="col-sm-2 col-xs-3 kb">
							<div class="clickable-pic"><a href="/sonic/accton/resources/whitepaper"><img class="thumbnail" src="{%static 'images/kb/kb_wp.svg' %}"></div>
							<p class="kb_content">White Paper</p></a>
					</div>
					<div class="col-sm-2 col-xs-3 kb">
							<div class="clickable-pic"><a href="/sonic/accton/videos"><img class="thumbnail" src="{%static 'images/kb/kb_video.svg' %}"></div>
							<p class="kb_content">Technical Videos</p></a>
					</div>
					<div class="col-sm-2 col-xs-3 kb">
							<div class="clickable-pic"><a href="/sonic/accton/webinar"><img class="thumbnail" src="{%static 'images/kb/kb_web.svg' %}"></div>
							<p class="kb_content">Webinar</p></a>
					</div>
					<div class="col-sm-2 col-xs-3 kb">
							<div class="clickable-pic"><div class="clickable-pic"><a class="target=_blank" href="/sonic/accton/sonic_now"><img class="thumbnail" alt="..." src="{%static 'images/kb/kb_sonic.svg' %}"></div>
							<p class="kb_content">SONiC Now</p></a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
</div></div>
<!-- footer content -->
<div class="clearfix"></div>
{% include 'main_footer.html' %}
{% include 'preset_js.html' %}
</body>
</html>






