{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'preset_style.html' %}
	<title>TMS-Supported Products</title>
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/sonic.css' %}" rel="stylesheet">
</head>
{% include 'template_sonic.html' %}
<div class="right_col common_style sp" role="main">
	<!-- ==== ==== ==== Main client area ==== ==== ==== -->
	<!-- ==== ==== ==== Main client area ==== ==== ==== -->
	<!-- breadcomb -->
	<div class="clearfix"></div><!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<div class="row">
		<div class="col-12 col-sm-12 system_T1_Table">
			<div class="x_panel title">
				<h1>Supported Products</h1>
				<h2>Quick jump to brand</h2>
				<div class="col-xs-12 col-sm-12">
					<marquee direction="left" scrollamount="9">
						<a class="clickable-pic" href="https://www.edge-core.com/" target="_new"><div class="col-xs-2 col-sm-2"><img src="{%static 'images/logo/edgecore.png'%}" style="width:100%;"></div></a>
						<a class="clickable-pic" href="https://www.arista.com/en/" target="_new"><div class="col-xs-2 col-sm-2"><img src="{%static 'images/logo/arista.png'%}" style="width:100%;"></div></a> 
						<a class="clickable-pic" href="http://www.mellanox.com/" target="_new"><div class="col-xs-2 col-sm-2"><img src="{%static 'images/logo/mellanox.png'%}" style="width:100%;"></div></a> 
						<a class="clickable-pic" href="https://www.barefootnetworks.com/" target="_new"><div class="col-xs-2 col-sm-2"><img src="{%static 'images/logo/barefoot.png'%}" style="width:100%;"></div></a> 
						<a class="clickable-pic" href="https://zh-tw.facebook.com/" target="_new"><div class="col-xs-2 col-sm-2"><img src="{%static 'images/logo/facebook.png'%}" style="width:100%;"></div></a>
					</marquee>
				</div><!--
                            <a href="/sonic/products" target="_new"><div class="col-1 col-sm-1"><img src="{%static 'images/logo/dot.png'%}" style="width:100%;"></div></a>
                            <a href="https://www.celestica.com/home">
                            <a href="http://www.centecnetworks.com/cn/Main.asp" target="_new"><div class="col-1 col-sm-1"><img src="{%static 'images/logo/centec.png'%}" style="width:100%;"></div></a>
                            <a href="https://www.marvell.com/" target="_new"><div class="col-1 col-sm-1" style="padding:0px"><img src="{%static 'images/logo/marvell.png'%}" style="width:100%;"></div></a> 
                            <a href="https://www.dell.com.tw/" target="_new"><div class="col-1 col-sm-1"><img src="{%static 'images/logo/dell.png'%}" style="width:100%;"></div></a> 
                            <div class="col-md-1" style=""><img src="{%static 'images/logo/celestica.png'%}" style="width:100%;"></div></a> <a href="https://www.alphanetworks.com/">
                            <div class="col-md-1"><img src="{%static 'images/logo/alpha.png'%}" style="width:100%;"></div></a> <a href="https://www.quantatw.com/Quanta/chinese/Default.aspx">
                            <div class="col-md-1"><img src="{%static 'images/logo/quanta.png'%}" style="width:100%;"></div></a> <a href="http://www.embedway.com/em/">
                            <div class="col-md-1" style=""><img src="{%static 'images/logo/embedway.png'%}" style="width:100%;"></div></a> <a href="http://www.deltaww.com/Products/CategoryListT1.aspx?CID=13&hl=en-US">
                            <div class="col-md-1" style="padding:0px;"><img src="{%static 'images/logo/dni.png'%}" style="width:100%;;"></div></a> <a href="http://www.wnc.com.tw/index.php?lang=tw">
                            <div class="col-md-1" style=""><img src="{%static 'images/logo/wnc.png'%}" style="width:100%;"></div></a> <a href="https://www.inventec.com/index.htm">
                            <div class="col-md-1"><img src="{%static 'images/logo/inventec.png'%}" style="width:70%;"></div></a> <a href="https://www.mitac.com.tw/">
                            <div class="col-md-1"><img src="{%static 'images/logo/mitac.png'%}" style="width:100%;"></div></a
                        -->
					<h2>Filter result</h2>
					<div class="col-sm-12 col-12" style="line-height:50px;margin:48px">
						<!--                                    
                                    <div class="col-sm-2 col-2" style="text-align: center">
                                            <span id="preset_vendor"class="badge"><h5 class="font2">Edgecore</h5></span>
                                    </div>
-->
						<div class="col-xs-4 col-sm-2 device_list_title">
							<div class="dropdown" id="vendor_choose" style="display:inline">
								<button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" style="text-align:right;width:100%" type="button">ASIC Vendor<span class="caret"></span></button>
								<ul aria-labelledby="dropdownMenu1" class="dropdown-menu" style="text-align:right">
									<li>
										<a>Please choose Switch Vender first</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-4 col-sm-2 device_list_title">
							<div class="dropdown" id="switch_asic_choose" style="display:inline">
								<button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" style="text-align:right;width:100%" type="button">Switch ASIC<span class="caret"></span></button>
								<ul aria-labelledby="dropdownMenu1" class="dropdown-menu" style="text-align:right">
									<li>
										<a>Please choose Switch Vender first</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-4 col-sm-2 device_list_title">
							<div class="dropdown" id="band_choose" style="display:inline">
								<button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" style="text-align:right;width:100%" type="button">Band Width<span class="caret"></span></button>
								<ul aria-labelledby="dropdownMenu1" class="dropdown-menu" style="text-align:right">
									<li>
										<a>Please choose Switch Vender first</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-8 col-sm-2 device_list_title">
							<div class="dropdown" id="model_choose" style="display:inline">
								<button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" style="text-align:right;width:100%" type="button">Switch SKU<span class="caret"></span></button>
								<ul aria-labelledby="dropdownMenu1" class="dropdown-menu" style="text-align:right">
									<li>
										<a>Please choose Switch Vender first</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-4 col-sm-2 device_list_title">
							<div class="dropdown" id="configuration_choose" style="display:inline">
								<button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" style="text-align:right;width:100%" type="button">Port Config<span class="caret"></span></button>
								<ul aria-labelledby="dropdownMenu1" class="dropdown-menu" style="text-align:right">
									<li>
										<a>Please choose Switch Vender first</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="x_panel" style="padding:20px">
						<img id="logo" src="{%static 'images/logo/edgecore.png'%}" style="width:230px;padding:20px">
						<div id="switch_info">
							<div class="col-sm-3 col-xs-6 devices clickable-pic">
								<a href="/sonic/products/100g/wedge100bf-32x">
									<img src="{% static 'images/products/forSupportList/wedge100bf-32x_overview.png' %}">
									<div class="caption">
										<h2>Edgecore</h2>
										<p>100G</p>
										<p>Wedge 100BF-32X</p>
										<p>Broadcom</p>
										<p>TD2</p>
										<p>32x100G</p>
									</div>
								</a>
							</div>
							<div class="col-xs-6 col-sm-3 devices clickable-pic">
								<a href="/sonic/products/100g/wedge100bf-65x">
									<img src="{% static 'images/products/forSupportList/wedge100bf-65x_overview.png' %}">
									<div class="caption">
										<h2>Edgecore</h2>
										<p>100G</p>
										<p>Wedge 100BF-65X</p>
										<p>Broadcom</p>
										<p>TD2</p>
										<p>65x100G</p>
									</div>
								</a>
							</div>
							<div class="col-xs-6 col-sm-3 devices clickable-pic">
								<a href="/sonic/products/100g/as7816-64x">
									<img src="{% static 'images/products/forSupportList/as7816-64x_overview.png' %}">
									<div class="caption">
										<h2>Edgecore</h2>
										<p>100G</p>
										<p>AS7816-64X</p>
										<p>Broadcom</p>
										<p>td2</p>
										<p>64x100g</p>
								</div></a>
							</div>
							<div class="col-xs-6 col-sm-3 devices clickable-pic">
								<a href="/sonic/products/100g/as7726-32x">
									<img src="{% static 'images/products/forSupportList/as7726-32x_overview.png' %}">
									<div class="caption">
										<h2>Edgecore</h2>
										<p>100G</p>
										<p>AS7726-32X</p>
										<p>Broadcom</p>
										<p>TD2</p>
										<p>32x100G</p>
								</div></a>
							</div>
							<div class="col-xs-6 col-sm-3 devices clickable-pic">
								<a href="/sonic/products/100g/as7712-32x">
									<img src="{% static 'images/products/forSupportList/as7712-32x_overview.png' %}">
									<div class="caption">
										<h2>Edgecore</h2>
										<p>100G</p>
										<p>AS7712-32X</p>
										<p>Broadcom</p>
										<p>TD2</p>
										<p>32x100G</p>
								</div></a>
							</div>
							<div class="col-xs-6 col-sm-3 devices clickable-pic">
								<a href="/sonic/products/100g/wedge100s-32x">
									<img src="{% static 'images/products/forSupportList/wedge100s-32x_overview.png' %}">
									<div class="caption">
										<h2>Edgecore</h2>
										<p>100G</p>
										<p>Wedge100s-32X</p>
										<p>Broadcom</p>
										<p>TD2</p>
										<p>32x100G</p>
								</div></a>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
</div></div>
<!-- footer content -->
<footer>
	<div class="container">
		<div class="pull-left">Powered by Accton Technology &copy;</div>
	</div>
</footer>
{% include 'preset_js.html' %}
<!-- Additional JS-->
<script src="{% static 'js/sonic/supported-devices.js' %}"></script>

</body>
</html>
