{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-News-20190225-2</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <p class="title2_news">New Release</p>
                <p class="title3_news">2019-02-25</p>
                <a href="https://newsroom.intel.com/contact-intels-public-relations-team/"
                    class="btn btn-primary btn-block intel-cta" style="width:50%">
                    Contact Intel PR </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h1 class="entry-title">Edgecore Networks Announces General Availability of Cassini Open Packet Transponder</h1>

                <div style="text-align: justify;padding:3vw;padding-left: 0%">
                    <strong>Barcelona, February 25, 2019</strong> – <strong>MWC</strong> – <a href=
                    "http://www.edge-core.com/index.php">Edgecore Networks</a>, the leader in open networking, today
                    announced the general availability of its Cassini open packet transponder, the industry's highest
                    capacity and first modular whitebox packet transponder offering a flexible mix of 100 Gigabit
                    Ethernet (GbE) packet switching ports and 100/200 Gbps coherent optical interfaces for data center
                    interconnect and service provider optical network use cases. &nbsp;Cassini is an open
                    disaggregated product that reduces network operator costs and allows for choice of optical and
                    software technology.&nbsp; Cassini supports coherent DSPs and optical transceivers from leading
                    optical partners — Acacia Communications, Finisar Corporation, Fujitsu Optical Components Ltd.,
                    Lumentum, and NTT Electronics — and supports choice of commercial software from IP Infusion and
                    open source software including SONiC and the Open Networking Foundation (ONF) Open Disaggregated
                    Transport Network (ODTN) platform.<br>
                    &nbsp;<br>
                    <em>“One of our first initiatives in the TIP OOPT group was work on open optical packet
                    transponders to enable more flexible and lower cost solutions for service provider access and
                    backhaul networks</em><em>,” said&nbsp;</em><em>Hans-Juergen Schmidtke, Co-Chair, Open Optical
                    Packet Transport Project Group, Telecom Infra Project. “We were pleased with Edgecore’s earlier
                    contribution of the Cassini hardware design to the TIP community and the cooperative development
                    with optical and software vendors that it generated.&nbsp; We now welcome Edgecore’s release of
                    Cassini as a commercial product.”</em><br>
                    &nbsp;<br>
                    The ONF community has incorporated Cassini as an open packet transponder platform into the ONF’s
                    ODTN reference design, providing a set of open source software options for deploying Cassini in an
                    optical network.&nbsp; In an ODTN environment, Cassini can be managed from the ONOS controller and
                    its applications which provide a scalable open SDN infrastructure for service provider use cases,
                    such as connections to remote central offices, cable headends, POPs, or edge computing sites.<br>
                    &nbsp;<br>
                    <em>“The ONF is leading collaborative work by service providers and vendors on deployable open
                    solutions for optical networks through the Open Disaggregated Transport Network (ODTN) reference
                    design and open source project, with Edgecore as a significant contributor,” said&nbsp;Guru
                    Parulkar, Executive Director, Open Networking Foundation and Stanford Platform Lab. “The OTDN
                    project has integrated support for the Cassini open transponder hardware, and we welcome
                    Edgecore’s release of Cassini as a commercial product as an important step toward deployments of
                    open, disaggregated and software-controlled optical networks.”</em><br>
                    <br>
                    <strong>Disaggregated Open Networking for Optical Systems</strong><br>
                    &nbsp;<br>
                    As an open network platform, Cassini also supports commercial software offerings including
                    OcNOS<sup>TM</sup> from IP Infusion, a leading whitebox switching NOS optimized for service
                    provider and data center interconnect use cases.<br>
                    &nbsp;<br>
                    <em>“IP Infusion sees the benefits of long distance packet optical transport with webscale
                    performance and lower TCO to our data center and service provider customers by extending the open
                    network, disaggregated model to the integration of packet switching and optical transport
                    technology,” said Atsushi Ogata, President and CEO, IP Infusion. “Our OcNOS network operating
                    system already supports a rich set of switching and routing features. Now, the introduction of
                    OcNOS on Edgecore’s Cassini packet optical transponder will help network operators easily extend
                    and migrate existing metro and long-haul Dense Wavelength Division Multiplexing (DWDM) networks to
                    add new 100G capacities, and extend inter-DC L2 and L3 services.”</em><br>
                    <br>
                    The Cassini packet transponder is a fully open source hardware design, as Edgecore has contributed
                    the full design to TIP.&nbsp; Cassini is a 1.5RU form factor with system throughput of 3.2Tbps.
                    Cassini has sixteen fixed 100 Gigabit Ethernet QSFP28 ports, plus eight line card slots to
                    incorporate a flexible mix of additional 100GbE ports or ACO/DCO optical ports based on coherent
                    DSP and optical transceivers from leading optical technology partners.&nbsp; The following line
                    cards are available, providing the network operator with a scalable pay-as-you-grow platform.
                    
                    <li style="text-align: justify;">100GbE Line Card: 2 x 100GbE QSFP28 with MACsec;</li>
                    <li style="text-align: justify;">DCO Line Card: 1 x 100G/200G CFP2 with MACsec, supporting DCO
                    pluggable transceivers including the Acacia AC200 CFP2-DCO Module and the Lumentum CFP2-DCO
                    Module;</li>
                    <li style="text-align: justify;">ACO Line Card: 1 x 100G/200G CFP2 with NTT Electronics ExaSPEED
                    200 DSP, supporting CFP2-ACO Coherent Optical Transceiver modules from Finisar, Fujitsu Optical
                    Components, and Lumentum.</li>
                    <li style="list-style: none">&nbsp;<br>
                        <em>“Edgecore continues to broaden our set of open network solutions to address more use cases
                        for communication service providers, through our contributions to open communities, partnerships
                        with leading software and optical vendors, and our strong development roadmap,“ said Jeff
                        Catlin, VP Technology, Edgecore Networks. “We appreciate the contributions of the open network
                        community that have enabled us to bring Cassini to market as an open network platform to
                        integrate the packet switching and optical technology worlds, and reduce operational costs for
                        our data center and service provider customers.”</em><br>
                        &nbsp;<br>
                        <strong>Availability</strong><br>
                        &nbsp;<br>
                        The Cassini open packet transponder is available now from Edgecore resellers and integrators
                        worldwide.<br>
                        &nbsp;<br>
                        Edgecore is exhibiting Cassini at MWC 2019 in Barcelona on February 25-28 at the Edgecore stand
                        in Hall 5, along with its complete line of open network products for data center, edge
                        computing, broadband access, mobile networking, and WiFi infrastructures.&nbsp; At the Facebook
                        meeting area at MWC, TIP is demonstrating Cassini as part of a disaggregated network
                        demonstration showing open network solutions across mobile, optical and edge computing
                        infrastructures.<br>
                        &nbsp;<br>
                        The Open Network Foundation will demonstrate their ODTN reference design featuring Cassini as
                        the hardware platform with open source management and provisioning software at OFC in San Diego
                        on March 5-7.&nbsp; Edgecore will exhibit Cassini and its open network product line at OCP
                        Summit in San Jose on March 14-15.<br>
                        &nbsp;<br>
                        <strong>Supporting Quotes</strong><br>
                        &nbsp;<br>
                        “Acacia believes disaggregated network infrastructures will enable network operators to more
                        rapidly adopt new technology and improve the efficiency of their networks. Leveraging the low
                        power, high performance and pluggability of Acacia’s 100G/200G CFP2-DCO module, the open-source
                        Edgecore Cassini packet transponder enables a high-density switch platform designed to support a
                        flexible pay-as-you-grow commercial model.” —<br>
                        Alan Gibbemeyer, Senior Director Business Development, <strong>Acacia
                        Communications</strong><br>
                        &nbsp;<br>
                        “Finisar continues to offer one of the broadest and most innovative optical module portfolio for
                        our customers. We are very excited to collaborate with Edgecore Networks providing
                        industry-leading 100G/200G CFP2-ACO Coherent Optical Transceivers for the ACO line cards in
                        their Cassini whitebox packet transponder, enabling cost-effective metro and long-haul
                        connections.” —<br>
                        Christian Urricariet, Senior Director of Global Marketing, <strong>Finisar
                        Corporation</strong><br>
                        &nbsp;<br>
                        “Fujitsu Optical Components Ltd. (FOC) is pleased to see Edgecore’s contribution to the open
                        network community with its general availability announcement of the Cassini platform. FOC is
                        excited to be an active part of this ONF community and to participate in TIP activities with
                        demonstrations of our widely-deployed CFP2-ACO Coherent Optical Transceiver on the Cassini ACO
                        line card. With ever increasing bandwidth demands, the Cassini open disaggregated platform
                        promises to provide flexibility, interoperability and varied optical technology choices for its
                        customers.” —<br>
                        Takashi Yamane, CMO, <strong>Fujitsu Optical Components Ltd.</strong><br>
                        &nbsp;<br>
                        “Lumentum has consistently shown leadership and support of open networks, Lumentum has been at
                        the forefront of interoperability with its CFP2 ACO/DCO 100/200 Gbps coherent optical interfaces
                        for data center interconnect and service providers.&nbsp; The Edgecore Cassini open packet
                        transponder platform is a great example of industry collaboration to deliver to customers the
                        solutions they require to support demands for higher performance, higher density, and lower
                        cost.” —<br>
                        Scott Swail, VP Business Development, Telecom Transmission, <strong>Lumentum</strong><br>
                        <br>
                        &nbsp;“NTT Electronics is excited to partner and support Cassini and the emerging packet optical
                        ecosystem with our cutting-edge technology."&nbsp;<br>
                        Osamu Ishida, EVP &amp; GM of Broadband System &amp; Device BG, <strong>NTT
                        Electronics</strong><br>
                        &nbsp;<br>
                        <strong>About Edgecore Networks</strong><br>
                        Edgecore Networks Corporation is a wholly owned subsidiary of Accton Technology Corporation, the
                        leading network ODM.&nbsp; Edgecore Networks delivers wired and wireless networking products and
                        solutions through channel partners and system integrators worldwide for the Data Center, Service
                        Provider, Enterprise and SMB customers. &nbsp;Edgecore Networks is the leader in open networking
                        providing a full line of open WiFi access points, packet transponders, virtual PON OLTs, cell
                        site gateways, and 1G, 10G, 25G, 40G, 100G and 400G OCP Accepted<sup>TM</sup> switches that
                        offer choice of commercial and open source NOS and SDN software. For more information, visit
                        <a href="http://www.edge-core.com/"><span style=
                        "color:#0000FF;">www.edge-core.com</span></a>.<br>
                        &nbsp;<br>
                        <strong>Media Contacts</strong><br>
                        Mark Basham&nbsp;&nbsp; Edgecore Networks&nbsp;&nbsp;&nbsp; <a href=
                        "mailto:mark_basham@edge-core.com"><span style=
                        "color:#0000FF;">mark_basham@edge-core.com</span></a>&nbsp;&nbsp; 44-(0)7595 849142<br>
                        &nbsp;<br>
                        <span style="font-size:12px;">&nbsp;<br>
                        All trademarks, service marks, registered marks, or registered service marks are the property of
                        their respective owners.<br>
                        &nbsp;<br>
                        © 2019 Edgecore Networks. The information contained herein is subject to change without notice.
                        Edgecore Networks shall not be liable for technical or editorial errors or omissions contained
                        herein.</span>
                    </li>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>