{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-News-20190522</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>    
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <p class="title2_news">New Release</p>
                <p class="title3_news">2019-05-22</p>
                <a href="https://newsroom.intel.com/contact-intels-public-relations-team/"
                    class="btn btn-primary btn-block intel-cta" style="width:50%">
                    Contact Intel PR </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h1 class="entry-title">Edgecore Networks will showcase its open networking solutions for data centers,
                    enterprises, and communication service providers at Computex Taipei, Nangang Exhibition Center, Hall 2,
                    booth number P0208.</h1>

                <div style="text-align: justify;padding:3vw;padding-left: 0%">
                    <strong>Hsinchu Taiwan</strong> – <strong>Computex Taipei&nbsp;</strong> – Edgecore Networks, a
                    leading solution provider of traditional and open networking, today announces that at Computex
                    Taipei, <strong>booth number P0208, &nbsp;Hall 2, Taipei Nangang Exhibition Center on May 28 to
                        June 1</strong>, it will exhibit its complete line of open networking solutions for data centers,
                    communication service providers and enterprises from access to core networks.<br>
                    &nbsp;<br>
                    Targeting the enterprise, service provider, and data center market segments, Edgecore Networks
                    continuously delivers innovative open networking solutions that enable network infrastructure
                    providers to deploy services with increased flexibility, lower costs and greater software control
                    of SDN-managed open networking infrastructures.&nbsp;<br>
                    &nbsp;<br>
                    Enabling long-distance and high-bandwidth connections between data centers, Edgecore Networks
                    provides a series of high-capacity, high-density, 100G deep-buffer routers and high-bandwidth
                    open packet-transponder switches for data center interconnect, in addition to the
                    high-performance 25G/100G leaf and spine switches for data centers.<br>
                    &nbsp;<br>
                    Actively participating in OCP (Open Compute Project), ONF (Open Networking Foundation), and
                    Telecom Infra Project (TIP), Edgecore Networks has&nbsp; contributed more than 25 open hardware
                    designs that innovate and enrich the open networking ecosystem.&nbsp; In addition to contributing
                    the world’s first open Optical Line Terminal (OLT) for fixed broadband access networks, Edgecore
                    Networks, as the leader in open networks, offers the industry’s first disaggregated cell site
                    gateway, which provides backhaul connectivity for cellular traffic, driving the adoption of open
                    networking for 4G and future 5G mobile operators.&nbsp;<br>
                    &nbsp;<br>
                    At Computex Taipei 2019, Edgecore Networks will showcase:<br>
                    &nbsp;<br>
                    <strong>Open Networking for Data Center and Enterprise</strong>

                    <ul>
                        <li style="text-align: justify;">AS9716-32D 400G Data Center Spine Switch, providing 32 QSFP-DD
                            ports in a 1U form factor, increasing the infrastructure capacity for public and private network
                            operators</li>
                        <li style="text-align: justify;">AS7326-52X 25G TOR and Spine Data Center Switch, designed for
                            high-performance computing clusters and high-frequency trading applications, supporting 10/25G
                            connectivity</li>
                        <li style="text-align: justify;">AS7726-32X 100G Data Center Switch with 32 100G QSFP28
                            ports</li>
                        <li style="text-align: justify;">Minipack AS8000, a modular system in a 4U form factor with a
                            12.8Tbps capacity, supporting a mix of 100G and 400G Ethernet interfaces up to maximum of
                            128x100G or 32x 400G ports with 8 hot-swappable line cards, power modules, and fan modules.</li>
                        <li style="text-align: justify;">Computex Best Choice Award winning product, the 100G coherent
                            switch, AS7716-24SC CASSINI open packet transponder, enabling network operators to easily extend
                            and migrate metro and long-long DWDM networks to a 1.5U modular platform.</li>
                    </ul>
                    <div style="text-align: justify;">
                        &nbsp;<br>
                        <strong>Open Networking for Telecom and Communication Service Providers</strong>
                    </div>
                    <ul>
                        <li style="text-align: justify;">Disaggregated Cell Site Gateways designed for deployment in
                            outdoor cabinets located at mobile cellular tower sites, supporting -40 to 65 degree C
                            operation,
                            including an OCP-compliant design and a TIP compliant design.</li>
                        <li style="text-align: justify;">ASXvOLT16 disaggregated virtual 10G PON OLT, the industry’s
                            first open networking OLT that enables service providers to deploy 10G PON services from CORD
                            architectures with multiple software choices, conforming to the AT&amp;T Open XGS-PON
                            specification of the OCP Telco Working Group.</li>
                        <li style="text-align: justify;">ASGvOLT64, 64 port Open Network GPON OLT for lower-cost
                            high-density deployments.</li>
                        <li style="text-align: justify;">SAF51001I uCPE, the open networking universal CPE for service
                            providers</li>
                    </ul>
                    <div style="text-align: justify;">
                        &nbsp;<br>
                        <strong>Integrated Wired and Wireless Solutions for Enterprise and Carrier</strong>
                    </div>
                    <ul>
                        <li style="text-align: justify;">ECS4530-54CSFP L2 high port density gigabit Ethernet fiber
                            switch with 24 bi-directional ports in a compact 1U size to serve 48 downlinks to CPEs. An ideal
                            design for ISP/MSOs to provide FTTH triple-play service</li>
                        <li style="text-align: justify;">ECS5520-18X L2 10G switch with 16 10G ports and 2 40G uplinks,
                            designed for enterprise aggregation networks with full L2 features.</li>
                        <li style="text-align: justify;">ECS4100 &amp; ECS4120 series, high-performance, cost-effective
                            Gigabit Ethernet access switches designed for ISPs, MSOs, and enterprises, which enable quick
                            fiber-to-home upgrades.</li>
                        <li style="text-align: justify;">Integrated enterprise Wi-Fi solutions with controllers and
                            indoor and outdoor enterprise access points that enable quick and easy hotspot services for
                            wireless cities.</li>
                    </ul>
                    <div style="text-align: justify;">
                        &nbsp;<br>
                        &nbsp;<br>
                        <strong>About Edgecore Networks</strong><br>
                        Edgecore Networks Corporation is a wholly owned subsidiary of Accton Technology Corporation, the
                        leading network ODM.&nbsp; Edgecore Networks delivers wired and wireless networking products and
                        solutions through channel partners and system integrators worldwide for Data Center, Service
                        Provider, Enterprise and SMB customers. &nbsp;Edgecore Networks is the leader in open networking,
                        providing a full line of open Wi-Fi access points, packet transponders, virtual PON OLTs, cell
                        site gateways, and 1G, 10G, 25G, 40G, 100G and 400G OCP Accepted<sup>TM</sup> switches that offer
                        choice of commercial and open source NOS and SDN software. For more information, visit <a
                            href="http://www.edge-core.com/">www.edge-core.com</a>.<br>
                        .<br>
                        &nbsp;<br>
                        <strong>Media Contacts</strong><br>
                        <strong>Lucille Lu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Edgecore
                            Networks&nbsp;&nbsp;&nbsp;</strong> <a
                            href="mailto:lucille_lu@edge-core.com"><strong>lucille_lu@edge-core.com</strong></a><strong>&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp; 886-3-505-3674</strong><strong>, 886-939-226-043</strong><br>
                        &nbsp;<br>
                        <span style="font-size:14px;">All trademarks, service marks, registered marks, or registered
                            service marks are the property of their respective owners.<br>
                            © 2019 Edgecore Networks. The information contained herein is subject to change without notice.
                            Edgecore Networks shall not be liable for technical or editorial errors or omissions contained
                            herein.</span><br>
                        <br clear="all">
                        &nbsp;
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>