{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-Carrier Access Solutions</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row solution">
        <div class="col-12 title1_solution">
            <h1>Carrier Access Solutions</h1>
        </div>

        <div class="x_panel solution">
            <div class="col-12 title2_solution">
                <h1>Cutting-edge solutions and innovative carrier access open platforms</h1>
            </div>
            <p class="content_solution">
                Accton continuously strives to provide the latest cutting-edge carrier access solutions to its carrier,
                service provider, and Multiple System Operator (MSO) customers. With more than 30 years of R&D
                experience in Ethernet hardware and software design, Accton’s engineering teams have a proven track
                record in supplying cost-effective ODM solutions to Tier-1 vendors worldwide.
                <br><br>
                Accton’s experience in carrier access products covers a wide range, from passive optical networks for
                residential broadband access to NEBS-compliant aggregation switches and routers, as well as 3G/4G mobile
                and enterprise IP backhaul devices. To build on past achievements, Accton is now actively engaged in
                bringing next-generation SDN/NFV open platforms to markets in the near future.
            </p>
            <div class="row content_solution" style="text-align: center">
                <div class="col-md-4 col-xs-4">
                    <img src="{%static '/images/solution/sl_tele_icon01.png'%}" style="width:30%">
                    <p class="content_solution">Carrier-class NEBS compliant open service platform designs</p>
                </div>
                <div class="col-md-4 col-xs-4">
                    <img src="{%static '/images/solution/sl_tele_icon02.png'%}" style="width:30%">
                    <p class="content_solution">Distributed cloud CPE, x86/ARM based uCPE for VNFs on demand</p>
                </div>
                <div class="col-md-4 col-xs-4">
                    <img src="{%static '/images/solution/sl_tele_icon03.png'%}" style="width:30%">
                    <p class="content_solution">XGS-PON/NG-PON2 vOLT HW Open Platform for CORD applications</p>
                </div>
            </div>
            <div class="title3_solution">
                Residential Broadband Access
            </div>
            <div class="row">
                <img src="{%static '/images/solution/sl_tele_fig01.jpg' %}" class="pull-left img-thumbnail"
                    style="margin:1vw;width:30%">
                <p class="content_solution">
                    Accton has a successful track record in delivering GPON products stretching back over many years,
                    including GPON ONTs, home gateways, and other ONU devices. Accton has also developed a GPON BOSA
                    (Bi-directional Optical Sub-Assembly) design that fits in a standard SFP form factor. As PON
                    technology
                    moves to 10G and 40G solutions, such as XGS-PON and NG-PON2, Accton will continue to develop
                    innovative
                    solutions that offer higher capacity, lower costs, and wider coverage.
                </p>
            </div>
            <div class="title3_solution">
                Aggregation Networks
            </div>
            <div class="row">
                <img src="{%static '/images/solution/sl_tele_fig02.jpg' %}" class="pull-right img-thumbnail"
                    style="margin:1vw;width:30%">
                <p class="content_solution">
                    As carrier aggregation networks have adapted to increasing bandwidth demands, Accton has delivered
                    the required hardware solutions that build operator infrastructure. These switches, routers, and
                    edge controllers are customized with a variety of port interfaces to meet the requirements of
                    specific aggregation applications. Accton’s extensive carrier-class experience integrates redundant
                    PSUs and fan assemblies into robust NEBS-compliant designs that have been successfully manufactured
                    for Tier-1 operators worldwide.
                    <br><br>
                    With a focus on the future, Accton is now developing SDN/NFV open-platform architectures that extend
                    up to 100 Gbps. Working with its software partners, Accton has the ability to deliver
                    next-generation SDN-based devices that conform to Open Compute Project (OCP) and Telecom
                    Infrastructure Project (TIP) specifications.

                </p>
            </div>
            <div class="title3_solution">
                3G/4G Mobile Backhaul Access
            </div>
            <div class="row">
                <img src="{%static '/images/solution/sl_tele_fig03.jpg' %}" class="pull-left img-thumbnail"
                    style="margin:1vw;width:30%">
                <p class="content_solution">
                    As mobile wireless networks move to new technologies and higher traffic volumes, the need for
                    greater capacity in backhaul connections has become urgent. With LTE-Advanced mobile networks that
                    can reach data throughput rates of up to 100Mbps, the backhaul infrastructure must be able to
                    provide the scalability and flexibility to support the ever-improving wireless connectivity. Accton
                    offers extensive experience in delivering backhaul devices for 3G/4G mobile networks as it has for
                    carrier access aggregation. What’s more, as networks migrate to SDN/NFV open platforms over the next
                    few years, Accton is perfectly positioned to provide Telecom Infrastructure Project (TIP) compliant
                    open devices to mobile operators.
                </p>
            </div>
            <div class="title3_solution">
                SOHO / SMB / Enterprise Ethernet Backhaul
            </div>
            <div class="row">
                <img src="{%static '/images/solution/sl_tele_fig04.jpg' %}" class="pull-right img-thumbnail"
                    style="margin:1vw;width:30%">
                <p class="content_solution">
                    Accton’s 30 years of R&D experience and vast array of engineering resources has been effectively
                    applied to produce carrier-grade devices for the IP backhaul market. Carrier access switches,
                    routers, and Universal Customer Premises Equipment (uCPEs) have been custom-designed for many
                    service providers worldwide. These innovative designs meet NEBS Level-3 compliance and include
                    outdoor hardened devices that support Ethernet OAM (IEEE 802.3ah) for fault detection and
                    performance monitoring, and Synchronous Ethernet (IEEE 1588v2). As networks move to 10G, 40G, and
                    100G speeds with SDN/NFV open-platforms, Accton is ready to deliver cost-effective next-generation
                    IP backhaul solutions.
                </p>
            </div>


        </div>

    </div>
</div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>