{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-Job status</title>
	{% include 'preset_style.html' %}
	<!-- Additional-->
    <link href="{% static 'vendors/additional/jobstatus.css' %}" rel="stylesheet">
	<script>
			//doughnut
			var ctxD = document.getElementById("doughnutChart").getContext('2d');
			var myLineChart = new Chart(ctxD, {
			type: 'doughnut',
			data: {
				labels: ["#001", "#002", "#003"],
				datasets: [{
				data: [300, 50, 100],
				backgroundColor: ["#949FB1", "#46BFBD", "#FDB45C"],
				hoverBackgroundColor: ["#A8B3C5", "#5AD3D1", "#FFC870"]
				}]
			},
			options: {
				responsive: true
			}
			});

		</script>

		<script>
			function myFunction(){
			document.getElementById("refresh").disabled = false;
			document.getElementById("real_time").disabled = true;
			}
		</script>
		<script>
			function myFunction1(){
			document.getElementById("refresh").disabled = true;
			document.getElementById("real_time").disabled = false;
			}
		</script>

</head>
{% include 'template_ntc.html' %}
<div class="right_col" role="main">
	<!-- ==== ==== ==== Main client area ==== ==== ==== -->
	<!-- ==== ==== ==== Main client area ==== ==== ==== -->
	<!-- breadcomb -->
	<div class="clearfix"></div>
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<div class="row">
		<!--
                                    <div class="col-md-6 col-sm-4 col-xs-12">
                                            one row of data
                                    </div>
                                    -->
		<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
			<div class="x_panel">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="x_title">
						<div class="col-lg-3 col-md-6 col-sm-8 col-xs-12">
							<h1>Job Status &nbsp;<button class="btn btn-default" type='button'><a onclick=jumpJobDetail()>View detail</a></button></h1>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
							<div class="dropdown" style="padding-top: 5px">
								<button class="btn btn-primary dropdown-toggle " data-toggle="dropdown" id="select_job_button" type="button">Job Select <span class="caret" ></span></button>
								<ul class="dropdown-menu dropdown-menu-right" id="dropdown-job-list">
									<li>
										<a href="#">HTML</a>
									</li>
								</ul>
							</div>
						</div>
				<div class="clearfix"></div>

					</div>
				</div>
				<div class="clearfix"></div>
				<div class="container-fluit">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-8 col-sm-6 col-xs-6">
								<div class="row">
									<div class="col-md-4 col-sm-12 col-xs-12">
										<h4>Test Configuration</h4>
									</div>
									<div class="row">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<ul class="list-group" id="information">
												<li class="list-group-item list-group-item-info" style="background:#ECECEC">
													<h5>Platform &nbsp;<small id="platform">SONiC</small> &nbsp;&nbsp; Model &nbsp;<small id="model">AS4610</small> &nbsp;&nbsp; Topology&nbsp;<small id="topo">T_SONiC_1</small></h5>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 col-sm-12 col-xs-12">
										<h4>Current Status <span class="label label-default"></span></h4>
									</div>
									<div class="row">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<div class="panel panel-default showData">
												<div class="container"id="current_status">
													123123123123123123123123123123123123123123123123123123123123123123123123123123123123123123
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 col-sm-12 col-xs-12">
										<h4>Progress <span class="label label-default" style="width:500px"></span></h4>
									</div>
									<div class="row">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<div class="progress" style="width: 4.8vw height=40px">
												<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" class="progress-bar progress-bar-info" id="jobProgress" role="progressbar" style="width: 60%">
													<span class="sr-only">60% Complete (warning)</span> 60%
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 col-sm-12 col-xs-12">
										<h4>Current Test Name<span class="label label-default"></span></h4>
									</div>
									<div class="row">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<div class="panel panel-default">
												<div id="test_name">
													123123123123123123123123123123123123123123123123123123123123123123123123123123
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div align="center">
									<button class="btn btn-lg btn-primary" disabled="disabled" id="real_time" onclick="real_Time_clicked()" type="button">Real-time</button> <button class="btn btn-default btn-lg" id="refresh" onclick="refresh_clicked()" type="button">Refresh</button>
								</div>
								<canvas id="doughnutChart" style="position:relative"></canvas>
								<h4 class="text-center" id="spend_time" style="color:#2685C7;position:relative">Time spend: &nbsp; 12 &nbsp; mins</h4>
								<h4 class="text-center" style="color:#2685C7;position:relative">Estimate Finished: &nbsp; 1 &nbsp; hr</h4>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h4 class="col-md-2 col-sm-12 col-xs-12">Log
								<small><br>
								(show last 80 lines)
								</small>
							</h4>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="panel panel-default" style="height:30vw;overflow:scroll;background:#ECECEC">
									<!-- Default panel contents -->
									<form id="log" name="log">
										<div></div>
									</form>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div style="margin-top:20px;bottom:0px;right:0px">
									<a class="btn btn-primary btn-lg disabled" href="#" id="finish_button" role="button" style="float:right">Finished</a> <a class="btn btn-primary btn-lg" href="#" id="ok_button" role="button" style="float:right">OK</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div><!-- footer content -->
	<footer>
		<div class="pull-right">
			Powered by Accton Technology&copy;
		</div>
		<div class="clearfix"></div>
	</footer><!-- /footer content -->
</div>
	{% include 'preset_js.html' %}
	<script src="{% static 'js/status.js' %}"></script> 
</body>
</html>






