{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-Job management</title>
	{% include 'preset_style.html' %}

</head>
{% include 'template_ntc.html' %}
		<div class="right_col" role="main">
			<!-- ==== ==== ==== Main client area ==== ==== ==== -->
			<!-- ==== ==== ==== Main client area ==== ==== ==== -->
			<!-- breadcomb -->
			<div class="clearfix"></div>
			<!-- ====     page content     ==== -->
			<!-- ====     page content     ==== -->
			<!-- ====     page content     ==== -->
			<!-- ====     page content     ==== -->
			<!-- ====     page content     ==== -->
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
					<div class="x_panel">
						<div class="x_title">
							<h1>Job Management</h1>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<!--<p class="text-muted font-13 m-b-30">message</p>-->
							<div>
								<table class="table Table">
									<thead>
										<tr class="tr-only-hide">
											<th scope="col">#</th>
											<th scope="col">Id</th>
											<th scope="col">Name</th>
											<th scope="col">Status</th>
											<th scope="col">Start time</th>
											<th scope="col">End time</th>
											<th scope="col">Result</th>
											<th scope="col">Description</th>
											<th scope="col">Note</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div><br>
							<div id="testCase" style="height: 350px ;overflow: auto"></div><br>
							<div id="testCase" style="height: 350px ;overflow: auto"></div><br>
							<script>
								//doughnut
								var ctxD = document.getElementById("doughnutChart").getContext('2d');
								var myLineChart = new Chart(ctxD, {
									type: 'doughnut',
									data: {
										labels: ["#001", "#002", "#003"],
										datasets: [{
											data: [300, 50, 100],
											backgroundColor: ["#949FB1", "#46BFBD", "#FDB45C"],
											hoverBackgroundColor: ["#A8B3C5", "#5AD3D1", "#FFC870"]
										}]
									},
									options: {
										responsive: true
									}
								});
	
							</script>
							<script>
								function myFunction(){
								document.getElementById("refresh").disabled = false;
								document.getElementById("real_time").disabled = true;
								}
							</script>
							<script>
								function myFunction1(){
								document.getElementById("refresh").disabled = true;
								document.getElementById("real_time").disabled = false;
								}
							</script>
							<table cellspacing="0" class="table table-striped table-bordered dt-responsive nowrap" id="datatable-responsive" width="100%">
								<thead>
									<tr>
										<!-- jQuery -->
										<!-- footer content -->
										<!-- /footer content -->
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- footer content -->
<div class="clearfix"></div>
{% include 'main_footer.html' %}
	</div>
</div>
	{% include 'preset_js.html' %}
	<script src="{% static 'js/jobTable.js' %}"></script> 

</body>
</html>






