{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-SONiC Download</title>
	{% include 'preset_style.html' %}
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/download.css' %}" rel="stylesheet">
</head>

{% include 'sonic_template.html' %}
<div class="right_col" role="main">
		<!-- ==== ==== ==== Main client area ==== ==== ==== -->
		<!-- ==== ==== ==== Main client area ==== ==== ==== -->
		<div class="clearfix"></div>
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
				<div class="x_panel">
					<div class="col-xs-3 col-sm-3" style="padding-left: 10%;line-height: 300px;">
						<img src="{% static 'images/icon/accton.png' %}" style="width:200px;padding:10% 0% 10% 0;">
					</div>
					<div class="col-xs-8 col-sm-8" style="float:right; height: 200px;">	
						<h1>For Advertising ...</h1>
						<h2>For Advertising ...</h2>
						<h3>For Advertising ...</h3>
						<h4>For Advertising ...</h4>
					</div>
					<div class="col-xs-8 col-sm-8" style="float:right; height: 300px;">
						<h2 style="color:#20304b;text-align: center;padding:20px">Download SONiC Image</h2>
						<div class="col-xs-6 col-sm-6" style="text-align: center"> 
							<h2 class="choose-edition">Community</h2>
							<h4 class="introduction">It's simple information.</h4>
							<button id="communityBtn" class="btn downloadbtn" type="button">Download</button>
						</div>
						<div class="col-xs-6 col-sm-6" style="text-align: center"> 
							<h2 class="choose-edition">Performance</h2>
							<h4 class="introduction">It's simple information.</h4>
							<button id="performanceBtn" class="btn downloadbtn" type="button">Download</button>
						</div>
					</div>
					<div class="download-title col-xs-12 col-sm-12">
						<h2 style="color:#20304b;text-align: center;padding:20px">Accton - Software for Open Networking in Cloud Standard Edition</h2>
					</div>
					<div class="col-xs-12 col-sm-12 version-box">
						<div class="x_panel">
							<div class="col-xs-12 col-sm-12 version">
								<h2>SONiC 201903</h2>
								<div class="versionDownload">
									<button type="button" class="btn btn-info">More</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 version-box">
						<div class="x_panel">
							<div class="col-xs-12 col-sm-12 version">
								<h2>SONiC 201811</h2>
								<div class="versionDownload">
									<button type="button" class="btn btn-info">More</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 version-box">
						<div class="x_panel">
							<div class="col-xs-12 col-sm-12 version">
								<h2>SONiC 201807</h2>
								<div class="versionDownload">
									<button type="button" class="btn btn-info">More</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 version-box">
						<div class="x_panel">
							<div class="col-xs-12 col-sm-12 version">
								<h2>SONiC 201803</h2>
								<div class="versionDownload">
									<button type="button" class="btn btn-info">More</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 version-box">
						<div class="x_panel">
							<div class="col-xs-12 col-sm-12 version">
								<h2>SONiC 201712</h2>
								<div class="versionDownload">
									<button type="button" class="btn btn-info">More</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 version-box">
						<div class="x_panel">
							<div class="col-xs-12 col-sm-12 version">
								<h2>SONiC 201709</h2>
								<div class="versionDownload">
									<button type="button" class="btn btn-info">More</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 version-box">
						<div class="x_panel">
							<div class="col-xs-12 col-sm-12 version">
								<h2>SONiC 201705</h2>
								<div class="versionDownload">
									<button type="button" class="btn btn-info">More</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
						
<!-- footer content -->
<footer>
	<div class="container">
		<div class="pull-right">Powered by Accton Technology &copy;</div>
	</div>
</footer>
	{% include 'preset_js.html' %}
</body>
</html>