{% extends 'wiki_template.html' %}
{% load staticfiles %}

{% block titile %}
	<title>Wiki-Network Operating System</title>
{% endblock %}
{% block style %}
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/product.css' %}" rel="stylesheet">
	<link href="{% static 'vendors/additional/wiki.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="tabcontent">
		<h3>Network operating system</h3>
		<p class="font1">Client–server model is a distributed application structure that partitions tasks or workloads between the providers of a resource or service, called servers, and service requesters, called clients.[1] Often clients and servers communicate over a computer network on separate hardware, but both client and server may reside in the same system. A server host runs one or more server programs which share their resources with clients. A client does not share any of its resources, but requests a server's content or service function. Clients therefore initiate communication sessions with servers which await incoming requests. Examples of computer applications that use the client–server model are Email, network printing, and the World Wide Web.</p>
		<h3>History</h3>
		<p class="font1">Early microcomputer operating systems such as CP/M, DOS and classic Mac OS were designed for one user on one computer.[citation needed] Packet switching networks were developed to share hardware resources, such as a mainframe computer, a printer or a large and expensive hard disk.[1] As local area network technology became available, two general approaches to handle sharing of resources on networks arose.[citation needed]
            <br><br>
            Historically a network operating system was an operating system for a computer which implemented network capabilities. Operating systems with a network stack allowed personal computers to participate in a client-server architecture in which a server enables multiple clients to share resources, such as printers.[2][3][4] Early examples of client-server operating systems that were shipped with fully integrated network capabilities are Novell NetWare using the Internetwork Packet Exchange (IPX) network protocol, Windows Server 2003, and Banyan VINES which used a variant of the Xerox Network Systems (XNS) protocols.[citation needed]
            <br><br>
            Peer-to-peer network operating systems were also developed, which used networking capabilities to share resources and files located on personal computers. This system is not based with having a file server or centralized management source. A peer-to-peer network sets all connected computers equal; they all share the same abilities to use resources available on the network.[3] Examples of early peer-to-peer operating systems with networking capabilities include AppleShare used for networking connecting Apple products, LANtastic supporting DOS, Microsoft Windows and OS/2 computers, as well as Windows for Workgroups used for networking peer-to-peer Windows computers.[citation needed] 
            <br><br>
            Today, distributed computing and groupware applications have become the norm. Computer operating systems include a networking stack as a matter of course.[5] During the 1980s the need to integrate dissimilar computers with network capabilities grew and the number of networked devices grew rapidly. Partly because it allowed for multi-vendor interoperability the TCP/IP protocol suite became almost universally adopted in network architectures. Therefore computer operating systems and the firmware of network devices needed to reliably support the TCP/IP protocols.[6]
        <h3>Network device operating systems</h3>
        <p class="font1">Network operating systems can be embedded in a router or hardware firewall that operates the functions in the network layer (layer 3).[7] Notable network operating systems include: </p>
            <b class="font2">Proprietary network operating systems</b>
            <ul class="ul3">
                <li>Cisco IOS, a family of network operating systems used on most Cisco Systems routers and current Cisco network switches. Earlier switches ran the Catalyst Operating System CatOS</li>
                <li>pfSense, a fork of M0n0wall, uses PF</li>
                <li>ZyNOS, used in network devices made by ZyXEL.</li>
            </ul>
            <b class="font2">NetBSD or Linux based operating systems</b>
            <ul class="ul3">
                <li>DD-WRT, Linux kernel based DD-WRT is Linux-based firmware for wireless routers and access points as well as low-cost networking device platforms such as the Linksys WRT54G</li>
                <li>Dell Networking Operating System, DNOS9 is NetBSD based, while OS10 uses the Linux kernel.</li>
                <li>Extensible Operating System runs on switches from Arista and uses an unmodified Linux kernel</li>
                <li>ExtremeXOS (EXOS), used in network devices made by Extreme Networks</li>
                <li>FTOS or Force10 Operating System, is the firmware family used on Force10 Ethernet switches</li>
                <li>Openwrt used to route IP packets on embedded devices</li>
            </ul>
            <b class="font2">Open source network operating system</b>
            <ul class="ul3">
                <li>Cumulus Linux distribution, which uses the full TCP/IP stack of Linux.</li>
                <li>VyOS, an open source fork of the Vyatta routing package</li>
            </ul>
        <h3>See also</h3>
        <p class="font1">
        <ul class="ul3">
            <li>Distributed operating system</li>
            <li>FRRouting</li>
            <li>Network Computer Operating System</li>
            <li>Network functions virtualization</li> </p>
        </ul>
    </div>
{% endblock %}
{% block js %}
	<!-- Additional JS-->
	<script src="{% static 'js/sonic/product.js' %}"></script>
	<script src="{% static 'js/sonic/location.js' %}"></script>
	<script src="{% static 'vendors/additional/js/wiki.js' %}"></script>
{% endblock %} 