{% extends 'SONiCProducts/products_template.html' %}
{% load staticfiles %}
{% block title %} TMS-AS9716-32d {% endblock %}

{% block picture %}
	<div class="slider-for">
		<img src="{% static 'images/products/400g/as9716-32d/as9716-32d-1.png' %}" alt="">
		<img src="{% static 'images/products/400g/as9716-32d/as9716-32d-2.png' %}" alt="">
		<img src="{% static 'images/products/400g/as9716-32d/as9716-32d-3.png' %}" alt="">
		<img src="{% static 'images/products/400g/as9716-32d/as9716-32d-4.png' %}" alt="">
	</div>
	<div class="slider-nav">
		<img src="{% static 'images/products/400g/as9716-32d/as9716-32d-1.png' %}" alt="">
		<img src="{% static 'images/products/400g/as9716-32d/as9716-32d-2.png' %}" alt="">
		<img src="{% static 'images/products/400g/as9716-32d/as9716-32d-3.png' %}" alt="">
		<img src="{% static 'images/products/400g/as9716-32d/as9716-32d-4.png' %}" alt="">
	</div>
{% endblock %}

{% block productSummary %}
<h2>AS9716-32D</h2>
<h4>400GbE Data Center Switch Bare-Metal Hareware</h4>
<p>The Edgecore AS9716-32D is a spine switch for high-performance data centers. The switch provides line-rate L2 and L3 switching across the 32 x QSFP-DD ports, each supporting 1 x 400 GbE or 1 x 100 GbE, or via breakout cables 4 x 100 GbE or 4 x 25 GbE.</p>
{% endblock %}

{% block Overview %}
<p class="content2 font2">The Edgecore AS9716-32D is a spine switch for high-performance data centers. The switch provides line-rate L2 and L3 switching across the 32 x QSFP-DD ports, each supporting 1 x 400 GbE or 1 x 100 GbE, or via breakout cables 4 x 100 GbE or 4 x 25 GbE. The AS9716-32D can be deployed as a spine switch supporting 100/400 GbE spine interconnects. This open network switch is loaded with the Open Network Install Environment (ONIE), which supports the installation of compatible Network Operating System software, including the open source options Open Network Linux, plus commercial NOS offerings.</p>
{% endblock %}

{% block specs %}
	<table class="table table-bordered table-striped">
		<colgroup>
			<col class="col-xs-6">
			<col class="col-xs-6">
		</colgroup>
		<tbody>
			<tr>
				<th><div class="specs_title">Ports</div></th>
				<td class="common-style-font2 content">32</td>
			</tr>
			<tr>
				<th><div class="specs_title">Predominant Port Type</div></th>
				<td class="common-style-font2 content">400G QSFP-DD</td>
			</tr>
			<tr>
				<th><div class="specs_title">High Availability</div></th>
				<td class="common-style-font2 content">Redundant Power Supply, Redundant Fans</td>
			</tr>
			<tr>
				<th><div class="specs_title">Compatible Soft Option</div></th>
				<td class="common-style-font2 content">	Open Compute Project - Open Network Linux</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block features %}
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>Cost-effective, open network switch for data center fabric.</li>
				<li>32 x QSFP-DD switch ports, each supporting 1 x 400 GbE or 1 x 100 GbE, or via breakout cables 4 x 100 GbE or 4 x 25 GbE.</li>
				<li>Incorporates Broadcom Tomahawk III switch series silicon for non-blocking line rate performance.</li>
				<li>High-performance Intel Xeon D-1518 CPU with optional BMC.</li>
				<li>1RU form factor.</li>
				<li>Supports hot/cold aisles with front-to-back and back-to-front airﬂow SKUs.</li>
			</ul>
		</div>
	</div>
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>All ports on front; PSUs and fans accessible from rear.</li>
				<li>Hot-swappable, load-sharing, redundant 1300 W PSUs.</li>
				<li>5+1 redundant, hot-swappable fan modules.</li>
				<li>Bare-metal hardware switch pre-loaded with diagnostics software and with Open Network Install Environment (ONIE) for automated loading of compatible open source and commerical NOS offerings.</li>
				<li>Compatible with Open Network Linux (ONL), the open-source, OCP reference NOS.</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block downloads %}
	<table class="table Table table-hover">
		<tbody>
			<tr class="tr-only-hide">
				<th>Category</th>
				<th>Name</th>
				<th>Rev</th>
				<th>Release Notes</th>
				<th>Date</th>
				<th>Note</th>
				<th>Download</th>
			</tr>
			<tr>
				<td data-th="Category">Datasheet</td>
				<td data-th="Name">AS9716-32D DS R01</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2019-03-13</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/400g/as9716-32d/AS9716-32D_DS_R01_20190313.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Firmware</td>
				<td data-th="Name">SONiC image</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="ReDatev">n/a</td>
				<td data-th="Note">
					<a href="/sonic/accton/download"><span class="badge badge-pill badge-primary jumpDownload">More available</span>
				</td>
				<td data-th="Download">
					<a id="SONiC_Image_Downloads" href="#"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}