{% extends 'SONiCProducts/products_template.html' %}
{% load staticfiles %}
{% block title %} TMS-Wedge100S-32X {% endblock %}

{% block picture %}
	<div class="slider-for">
		<img src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-1.png' %}" alt="">
		<img src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-2.png' %}" alt="">
		<img src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-3.png' %}" alt="">
		<img src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-4.png' %}" alt="">
	</div>
	<div class="slider-nav">
		<img src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-1.png' %}" alt="">
		<img src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-2.png' %}" alt="">
		<img src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-3.png' %}" alt="">
		<img src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-4.png' %}" alt="">
	</div>
{% endblock %}

{% block productSummary %}
<h2>WEDGE 100S-32X</h2>
<h4>100GbE Data Center Switch</h4>
<p>The  Edgecore  Wedge100S-32X  is  a  commercial  product  based  on  Facebook's  Wedge100S  design.  Facebook designed the Wedge100S as a 32 x 100 GbE top-of-rack switch optimized for web-scale data centers, and submitted the design to the Open Compute Project. </p>
{% endblock %}

{% block Overview %}
<p class="content2 font2">The  Edgecore  Wedge100S-32X  is  a  commercial  product  based  on  Facebook's  Wedge100S  design.  Facebook designed the Wedge100S as a 32 x 100 GbE top-of-rack switch optimized for web-scale data centers, and submitted the design to the Open Compute Project. Edgecore's parent company, Accton Technology, performed the design validation  for  Facebook  and  manufactures  the  Wedge100S  for  Facebook’s  deployment.  Edgecore  now  offers  the Wedge100S as a fully supported commercial product to enable network operators to increase capacity with 25 G and 100 G networking.</p>
<p class="content2 font2">The Wedge100S switch provides 32 QSFP28 ports that can each run at 100 GbE/40 GbE, or as 4 x 25 GbE/ 4 x 10 GbE/2 x 50 GbE through breakout cables. The Wedge100S design is based on the Broadcom BCM56960 Tomahawk 3.2 Tbps switch silicon. The Wedge CPU subsystem is the COM-E CPU module, based on the Intel Xeon Broadwell-DE D1508 processor. The use of this standard CPU system, coupled with the BMC (Baseboard Management Controller) on the Wedge main board, enables the Wedge100S to be provisioned and managed using similar tools used by data center operators for their server and application environments.</p>
{% endblock %}

{% block specs %}
	<table class="table table-bordered table-striped">
		<colgroup>
			<col class="col-xs-6">
			<col class="col-xs-6">
		</colgroup>
		<tbody>
			<tr>
				<th><div class="specs_title">Ports</div></th>
				<td class="common-style-font2 content">32</td>
			</tr>
			<tr>
				<th><div class="specs_title">Predominant Port Type</div></th>
				<td class="common-style-font2 content">100GbE QSFP28</td>
			</tr>
			<tr>
				<th><div class="specs_title">High Availability</div></th>
				<td class="common-style-font2 content">Redundant Power Supply, Redundant Fans</td>
			</tr>
			<tr>
				<th><div class="specs_title">Compatible Soft Option</div></th>
				<td class="common-style-font2 content">Open Compute Project - Open Network Linux</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block features %}
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>Bare-metal TOR switch for data center fabric.</li>
				<li>Open hardware design contributed by Facebook to the Open Compute Project.</li>
				<li>Compatible with a 19” rack, or a 21” Open Rack using the Open Rack Switch Adapter.</li>
				<li>32 x QSFP28 ports in a compact 1RU form factor.</li>
				<li>Each port supports 1 x 100 GbE/40 GbE, or 4 x 25 GbE/4 x 10 GbE/2 x 50 GbE via breakout cables.</li>
				<li>Line-rate Layer 2 or Layer 3 forwarding of 3.2 Tbps full duplex.</li>
				<li>Hot-swappable, load-sharing, redundant AC PSUs or 12 V DC PSUs.</li>
			</ul>
		</div>
	</div>
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>4+1 redundant, hot-swappable fans.</li>
				<li>Front-to-back airﬂow.</li>
				<li>Console, management, and USB ports on switch ports side.</li>
				<li>Hardware switch pre-loaded with Open Network Install Environment (ONIE) for automated loading of compatible open source and commerical NOS offerings.</li>
				<li>Compatible with Open Network Linux (ONL), an open-source, OCP reference NOS.</li>
				<li>Compatible with open-source FBOSS Agent software.</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block downloads %}
	<table class="table Table table-hover">
		<tbody>
			<tr class="tr-only-hide">
				<th>Category</th>
				<th>Name</th>
				<th>Rev</th>
				<th>Release Notes</th>
				<th>Date</th>
				<th>Note</th>
				<th>Download</th>
			</tr>
			<tr>
				<td data-th="Category">Datasheet</td>
				<td data-th="Name">WedgeS 100-32X R01</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2018-07-23</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/100g/wedge100s-32x/Wedge100S-32X_DS_R01_20180723.pdf' %}" target="_blank"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Firmware</td>
				<td data-th="Name">SONiC image</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">n/a</td>
				<td data-th="Note">
					<a href="/sonic/accton/download"><span class="badge badge-pill badge-primary jumpDownload">More available</span>
				</td>
				<td data-th="Download">
					<a id="SONiC_Image_Downloads" href="#"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}