{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-Telco-TIP</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
    <link href="{% static 'vendors/additional/telco_solution.css' %}" rel="stylesheet">    

</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
	<div class="clearfix"></div>
	<div class="row solution">
		<div class="col-12 title1_solution">
			<h1>TIP and Open Packet Transponder</h1>
		</div>
		<div class="x_panel solution">
			<div class="col-12 title2_solution">
				<h1>Introduction</h1>
			</div>
			<p class="content_solution">This Technology Brief outlines the Telecom Infra Project (TIP) and how it hopes to emulate the success of the Open Compute Project (OCP) in the telecom world. The goal of TIP is to transform the telecom landscape and bring open innovation for building better technologies that are more efficient and more interoperable. Edgecore has contributed an open optical packet transponder to TIP and the design of this device is examined as an example of TIP community-driven collaboration.<br>
			<br></p>
			<div class="col-12 title2_solution">
				<h1>What is TIP?</h1>
			</div>
			<p class="content_solution">With the success of the Open Compute Project (OCP) in developing next-generation hardware and software infrastructure for the data center, telecommunication companies (telcos) have been looking to the same open model for more efficient and flexible technologies. Telco operators are particularly interested in software-defined networking (SDN), network function virtualization (NFV), and other new innovations that can reduce costs and provide quick and simple network deployment. The transition of telcos away from monolithic, costly evolution to open, community-driven practices represents an enormous challenge, but one that telcos are prepared to take in order to keep pace with a rapidly changing world.<br>
			<br>
			Facebook initiated TIP as a collaborative venture between Internet content providers and telcos, with the project being backed by major operators worldwide. TIP has a broad engineering-focused scope, seeking to build open solutions for access, backhaul, and core networks. TIP member companies are encouraged to contribute to the advancement of various projects, as well as submitting hardware designs and software solutions. TIP members are looking to build new efficient, flexible systems that will integrate seamlessly into infrastructure and evolve with it.<br>
			<br></p>
			<div class="col-12 title2_solution">
				<h1>TIP Network Groups</h1>
			</div>
			<p class="content_solution">TIP is structured into three basic project groups. These groups represent three strategic network segments in which to focus innovation and development of products and solutions. The three network segments have differing demands and challenges, therefore allowing an independent development of each segment will give rise to more efficiencies in the long term.<br>
			<br>
			<ul class="content_solution">
				<li style="list-style: none">The three project groups can be summarized as follows:</li>
				<li class="content_solution">Access – Focused on technologies that connect end users to the Internet. This group is driven by Facebook's requirement to make Internet access more widely available to more people in all corners of the world. The Access group will also seek to remove obstacles that prevent end-user connections in many difficult environments.</li>
				<li class="content_solution">Backhaul – To increase the capacity and scalability of backhaul links as network traffic increases. Network traffic is increasing significantly every year and with more users gaining access to the Internet the demands of wired and wireless backhaul need to be addressed.</li>
				<li class="content_solution">Core and Management – To simplify core networks and improve efficiency and flexibility. In particular, to reduce the costs involved in operating and maintaining a network.</li>
            </ul></p>
            <br><br>
            <p class="content_solution">
			Consistent with the community-driven nature of TIP, there are also TIP Community Labs where new technologies developed in the network groups are tested and validated. There are currently six Community Labs that run trials of TIP technologies and provide results to the wider TIP community.<br>
			<br>
            In addition, TIP wants to encourage good ideas and participation from all parties. Therefore, TIP Ecosystem Acceleration Centers (TEACs) are proposed that will offer an environment for promising telecom startups to find the advice and venture capital needed to bring ideas to fruition.<br><br>
            Edgecore's Open Packet Transponder<br><br>
            </p>
			<div class="col-xs-12 content_solution photo_demo"><img src="{% static '/images/solution/Telco_TIP01.jpg' %}" style="width:30%"><br><br></div>
			<p class="content_solution">As a leader in open networking, Edgecore has shown its commitment to TIP by contributing its own hardware design for an open-source whitebox packet transponder. Edgecore's Cassini packet transponder is designed to support a flexible mix of coherent optical interfaces for data center interconnect and service provider backhaul. In the spirit of true TIP collaboration, the open packet transponder was developed in association with NTT Electronics, Acacia Communications, and Finisar Corporation, which provided support on the device's coherent optical line cards and optical transceivers.<br>
			<br>
			The Cassini open packet transponder is the industry's first modular open-source whitebox packet transponder offering a high-capacity combination of 100 Gigabit Ethernet (GbE) packet switching ports and 100/200 Gbps coherent optical interfaces. The device is a 1.5 RU form-factor enclosure with a system throughput of 3.2 Tbps based on Broadcom StrataXGS™ Tomahawk™ Plus switch silicon.<br>
			<br></p>
			<div class="col-xs-12 content_solution photo_demo"><img src="{% static '/images/solution/Telco_TIP02.jpg' %}" style="width:30%"><br><br></div>
			<ul class="content_solution">
				<li class="content_solution">100 GbE Line Card: 2 x 100GbE QSFP28 with MACsec.</li>
				<li class="content_solution">DCO Line Card: 1 x 100G/200G CFP2 with MACsec, supporting DCO pluggable transceivers including the Acacia AC200 CFP2-DCO module.</li>
				<li class="content_solution">ACO Line Card: 1 x 100G/200G CFP2 with NTT Electronics ExaSPEED 200 DSP, supporting ACO transceivers including the Finisar and Lumentum CPF2-ACO Coherent Optical Transceiver.</li>
			</ul>
			<div class="col-xs-12 content_solution photo_demo"><img src="{% static '/images/solution/Telco_TIP03.jpg' %}" style="width:30%"><br><br></div>
			<p class="content_solution">Two of the optical line cards support MACsec security to enable secure encrypted connections on both client-side links and metro or wide-area connections. The ACO line card incorporates NTT Electronics' ExaSPEED 200 DSP enabling high-performance coherent optical connections over metro and long-haul distances.<br>
			<br>
			As an open network platform, Cassini will support disaggregated software options, including IP Infusion OcNOS™, a leading whitebox switching NOS that is optimized for service provider and data center interconnection, as well as other open source alternatives. For SDN controller-based deployments, open source software for disaggregated hardware products will enable the Cassini packet transponder to be managed through the Open Network Operating System (ONOS™) SDN controller and associated applications, for example, in CORD infrastructures.<br>
			<br></p>
			<div class="col-12 title2_solution">
				<h1>Conclusion</h1>
			</div>
			<p class="content_solution">As telecom operators look towards embracing SDN, NFV, and other networking innovations that can significantly reduce costs and provide fast deployment, the TIP open community-driven framework has arisen as a promising initiative. With TIP being backed by major telcos and attracting hundreds of members, there is a real desire to drive change across the three strategic TIP network groups of access, backhaul, and core networks.<br>
			<br>
			As part of the open collaboration of TIP, Edgecore has already contributed its own design for an open optical packet transponder for data center interconnect and service provider backhaul. Edgecore's Cassini packet transponder is the industry’s first modular open-source whitebox packet transponder, offering a flexible mix of coherent optical interfaces and able to support a number of disaggregated software options. The Cassini device is an excellent example of TIP community-driven development and no doubt the first of many contributed by Edgecore in the future.<br>
			<br></p>
		</div>
	</div>
</div><!-- footer content -->
<footer>
	<div class="container">
		<div class="pull-left">Powered by Accton Technology &copy;</div>
	</div>
</footer>
{% include 'preset_js.html' %}
</body>

</html>