{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-News-20190521</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>    
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <p class="title2_news">New Release</p>
                <p class="title3_news">2019-05-21</p>
                <a href="https://newsroom.intel.com/contact-intels-public-relations-team/"
                    class="btn btn-primary btn-block intel-cta" style="width:50%">
                    Contact Intel PR </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h1 class="entry-title">Edgecore Networks is Honored to Win the "Jury's Special Award" of Best Choice Awards at Computex 2019! Award-winning Cassini Product Integrates 100G Ethernet Switching and Coherent Optical for Service Provider Networks</h1>

                <div style="text-align: justify;padding:3vw;padding-left: 0%">
                    Edgecore Networks, a leader of open networking solutions for enterprises, data centers, and
                    telecommunication service providers, is pleased to announce that Cassini - <a href=
                    "https://www.edge-core.com/productsInfo.php?cls=1&amp;cls2=345&amp;cls3=346&amp;id=605" target=
                    "_blank"><span style="color:#0000FF;">AS7716-24SC</span></a>, the 100G Open Network Coherent
                    Packet Transponder, has been named as the Jury's Special Award of Computex Best Choice Awards
                    2019!<br>
                    &nbsp;<br>
                    These days, major international operators are seeking platforms that support data center
                    interconnection in a cost-effective way, as well as service providers demanding more open,
                    scalable, and cost-effective infrastructure to meet the explosive bandwidth demands of future 5G
                    mobile networks. Edgecore introduces Cassini, the industry's first high-capacity modular
                    open-source packet transponder, which offers a flexible mix of 100 Gigabit Ethernet packet
                    switching ports and 100/200 Gbps coherent optical interfaces for long-distance data center
                    interconnect and service provider backhaul use cases.&nbsp;The Cassini's design has been
                    contributed to the Telecom Infra Project (TIP) as an industrial open packet transponder standard,
                    which enables network operators to easily extend and migrate existing metro and long-haul Dense
                    Wavelength Division Multiplexing (DWDM) networks to add new 100G capacities and extend
                    inter-datacenter&nbsp;and Layer 3 services.<br>
                    &nbsp;<br>
                    <em>“We have long supported open hardware with our switch, PON OLT, and Wi-Fi design
                    contributions to the Open Compute Project, and were pleased to contribute the Cassini design to
                    TIP as an open platform to provide more flexible open choices to operators and encourage further
                    collaboration between the packet switching and optical technology worlds.” said George
                    Tchaparian, President and CEO of Edgecore Networks. “We appreciate the Jury’s Special Award for
                    Cassini at Computex as another indication of the strong interest from the market and from network
                    operators in the open networking benefits that Cassini brings to data center interconnect and
                    service provider network applications.”</em><br>
                    <br>
                    &nbsp;<br>
                    The Cassini packet transponder is a fully open-source hardware design with a 1.5RU form factor
                    and a system throughput of 3.2Tbps. Cassini supports Ethernet and optical line cards with MACsec
                    security to enable secure encrypted connections on both client-side links and metro or wide-area
                    connections. Cassini incorporates a flexible mix of additional 100GbE ports or ACO/DCO coherent
                    optical ports based on DSPs and transceivers from leading optical technology
                    partners,&nbsp;meanwhile there is support from many of the leading open networking NOS vendors as
                    well as commercial NOS options.<br>
                    &nbsp;<br>
                    For more product information, please contact&nbsp;<a href=
                    "mailto:sales@edge-core.com"><span style="color:#0000FF;">sales@edge-core.com</span></a>.<br>
                    <br>
                    ＜Media Contact＞<br>
                    Lucille Lu, Marketing Director, +886-3-563-8888 x3674<br>
                    <br>
                    <br>
                    <img alt="" src="{%static '/images/news/P5210871.JPG'%}" style="width: 80%;"><br>
                    <br>
                    <br>
                    <br>
                    <span style="font-size:14px;"><strong>About Edgecore Networks</strong><br>
                    Edgecore Networks Corporation is a wholly-owned subsidiary of Accton Technology Corporation, the
                    leading network ODM.&nbsp; Edgecore Networks delivers wired and wireless networking products and
                    solutions through channel partners and system integrators worldwide for data center, service
                    provider, enterprise, and SMB customers.&nbsp; Edgecore Networks is the leader in open
                    networking, providing a full line of 1 GbE, 10 GbE, 25 GbE, 40 GbE, 50 GbE, and 100 GbE open and
                    OCP switches that offer choice of NOS and SDN software for data center, telecommunications, and
                    enterprise network use cases.&nbsp; For more information, visit www.Edge-Core.com.</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>