{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-News-20190225</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>     
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <p class="title2_news">New Release</p>
                <p class="title3_news">2019-02-25</p>
                <a href="https://newsroom.intel.com/contact-intels-public-relations-team/"
                    class="btn btn-primary btn-block intel-cta" style="width:50%">
                    Contact Intel PR </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h1 class="entry-title">Edgecore Networks, TIP and Partners Demonstrate DCSG-Odyssey Cell Site Gateway at MWC 2019</h1>

                <div style="text-align: justify;padding:3vw;padding-left: 0%">
                    <strong>Barcelona, February 25, 2019</strong> – <strong>MWC</strong> –&nbsp; <a href=
                    "http://www.edge-core.com/index.php">Edgecore Networks</a><em>,</em> the leader in open
                    networking, today announced that its DCSG-Odyssey cell site gateway will be demonstrated at MWC
                    2019 by Vodafone, ADVA, the Telecom Infra Project (TIP) and Edgecore.&nbsp; The DCSG-Odyssey
                    hardware is being developed by Edgecore Networks as an open whitebox cell site gateway in
                    collaboration with TIP and leading global mobile operators— Vodafone, Telefonica, TIM Brasil, BT,
                    and Orange— who have jointly defined a DCSG specification that will enable DCSG deployments
                    starting in 2019 to bring the cost economics and choice of open disaggregated networking to cell
                    site networks.<br>
                    &nbsp;<br>
                    <em>“</em><em>The next generation of mobile networks need disaggregated open infrastructures that
                    offer choice, innovation, and cost efficiencies</em><em>, as operators continue to increase the
                    capacity of their existing networks and plan for 5G deployments” said</em> <em>Luis MartinGarcia,
                    Co-Lead, Disaggregated Cell Site Gateways project group, TIP. “Edgecore’s development of the
                    DCSG-Odyssey disaggregated cell site gateway hardware is enabling DCSG demonstrations at MWC by
                    TIP, leading operators and supplier partners, which brings the industry closer to deployment of
                    commercial solutions in 2019.”</em><br>
                    <br>
                    Edgecore offers a product line of open cell site gateways to meet the range of mobile operator
                    requirements for network scale and performance in 2G/3G/4G and 5G deployments.&nbsp; The cell site
                    gateways provide the full timing and synchronization features required for 5G networks, and meet
                    the low power, compact form factor and hardened environmental requirements for outside plant
                    deployment. The DCSG-Odyssey product line includes gateways to integrate connections from 1G and
                    10G base stations, as well as gateways with 25G and 100G capability to support emerging 5G base
                    stations and higher performance backhaul. Last year, Edgecore introduced the industry's first cell
                    site gateway, the OCP Accepted<sup>TM</sup> AS7316-26XB gateway in conformance with the AT&amp;T
                    Cell Site Router Gateway specification.<br>
                    <br>
                    <strong>Disaggregated, Multi-Vendor Solution</strong><br>
                    <em>“As a provider of open network solutions to Tier 1 network operators worldwide, and as a
                    leading contributor to the OCP, ONF and TIP open communities, Edgecore understands operator
                    requirements to reduce the cost of mobile network deployments while moving toward a more
                    consistent and open infrastructure across mobile, broadband and transport networks,” said George
                    Tchaparian, CEO, Edgecore Networks. “At MWC 2019, we have achieved another milestone in the
                    development of such open network infrastructures with multi-vendor and operator demonstrations of
                    disaggregated cell site networking featuring the Edgecore DCSG-Odyssey.”</em><br>
                    &nbsp;<br>
                    As with all Edgecore open network products, the DCSG-Odyssey products will support a range of
                    commercial and open source software options, providing network operators with choices for NOS, SDN
                    and orchestration platforms. ADVA and IP Infusion have announced, and are demonstrating at MWC,
                    gateway software for Edgecore’s DCSG-Odyssey that enables the open disaggregated network
                    model.<br>
                    <br>
                    <em>“</em><em>The cell site gateway presents mobile network operators with an enormous challenge
                    and a huge budgetary headache,” said Niall Robinson, VP Global Business Development, ADVA. “Along
                    with Edgecore and other TIP partners, we are excited to be demonstrating the open DCSG cell site
                    gateway, powered by ADVA software, operating in an open multi-vendor network. The cell site
                    gateway solution will provide the likes of Vodafone, Telefonica, BT and other mobile network
                    operators with a clear opportunity to seize 5G opportunities like never before.”</em><br>
                    &nbsp;<br>
                    <em>"IP Infusion is pleased to be working with Edgecore and the TIP community on disaggregated
                    network solutions for cell site networking, as we continue to see growing demands from network
                    operators for our leading OcNOS™ software to enable disaggregated solutions across use cases
                    ranging from mobile to access to core and Internet exchanges,” said</em> <em>Atsushi Ogata,
                    President and CEO, IP Infusion.</em> <em>&nbsp;“The demonstration of OcNOS software on
                    DCSG-Odyssey gateways at MWC is one more proof point that open network solutions are ready to
                    lower the costs of large scale mobile deployments at 5G services begin to be introduced."</em><br>
                    &nbsp;<br>
                    <em>“Working closely with open networking ecosystem partners like Edgecore, we are excited to
                    demonstrate the value of our disaggregated CNOS software within the framework of TIP’s DCSG
                    specification,” said Mikko Hannula, Vice President of Disaggregated, Edge and Access Solutions at
                    Infinera. “As customers look to deploy latency-optimized networks for 5G all the way from the cell
                    site to the core network, the TIP DCSG is a welcome addition to our portfolio of SDN-capable
                    networking solutions and end-to-end system integration capabilities. This will help our customers
                    build their networks with the maximum flexibility that disaggregation enables while still getting
                    the benefits of end-to-end solutions from one systems supplier.”</em><br>
                    <br>
                    <strong>Availability</strong><br>
                    The Edgecore DCSG-Odyssey will be available for evaluations in Q2 with general availability in Q3
                    2019. The DCSG-Odyssey will be demonstrated and exhibited by partners at MWC 2019 in Barcelona on
                    February 25-28:
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>