{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-News-20190522</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>    
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <p class="title2_news">New Release</p>
                <p class="title3_news">2019-03-14</p>
                <a href="https://newsroom.intel.com/contact-intels-public-relations-team/"
                    class="btn btn-primary btn-block intel-cta" style="width:50%">
                    Contact Intel PR </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h1 class="entry-title">Edgecore Networks Introduces Minipack — Industry's First Open Modular Switch for 100G and 400G Networking</h1>

                <div style="text-align: justify;padding:3vw;padding-left: 0%">
                    <strong>San Jose, March 14, 2019</strong> – <strong>OCP Summit</strong> – <a href=
                    "http://www.edge-core.com/index.php"><span style="color:#0000FF;">Edgecore
                    Networks</span></a><span style="color:#0000FF;">,</span> the leader in open networking, today
                    announced the introduction of Minipack, the industry's first open modular switch for 100G and 400G
                    networking, which conforms to the Minipack Fabric Switch design contributed today by Facebook to
                    the Open Compute Project (OCP).&nbsp; Minipack is a disaggregated whitebox system providing a
                    flexible mix of 100GbE and 400GbE ports up to a system capacity of 12.8Tbps, ideal for the
                    deploying the next generation of high capacity data center fabrics, Internet exchanges, and high
                    bandwidth service provider infrastructures with the flexibility and cost benefits of open
                    networking.<br>
                    &nbsp;<br>
                    <em>“Facebook designed Minipack as a fabric switch with innovative performance, power optimization
                    and modularity to enable our deployment of the next generation data center fabrics,” said
                    Hans-Juergen Schmidtke, Director of Engineering, Facebook. “We have contributed the Minipack
                    design to OCP in order to stimulate additional design innovation and to facilitate availability of
                    the platform to network operators. We welcome Edgecore’s introduction of Minipack as a commercial
                    whitebox product.”</em><br>
                    <br>
                    The Edgecore Minipack AS8000 Switch is an open network platform that enables network operators to
                    select disaggregated NOS and SDN software options from commercial partners and open source
                    communities to address different use cases and operational requirements.&nbsp; Edgecore has ported
                    and validated Software for Open Networking in the Cloud (SONiC), the OCP open source software
                    platform, on the Minipack AS8000 Switch as an open source option for high capacity data center
                    fabrics.&nbsp; In addition, Cumulus Networks® has announced the availability of its Cumulus Linux
                    operating system for the Edgecore Minipack switch, as the industry's first fully supported
                    commercial disaggregated software option on a modular 100G/400G switch for enterprises and date
                    centers.<br>
                    &nbsp;<br>
                    <strong>Modular System for 400G and High Density 100G Switching</strong><br>
                    &nbsp;<br>
                    <em>“Network operators are demanding open network solutions to increase their network capacities
                    with 400G and higher density 100G switches based on open technology. The Edgecore Minipack switch
                    broadens our full set of OCP Accepted<sup>TM</sup> open network switches, and enables data center
                    operators to deploy higher capacity fabrics with flexible combinations of 100G and 400G interfaces
                    and pay-as-you-grow expansion,” said George Tchaparian, CEO, Edgecore Networks. “The open and
                    modular design of Minipack will enable Edgecore and partners to address more data center and
                    service provider use cases in the future by developing innovative enhancements such as additional
                    interface modules supporting encryption, multiple 400G port types, coherent optical ports and
                    integrated optics, plus additional Minipack Switch family members utilizing deep-buffer or highly
                    programmable or next generation switching silicon in the same flexible modular form
                    factor.”</em><br>
                    &nbsp;<br>
                    The Minipack switch is a modular system capable of supporting a mix of 100G and 400G Ethernet
                    interfaces up to a maximum of 128x100G or 32x400G ports. Minipack is based on an internal main
                    switch board with Broadcom StrataXGS® Tomahawk® 3 Switch Series silicon capable of line rate
                    12.8Tbps Layer2 and Layer3 switching.&nbsp; The Minipack front panel has eight slots for port
                    interface modules (PIM). The first PIM options available for the Edgecore Minipack switch are the
                    PIM-16Q with 16x100G QSFP28 ports, and the PIM-4DD with 4x400G QSFP-DD ports.&nbsp; The Minipack
                    modular switch is a 4U form factor, power optimized for data center deployments, and includes
                    hot-swappable redundant power supplies and fans for high availability.<br>
                    &nbsp;<br>
                    <strong>Availability</strong><br>
                    &nbsp;<br>
                    The Minipack AS8000 Switch with PIM-16Q 100G QSFP28 interface modules will be available from
                    Edgecore resellers and integrators worldwide in Q2.&nbsp; PIM-4DD 400G QSFP-DD interface modules
                    will be available in Q3. SONiC open source software, including platform drivers for the Edgecore
                    Minipack AS8000 Switch, are available from the SONiC GitHub.<br>
                    <br>
                    Edgecore is exhibiting the Minipack switch, as part of its full portfolio of open network products
                    for data centers service providers and enterprises, at the OCP Summit in San Jose on March
                    14-15.&nbsp; The Edgecore Minipack switch is also exhibited at OCP Summit in the Facebook booth,
                    in the SONiC rack at the Microsoft booth, and running Cumulus Linux in the Cumulus Networks
                    booth.<br>
                    <br>
                    <strong>Supporting Quotes</strong><br>
                    &nbsp;<br>
                    "Broadcom&nbsp;introduced the StrataXGS Tomahawk 3 Switch Series as the industry's highest
                    performing switch silicon to enable network operators to deploy next-generation networks, while
                    realizing the cost advantages of merchant silicon. Edgecore contributed the industry's first 400G
                    switch design to OCP last year based on Tomahawk 3, and we are pleased to see the industry take
                    another step toward broad deployment of higher capacity open networks with Facebook’s contribution
                    of the Minipack design to OCP and Edgecore’s introduction of the Minipack modular switch based on
                    Broadcom merchant silicon." —<br>
                    Wei-Ai Tai, Director of Business Development, <strong>Broadcom</strong><br>
                    &nbsp;<br>
                    “Cumulus Networks is pleased to be the first fully supported open operating system to support
                    Edgecore's Minipack, allowing enterprises to achieve a new level of control over their cost and
                    operations that was previously&nbsp;only accessible to the largest network operators. The modular
                    design of Minipack brings a more open approach to hardware, complementing what Cumulus has been
                    doing on the open networking side for years with over 100 different cost effective hardware
                    options.” —<br>
                    JR Rivers, CTO and Founder, <strong>Cumulus Networks</strong><br>
                    &nbsp;<br>
                    “The simultaneous announcements today of Facebook's contribution of the Minipack design to OCP and
                    Edgecore's introduction of Minipack as a whitebox product with commercial and open source software
                    options shows the power of collaboration in the OCP community around open platforms and the rapid
                    pace of innovation that brings to the industry and network operators. Minipack makes the next
                    generation of performance in open networking available to network operators and will be an
                    important platform for further innovation within the OCP community.” —<br>
                    Bill Carter, CTO,&nbsp;<strong>OCP Foundation</strong><br>
                    &nbsp;<br>
                    <strong>About Edgecore Networks</strong><br>
                    Edgecore Networks Corporation is a wholly owned subsidiary of Accton Technology Corporation, the
                    leading network ODM.&nbsp; Edgecore Networks delivers wired and wireless networking products and
                    solutions through channel partners and system integrators worldwide for the Data Center, Service
                    Provider, Enterprise and SMB customers. &nbsp;Edgecore Networks is the leader in open networking
                    providing a full line of open WiFi access points, packet transponders, virtual PON OLTs, cell site
                    gateways, and 1G, 10G, 25G, 40G, 100G and 400G OCP Accepted<sup>TM</sup> switches that offer
                    choice of commercial and open source NOS and SDN software. For more information,
                    visit&nbsp;<a href="http://www.edge-core.com/"><span style=
                    "color:#0000FF;">www.edge-core.com</span></a>.<br>
                    &nbsp;<br>
                    <strong>Media Contacts</strong><br>
                    North America:&nbsp;&nbsp; Jeff Catlin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Edgecore
                    Networks &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:jeff_catlin@edge-core.com"><span style=
                    "color:#0000FF;">jeff_catlin@edge-core.com</span></a>&nbsp;&nbsp; &nbsp; +1-603-531-1286<br>
                    Europe:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Mark Basham&nbsp;&nbsp; Edgecore Networks&nbsp;&nbsp;&nbsp; <a href=
                    "mailto:mark_basham@edge-core.com"><span style=
                    "color:#0000FF;">mark_basham@edge-core.com</span></a>&nbsp;&nbsp; +44-(0)7595 849142<br>
                    Asia:<strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;Lucille
                    Lu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Edgecore
                    Networks&nbsp;&nbsp;&nbsp; <a href="mailto:lucille_lu@edge-core.com"><span style=
                    "color:#0000FF;">lucille_lu@edge-core.com</span></a>&nbsp;&nbsp;&nbsp; &nbsp; +886-3-505-3674<br>
                    &nbsp;<br>
                    <span style="font-size:12px;">All trademarks, service marks, registered marks, or registered
                    service marks are the property of their respective owners.<br>
                    © 2019 Edgecore Networks. The information contained herein is subject to change without notice.
                    Edgecore Networks shall not be liable for technical or editorial errors or omissions contained
                    herein.</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>