{% extends 'SONiCProducts/products.html' %}
{% load staticfiles %}

{% block title %}
TMS-Products-100G
{% endblock %}

{% block bigPicture %}
<div class="productOverview"><img id="bigger_picture" src="{% static 'images/products/100g/as7712-32x/as7712-32x-2.png' %}"></div>
{% endblock %}


{% block showProduct %}
<div class="col-xs-12 col-sm-12 productSort">
		<div class="row title">
			<div class="col-sm-3 col-xs-6">
				<a href="/sonic/products/100g/as7712-32x">
				<div class="thumbnail div_G">
					<img src="{%static 'images/products/100g/as7712-32x/as7712-32x-1.png' %}">
					<div class="caption" style="text-align: center;">
						<h2>AS7712-32X</h2>
						<p style="font-size: 13pt">Explore & Discover</p>
					</div>
				</div></a>
			</div>
			<div class="col-sm-3 col-xs-6">
				<a href="/sonic/products/100g/as7726-32x">
				<div class="thumbnail div_G">
					<img alt="..." src="{%static 'images/products/100g/as7726-32x/as7726-32x-1.png' %}">
					<div class="caption" style="text-align: center;">
						<h2>AS7726-32X</h2>
						<p style="font-size: 13pt">Explore & Discover</p>
					</div>
				</div></a>
			</div>
			<div class="col-sm-3 col-xs-6">
				<a href="/sonic/products/100g/as7816-64x">
				<div class="thumbnail div_G">
					<img alt="..." src="{%static 'images/products/100g/as7816-64x/as7816-64x-1.png' %}">
					<div class="caption" style="text-align: center;">
						<h2>AS7816-64X</h2>
						<p style="font-size: 13pt">Explore & Discover</p>
					</div>
				</div></a>
			</div>
			<div class="col-sm-3 col-xs-6">
				<a href="/sonic/products/100g/wedge100bf-32x">
				<div class="thumbnail div_G">
					<img src="{%static 'images/products/100g/wedge100bf-32x/wedge100bf-32x-1.png' %}">
					<div class="caption" style="text-align: center;">
						<h2>Wedge100BF-32X</h2>
						<p style="font-size: 13pt">Explore & Discover</p>
					</div>
				</div></a>
			</div>
			<div class="col-sm-3 col-xs-6">
				<a href="/sonic/products/100g/wedge100bf-65x">
				<div class="thumbnail div_G">
					<img src="{%static 'images/products/100g/wedge100bf-65x/wedge100bf-65x-1.png' %}">
					<div class="caption" style="text-align: center;">
						<h2>Wedge100BF-65X</h2>
						<p style="font-size: 13pt">Explore & Discover</p>
					</div>
				</div></a>
			</div>
			<div class="col-sm-3 col-xs-6">
				<a href="/sonic/products/100g/wedge100s-32x">
				<div class="thumbnail div_G">
					<img src="{%static 'images/products/100g/wedge100s-32x/wedge100s-32x-1.png' %}">
					<div class="caption" style="text-align: center;">
						<h2>Wedge100S-32X</h2>
						<p style="font-size: 13pt">Explore & Discover</p>
					</div>
				</div></a>
			</div>
		</div>
	</div>
{% endblock %}