{% extends 'SONiCProducts/products.html' %}
{% load staticfiles %}

{% block title %}
TMS-Products-400G
{% endblock %}

{% block bigPicture %}
<div class="productOverview"><img id="bigger_picture" src="{% static 'images/products/products.png' %}"></div>
{% endblock %}

{% block showProduct %}
<div class="col-xs-12 col-sm-12 productSort">
	<div class="row title">
		<div class="col-sm-2 col-xs-2 col-md-offset-1">
			<a href="/sonic/products/10g">
			<div class="thumbnail div_G">
				<img src="{%static 'images/products/10g/as5512-54x/as5512-54x-1.png' %}">
				<div class="caption" style="text-align: center;">
					<h2>
						10G
					</h2>
					<p class="font1">
						Explore & Discover
					</p>
				</div>
			</div></a>
		</div>
		<div class="col-sm-2 col-xs-2">
			<a href="/sonic/products/25g">
			<div class="thumbnail div_G">
				<img alt="..." src="{%static 'images/products/25g/as7312-54xs/as7312-54xs-1.png' %}">
				<div class="caption" style="text-align: center;">
					<h2>
						25G
					</h2>
					<p class="font1">
						Explore & Discover
					</p>
				</div>
			</div></a>
		</div>
		<div class="col-sm-2 col-xs-2">
			<a href="/sonic/products/40g">
			<div class="thumbnail div_G">
				<img alt="..." src="{%static 'images/products/40g/as6700-32x/as6700-32x-1.png' %}">
				<div class="caption" style="text-align: center;">
					<h2>
						40G
					</h2>
					<p class="font1">
						Explore & Discover
					</p>
				</div>
			</div></a>
		</div>
			<div class="row">
				<div class="col-sm-2 col-xs-2">
					<a href="/sonic/products/100g">
					<div class="thumbnail div_G">
						<img src="{%static 'images/products/100g/as7712-32x/as7712-32x-1.png' %}">
						<div class="caption" style="text-align: center;">
							<h2>
								100G
							</h2>
							<p class="font1">
								Explore & Discover
							</p>
						</div>
					</div></a>
				</div>
				<div class="col-sm-2 col-xs-2">
					<a href="/sonic/products/400g">
					<div class="thumbnail div_G">
						<img alt="..." src="{%static 'images/products/400g/as9716-32d/as9716-32d-1.png' %}">
						<div class="caption" style="text-align: center;">
							<h2>
								400G
							</h2>
							<p class="font1">
								Explore & Discover
							</p>
						</div>
					</div></a>
				</div>
			</div>
	</div>
</div>
{% endblock %}
							