{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-IoT Integration</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row solution">
        <div class="col-12 title1_solution">
            <h1>IoT Integration Solutions</h1>
        </div>

        <div class="x_panel solution">
            <div class="col-12 title2_solution">
                <h1>Solutions for smart life and IoT service integration platforms that enhance the quality of
                    life</h1>
            </div>
            <p class="content_solution">
                Accton devotes itself to building fundamental cloud-based IoT solutions by integrating end-devices.
                Accton aims to decrease client operating expenses and enhance service quality, providing real-time
                product status and data transparency, and further to analyze user behavior patterns through accumulated
                data.
            </p>
            <p class="content_solution">
                Accton’s IoT solution development covers three main areas:
                <br>
                <br>●Integrating networking protocols and developing service applications
                <br>●Creating a database for big data application services
                <br>●Partnership and collaboration with alliances in the IoT ecosystem
                <br>
                <br>By connecting IoT demands from different communities and through virtualized, digitalized solutions,
                Accton aims to enhance the quality of life with all alliances.
            </p>
            <div class="row content_solution" style="text-align: center">
                <div class="col-md-4 col-xs-4">
                    <img src="{%static '/images/solution/sl_IoT_icon01.png'%}" style="width:30%">
                    <p class="content_solution">The integration of wireless sensor connectivity with all IoT services
                    </p>
                </div>
                <div class="col-md-4 col-xs-4">
                    <img src="{%static '/images/solution/sl_IoT_icon02.png'%}" style="width:30%">
                    <p class="content_solution">IoT gateway is the core of the service</p>
                </div>
                <div class="col-md-4 col-xs-4">
                    <img src="{%static '/images/solution/sl_IoT_icon03.png'%}" style="width:30%">
                    <p class="content_solution">Remote management through a cloud database</p>
                </div>
            </div>
            <div class="title3_solution">
                Aggregation Networks
            </div>
            <div class="row">
                <img src="{%static '/images/solution/sl_IoT_fig01.png' %}" class="center-block img-thumbnail"
                    style="width:45%">
                <p class="content_solution">
                    The essentials of Accton’s smart home and living solutions are security, convenience, and comfort.
                    The Accton Smart Home solution provides an App that monitors real-time status through a home gateway
                    and multiple wireless sensors, including a door/window sensor, motion sensor, siren, smoke detector,
                    gas detector, temperature/humidity sensor, power socket, and an IP camera.
                    For core families and singles, Accton provides the WaltzOne, an all-in-one smart device that
                    integrates multiple sensors in one unit. Live simple, live safe!
                    For the smart building pre-installation market, the Accton all-in-one smart home gateway integrates
                    a number of traditional wired devices and adds to it a new-generation network interface. The Accton
                    smart home gateway includes a smart-living end-user management program to create a new integrated
                    service device that has obtained many patents.
                </p>
            </div>

            <div class="title3_solution">
                Smart Light Control and Environment Surveillance Systems
            </div>
            <div class="row">
                <img src="{%static '/images/solution/sl_IoT_fig02.png' %}" class="pull-right img-thumbnail"
                    style="margin:1vw;width:30%">
                <p class="content_solution">
                    Due to fast population growth, lighting and energy must strive to meet the sustainable trends in
                    energy, water, and cost efficiency. The Ceres smart light control system is a cloud-based management
                    system that enables remote monitoring and setting adjustment. It’s smart illuminance setting reduces
                    power waste. Moreover, the device can be extended as an environment surveillance controller to
                    monitor temperature, humidity, air quality, and sound. For example, the Ceres smart light control
                    system can be used with single or multiple wireless sensors, such as sprinkler and soil moisture
                    sensors, to automatically apply watering according to the soil moisture level, thus saving water.
                </p>
            </div>
            <div class="title3_solution">
                IoT Accelerates the Integration of Heterogeneous Systems and Functions
            </div>
            <div class="row">
                <p class="content_solution">
                    Accton’s Chain Store Surveillance solution (CSS) integrates a remote Central Management System
                    (CMS), a PoE IP camera, a Network Video Recorder (NVR), and a customized audio box in one system.
                    This specially developed surveillance platform and CMS supports NVR with remote firmware upgrades
                    and time synchronization. The CSS saves operating expenses as it requires no huge cloud storage,
                    utilizes the local store network bandwidth, and centralizes the surveillance system. The pure Cloud
                    based Video Surveillance solution (VSS) – Secure Watch is also applied as another choice.
                    <br><br>
                    Accton’s Smart Health Care solution is particularly designed for Nursing home and Care center. It is
                    the first integrated solution of lighting control, smart bed and security system, combined Care
                    Smart and Inclusive into One package.

                </p>
            </div>


        </div>

    </div>
</div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>