{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>TMS-Knowledgebase</title>
	{% include 'preset_style.html' %}
	<!-- Additional JS-->
	<script src="{% static 'js/sonic/product.js' %}"></script>
	<script src="{% static 'js/sonic/location.js' %}"></script>
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/product.css' %}" rel="stylesheet">
	<link href="{% static 'vendors/additional/kb.css' %}" rel="stylesheet">
	<link href="{% static 'vendors/additional/common.css' %}" rel="stylesheet">
</head>
{% include 'sonic_template.html' %}

			<div class="right_col" role="main">
				<!-- ---- ---- ---- Main client area ---- ---- ---- -->
				<!-- ---- ---- ---- Main client area ---- ---- ---- -->
				<!-- breadcomb -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<div class="jumbotron jumbotron-fluid">
					<h2 class="display-3"> TMS - KnowledgeBase </h2>
					<h4 class="lead"> This is for SONiC any information . </h4>
				</div>
				<div class="container-fluid">
					<h2 id="Overview"> Overview </h2>
					<h4 style="margin-left:3%;"> This is a simple template for Knowledgebase.</h4>
					<div class="col-sm-12">
						<div class="col-sm-2 list">
							<div class="card">
								<ul class="list-group list-group-flush">
									<li class="list-group-item" value="overview" id="title">Overview<span class="badge">4</span></li>
									<div id="overview" class="sub-title">
										<a href="#Overview"><li class="list-group-item sub-list" >Accton</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >EdgeCore</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >SONiC</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >TMS</li></a>
									</div>
									<li class="list-group-item" value="accton" id="title">Accton<span class="badge">4</span></li>
									<div id="accton" class="sub-title">
										<a href="#Overview"><li class="list-group-item sub-list" >aaa</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >EdgeCore</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >SONiC</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >TMS</li></a>
									</div>
									<li class="list-group-item" value="edgecore" id="title">EdgeCore<span class="badge">4</span></li>
									<div id="edgecore" class="sub-title">
										<a href="#Overview"><li class="list-group-item sub-list" >bbb</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >EdgeCore</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >SONiC</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >TMS</li></a>
									</div>
									<li class="list-group-item" value="sonic" id="title">SONiC<span class="badge">4</span></li>
									<div id="sonic" class="sub-title">
										<a href="#Overview"><li class="list-group-item sub-list" >ccc</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >EdgeCore</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >SONiC</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >TMS</li></a>
									</div>
									<li class="list-group-item" value="tms" id="title">TMS<span class="badge">4</span></li>
									<div id="tms" class="sub-title">
										<a href="#Overview"><li class="list-group-item sub-list" >ddd</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >EdgeCore</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >SONiC</li></a>
										<a href="#Overview"><li class="list-group-item sub-list" >TMS</li></a>
									</div>
								</ul>
							</div>
						</div>
						<div class="col-sm-9">
							<li class="title" id="Test1"> SONiC: Enabling Fast Evolution in the Network </li>
							<h5 style="margin-left: 3%;">   We built the these intelligence into Software for Open Networking in the Cloud (SONiC).<br> </h5>
							<div class="youtube">
								<iframe width=500px height=280px src="https://www.youtube.com/embed/DvFTCpwnUQ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<div class="col-sm-9">
							<li class="title" id="Test2"> SONiC Programmability, Extensibility and Beyond </li>
							<h5 style="margin-left: 3%;">   SONiC is a containerized, open sourced switch OS created for cloud-scale networking.<br> </h5>
							<div class="youtube">
								<iframe width=500px height=280px src="https://www.youtube.com/embed/TLi5n0cZbz0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<div class="col-sm-9">
							<li class="title" id="Test3"> SONiC: Enabling Fast Evolution in the Network </li>
							<h5 style="margin-left: 3%;">   We built the these intelligence into Software for Open Networking in the Cloud (SONiC).<br> </h5>
							<div class="youtube">
								<iframe width=500px height=280px src="https://www.youtube.com/embed/DvFTCpwnUQ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<div class="col-sm-9">
							<li class="title" id="Test4"> SONiC: Enabling Fast Evolution in the Network </li>
							<h5 style="margin-left: 3%;">   We built the these intelligence into Software for Open Networking in the Cloud (SONiC).<br> </h5>
							<div class="youtube">
								<iframe width=500px height=280px src="https://www.youtube.com/embed/DvFTCpwnUQ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
					{% if tlists %}
					{% for t in tlists %}
					<tr>
						<td>{{t.sensor}}</td>
						<td>{{t.status}}</td>
						<td>{{t.reading}}</td>
						<td>{{t.low_limit}}</td>
						<td>{{t.high_limit}}</td>
						<td>{{t.stamp}}</td>
					</tr>
					{% endfor %}
					{% endif %}
		<!-- footer content -->
		<footer>
			<div class="clearfix"></div>
			<div class="container">
				<div class="pull-right">Powered by Accton Technology &copy;</div>
				<div class="clearfix"></div>
			</div>
		</footer>
		<!-- /footer content -->
	</div>
	</div>
	
</div>
	{% include 'preset_js.html' %}
</body>

</html>