{% extends 'wiki_template.html' %}
{% load staticfiles %}

{% block titile %}
	<title>Wiki-Leaf-spine architecture</title>
{% endblock %}
{% block style %}
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/product.css' %}" rel="stylesheet">
	<link href="{% static 'vendors/additional/wiki.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="tabcontent">
		<h3>Leaf-spine architecture</h3>
		<p class="font1">Leaf-spine is a two-layer network topology composed of leaf switches and spine switches.<br>
		<br>
		Leaf-spine is a two-layer data center network topology that's useful for data centers that experience more east-west network traffic than north-south traffic. The topology is composed of leaf switches (to which servers and storage connect) and spine switches (to which leaf switches connect). Leaf switches mesh into the spine, forming the access layer that delivers network connection points for servers.<br>
		<br>
		Every leaf switch in a leaf-spine architecture connects to every switch in the network fabric. No matter which leaf switch a server is connected to, it has to cross the same number of devices every time it connects to another server. (The only exception is when the other server is on the same leaf.) This minimizes latency and bottlenecks because each payload only has to travel to a spine switch and another leaf switch to reach its endpoint. Spine switches have high port density and form the core of the architecture.<br>
		<br>
		A leaf-spine topology can be layer 2 or layer 3 depending upon whether the links between the leaf and spine layer will be switched or routed. In a layer 2 leaf-spine design, Transparent Interconnection of Lots of Links or shortest path bridging takes the place of spanning-tree. All hosts are linked to the fabric and offer a loop-free route to their Ethernet MAC address through a shortest-path-first computation. In a layer 3 design, each link is routed. This approach is most efficient when virtual local area networks are sequestered to individual leaf switches or when a network overlay, like VXLAN, is working.<br>
		<br></p>
		<div class="img2">
			<p><img src="{%static '/images/wiki/spine-leaf.png' %}"><br></p>
		</div>
	</div>
{% endblock %}
{% block js %}
	<!-- Additional JS-->
	<script src="{% static 'js/sonic/product.js' %}"></script>
	<script src="{% static 'js/sonic/location.js' %}"></script>
	<script src="{% static 'vendors/additional/js/wiki.js' %}"></script>
{% endblock %} 