{% extends 'wiki_template.html' %}
{% load staticfiles %}

{% block titile %}
	<title>Wiki-onie</title>
{% endblock %}
{% block style %}
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/product.css' %}" rel="stylesheet">
	<link href="{% static 'vendors/additional/wiki.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="tabcontent">
		<h3>Open Network Install Environment</h3>
		<p class="font1">From Wikipedia, the free encyclopedia<br>
		<br>
		Jump to navigation Jump to search Open network install environment ( ONIE ) is an open source "install environment", that acts as an enhanced boot loader utilizing facilities in a Linux/BusyBox environment. This small Linux operating system allows end-users and channel partners to install a network operating system as part of data center provisioning, similar to the way servers are provisioned with an operating system of choice. ONIE enables network switch hardware suppliers, distributors and resellers to manage their operations based on a small number of hardware stock keeping unit (SKUs). This in turn creates economies of scale in manufacturing, distribution, stocking, and return merchandise authorization (RMA) enabling a ecosystem of both network hardware and operating system alternatives.</p>
		<h3>See also</h3>
		<p class="font1"></p>
		<ul class="ul3">
			<li>Linux</li>
			<li>Free and open-source software</li>
			<li>Open source</li>
			<li>Network switch</li>
			<li>Router</li>
			<li>Packet switching</li>
			<li>Circuit switching</li>
			<li>Fully switched network</li>
			<li>Cumulus Networks</li>
			<li>Software-defined networking</li>
			<li>Pica8</li>
			<li>Open Compute Project</li>
			<li>Open-source computing hardware</li>
		</ul>
	</div>
{% endblock %}
{% block js %}
	<!-- Additional JS-->
	<script src="{% static 'js/sonic/product.js' %}"></script>
	<script src="{% static 'js/sonic/location.js' %}"></script>
	<script src="{% static 'vendors/additional/js/wiki.js' %}"></script>
{% endblock %} 