{% extends 'SONiCProducts/products_template.html' %}
{% load staticfiles %}
{% block title %} TMS-AS7712-32X {% endblock %}

{% block picture %}
	<div class="slider-for">
		<img src="{% static 'images/products/100g/as7726-32x/as7726-32x-1.png' %}" alt="">
		<img src="{% static 'images/products/100g/as7726-32x/as7726-32x-2.png' %}" alt="">
		<img src="{% static 'images/products/100g/as7726-32x/as7726-32x-3.png' %}" alt="">
		<img src="{% static 'images/products/100g/as7726-32x/as7726-32x-4.png' %}" alt="">
	</div>
	<div class="slider-nav">
		<img src="{% static 'images/products/100g/as7726-32x/as7726-32x-1.png' %}" alt="">
		<img src="{% static 'images/products/100g/as7726-32x/as7726-32x-2.png' %}" alt="">
		<img src="{% static 'images/products/100g/as7726-32x/as7726-32x-3.png' %}" alt="">
		<img src="{% static 'images/products/100g/as7726-32x/as7726-32x-4.png' %}" alt="">
	</div>
{% endblock %}

{% block productSummary %}
<h2>AS7726-32X</h2>
<h4>100GbE Data Center Switch Bare-metal Hardware</h4>
<p>The Edgecore AS7726-32X switch is a Top-of-Rack (TOR) or spine switch for high-performance data centers. In a compact 1RU form factor, the switch provides line-rate L2 and L3 switching across the 32 x QSFP28 ports, and each QSFP28 port can be conﬁgured as 2x50G, 4x25G, 1x40GbE or 4x10GbE by using DAC breakout cables. </p>
{% endblock %}

{% block Overview %}
<p class="content2 font2">The Edgecore AS7726-32X switch is a Top-of-Rack (TOR) or spine switch for high-performance data centers. In a compact 1RU form factor, the switch provides line-rate L2 and L3 switching across the 32 x QSFP28 ports, and each QSFP28  port  can  be  conﬁgured  as  2x50G,  4x25G,  1x40GbE  or  4x10GbE  by  using  DAC  breakout  cables.  The AS7726-32X can be deployed as a TOR switch supporting 10/25/50 GbE to servers with 40/50/100 GbE uplinks, or as a spine switch supporting 40/50/100 GbE spine interconnects. This open network switch is loaded with the Open Network Install Environment (ONIE) which supports the installation of compatible Network Operating System software, including the open source options Open Network Linux and commercial NOS offerings.</p>
{% endblock %}

{% block specs %}
<table class="table table-bordered table-striped">
	<colgroup>
		<col class="col-xs-6">
		<col class="col-xs-6">
	</colgroup>
	<tbody>
		<tr>
			<th><div class="specs_title">Ports</div></th>
			<td class="common-style-font2 content">32</td>
		</tr>
		<tr>
			<th><div class="specs_title">Predominant Port Type</div></th>
			<td class="common-style-font2 content">100GbE QSFP28</td>
		</tr>
		<tr>
			<th><div class="specs_title">High Availability</div></th>
			<td class="common-style-font2 content">Redundant Power Supply, Redundant Fans</td>
		</tr>
		<tr>
			<th><div class="specs_title">Compatible Soft Option</div></th>
			<td class="common-style-font2 content">Cumulus Networks - Cumulus Linux , Pica8 - PicOS , Open Compute Project - Open Network Linux</td>
		</tr>
	</tbody>
</table>
{% endblock %}

{% block features %}
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>Cost-effective, bare-metal switch infrastructure for data center fabric.</li>
				<li>Deploy as Top-of-Rack switch supporting 10 or 25 GbE to servers, with 40 GbE, 50 GbE, or 100 GbE uplinks.</li>
				<li>Deploy as spine switch supporting 40 GbE, 50 GbE, or 100 GbE ToR and spine interconnects.</li>
				<li>32 x QSFP28 switch ports, each supporting 1 x 100 GbE or 1 x 40 GbE, or via breakout cables, 2 x 50 GbE or 4 x 25 GbE or 4 x 10 GbE.</li>
				<li>Layer 2 or Layer 3 forwarding of 6.4 Tbps (full duplex).</li>
				<li>Supports hot/cold aisle with port-to-power and power-to-port airﬂow SKUs.</li>
				<li>All ports on front; PSUs and fans accessible from rear.</li>
			</ul>
		</div>
	</div>
<div class="col-md-6 common-style-font2 content">
		<div class="bs-example" data-example-id="simple-ul">
			<ul>
				<li>Hot-swappable, load-sharing, redundant AC or -48V DC PSUs.</li>
				<li>5+1 redundant, hot-swappable fan modules.</li>
				<li>Energy efﬁcient.</li>
				<li>Hardware switch pre-loaded with Open Network Install Environment (ONIE) for automated loading of compatible open source and commercial NOS offerings.</li>
				<li>Compatible with Open Network Linux (ONL), the open-source, OCP reference NOS.</li>
				<li>Compatible with Cumulus ® Linux ® .</li>
				<li>Compatible with PicOS™ from Pica8 Inc.</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block downloads %}
	<table class="table Table table-hover">
		<tbody>
			<tr class="tr-only-hide">
				<th>Category</th>
				<th>Name</th>
				<th>Rev</th>
				<th>Release Notes</th>
				<th>Date</th>
				<th>Note</th>
				<th>Download</th>
			</tr>
			<tr>
				<td data-th="Category">Datasheet</td>
				<td data-th="Name">AS7726-32X DS R01</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2018-12-27</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/100g/as7726-32x/AS7726-32X_DS_R01_20181227.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">User Manual</td>
				<td data-th="Name">AS7726-32X QSG R02</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2019-01-14</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/100g/as7726-32x/AS7726-32X_CE_DoC.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Certification</td>
				<td data-th="Name">AS7726-32X_CE_DoC</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2019-01-08</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/100g/as7726-32x/AS7726-32X_QSG-Eng-TC-SC-R02_0111.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Certification</td>
				<td data-th="Name">Edgecore RoHS 2.0 & REACH Declaration - AS7726-32X</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2018-12-28</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/100g/as7726-32x/Edgecore_RoHS_2_0_Reach_Declaration_AS7726-32X.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Safety and Regulatory Information</td>
				<td data-th="Name">AS7726-32X Safety and Regulatory Information R02</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Date">2019-01-14</td>
				<td data-th="Note">description n/a</td>
				<td data-th="Download">
					<a href="{% static 'downloads/products/100g/as7726-32x/AS7726-32X_SRI_R02_20190110.pdf' %}"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
			<tr>
				<td data-th="Category">Firmware</td>
				<td data-th="Name">SONiC image</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Release Notes">n/a</td>
				<td data-th="Rev">n/a</td>
				<td data-th="Note">
					<a href="/sonic/accton/download"><span class="badge badge-pill badge-primary jumpDownload">More available</span>
				</td>
				<td data-th="Download">
					<a id="SONiC_Image_Downloads" href="#"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}