{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Change you password{% endblock %}
{% block content %}
  <p style="font-size:24px;">Change you password</p>
  <p style="font-size:14px;color:#60718D">Use the form below to change your password.</p>
    <form action="." method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Change
                </button>
            {% endbuttons %}
        </form>
{% endblock %}