{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-News-20190522</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="col-md-3">
        <div class="row">
            <p class="title2_news">New Release</p>
            <p class="title3_news">2019-05-22</p>
            <a href="https://newsroom.intel.com/contact-intels-public-relations-team/"
                class="btn btn-primary btn-block intel-cta" style="width:50%">
                Contact Intel PR </a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <h1 class="entry-title">Edgecore Networks will showcase its open networking solutions for data centers,
                enterprises, and communication service providers at Computex Taipei, Nangang Exhibition Center, Hall 2,
                booth number P0208.</h1>

            <div style="text-align: justify;padding:3vw;padding-left: 0%">
                    &nbsp;<br>
                    &nbsp;<br>
                    <strong>About Edgecore Networks</strong><br>
                    Edgecore Networks Corporation is a wholly owned subsidiary of Accton Technology Corporation, the
                    leading network ODM.&nbsp; Edgecore Networks delivers wired and wireless networking products and
                    solutions through channel partners and system integrators worldwide for Data Center, Service
                    Provider, Enterprise and SMB customers. &nbsp;Edgecore Networks is the leader in open networking,
                    providing a full line of open Wi-Fi access points, packet transponders, virtual PON OLTs, cell
                    site gateways, and 1G, 10G, 25G, 40G, 100G and 400G OCP Accepted<sup>TM</sup> switches that offer
                    choice of commercial and open source NOS and SDN software. For more information, visit <a href=
                    "http://www.edge-core.com/">www.edge-core.com</a>.<br>
                    .<br>
                    &nbsp;<br>
                    <strong>Media Contacts</strong><br>
                    <strong>Lucille Lu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Edgecore
                    Networks&nbsp;&nbsp;&nbsp;</strong> <a href=
                    "mailto:lucille_lu@edge-core.com"><strong>lucille_lu@edge-core.com</strong></a><strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp; 886-3-505-3674</strong><strong>, 886-939-226-043</strong><br>
                    &nbsp;<br>
                    <span style="font-size:14px;">All trademarks, service marks, registered marks, or registered
                    service marks are the property of their respective owners.<br>
                    © 2019 Edgecore Networks. The information contained herein is subject to change without notice.
                    Edgecore Networks shall not be liable for technical or editorial errors or omissions contained
                    herein.</span><br>
                    <br clear="all">
                    &nbsp;
            </div>
        </div>
    </div>



</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>