{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>TMS-Wedge100-32X</title>
	{% include 'preset_style.html' %}
	<!-- Additional JS-->
	<script src="{% static 'js/sonic/product.js' %}"></script>
	<script src="{% static 'js/sonic/location.js' %}"></script>
	<!-- Additional CSS-->
	<link href="{% static 'vendors/additional/product.css' %}" rel="stylesheet">
</head>
{% include 'template_common.html' %}
			<div class="right_col" role="main">
				<!-- ---- ---- ---- Main client area ---- ---- ---- -->
				<!-- ---- ---- ---- Main client area ---- ---- ---- -->

				<!-- breadcomb -->
				<div class="clearfix"></div>
				<div class="title_left">
					<p style="font-size: 14pt">Home -> SONiC -> Products -> 100G -> WEDGE 100S-32X</p>
				</div>


				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<!-- ----     page content     ---- -->
				<div class="row">

					<!--
				<div class="col-md-6 col-sm-4 col-xs-12">
                    one row of data
				</div>
				-->

					<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">

						<div class="x_panel">
							<div class="col-md-5">
								<div class="col-md-1"></div>
								<img id="bigger_picture" src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-1.png' %}"
									style="width: 80%; height:80%">
								<div class="col-md-12">
									<dic class="col-md-4">
										<img src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-1.png' %}"
											class="img-thumbnail">
									</dic>
									<dic class="col-md-4">
										<img src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-2.png' %}"
											class="img-thumbnail">
									</dic>
									<dic class="col-md-4">
										<img src="{% static 'images/products/100g/wedge100s-32x/wedge100s-32x-3.png' %}"
											class="img-thumbnail">
								</div>
							</div>
							<div class="col-md-7">
								<div class="col-md-12" style="height:100px">
									<img src="{% static 'images/logo/edgecore.png' %}"
										style="position:absolute;width: 30%; height:auto;top:15px">
								</div>
								<div class="col-md-12">
									<div class="w3-container w3-light-grey w3-text-brown"
										style=" background-color: #f1f1f1!important;">
										<h2>WEDGE 100S-32X</h2>
										<h4>100GbE Data Center Switch</h4>
										<p>
                                            The Edgecore Wedge100S-32X is a commercial product based on Facebook's Wedge100S design. Facebook designed the 
                                            Wedge100S as a 32 x 100 GbE top-of-rack switch optimized for web-scale data centers, and submitted the design to 
                                            the Open Compute Project. 
                                        </p>
									</div>
								</div>
								<dic class="col-md-12">
									<br>
<button  type="button" class="btn btn-primary btn-lg" onclick="getlanguage()" id = "find-me" >Where to buy
</button>
               <a href="https://www.edge-core.com/contact.php"target=_blank><button type="button" class="btn btn-primary btn-lg">Sales contact</button></a>
								</dic>
							</div>
						</div>

						<div class="x_panel">
							<h2 style="color:#20304b;text-align: center;padding:20px">Overview</h2>
							<p >
                                The Edgecore Wedge100S-32X is a commercial product based on Facebook's Wedge100S design. Facebook designed the Wedge100S as a 
                                32 x 100 GbE top-of-rack switch optimized for web-scale data centers, and submitted the design to the Open Compute Project. 
                                Edgecore's parent company, Accton Technology, performed the design validation for Facebook and manufactures the Wedge100S for 
                                Facebook’s deployment. Edgecore now offers the Wedge100S as a fully supported commercial product to enable network operators 
                                to increase capacity with 25G and 100G networking.
                            </p>
                            <p >
                                The Wedge100S switch provides 32 QSFP28 ports that can each run at 100 GbE/40 GbE, or as 4 x 25 GbE/ 4 x 10 GbE/2 x 50 GbE 
                                through breakout cables. The Wedge100S design is based on the Broadcom BCM56960 Tomahawk 3.2 Tbps switch silicon. The Wedge 
                                CPU subsystem is the COM-E CPU module, based on the Intel Xeon Broadwell-DE D1508 processor. The use of this standard CPU 
                                system, coupled with the BMC (Baseboard Management Controller) on the Wedge main board, enables the Wedge100S to be 
                                provisioned and managed using similar tools used by data center operators for their server and application environments.
                            </p>
						</div>

						<div class="x_panel">
							<h2 style="color:#20304b;text-align: center;padding:20px">Specs</h2>
							<table class="table table-bordered table-striped">
								<colgroup>
									<col class="col-xs-6">
									<col class="col-xs-6">

								<tbody>
									<tr>
										<th scope="row"> <p style="color:#20304b;float:right">Ports</p></th>
										<td class="common-style-font2 content">32</td>
									</tr>
									<tr>
										<th scope="row"> <p style="color:#20304b;float:right">Predominant Port Type</p> </th>
										<td class="common-style-font2 content">100GbE QSFP28</td>
									</tr>
									<tr>
										<th scope="row"> <p style="color:#20304b;float:right">High Availability</p></th>
										<td class="common-style-font2 content">Redundant Power Supply, Redundant Fans</td>
									</tr>
									<tr>
										<th scope="row"> <p style="color:#20304b;float:right">Compatible Soft Option</p></th>
										<td class="common-style-font2 content">Open Compute Project - Open Network Linux</td>
									</tr>

								</tbody>
							</table>
						</div>

						<div class="x_panel">
							<h2 style="color:#20304b;text-align: center;padding:20px">Features</h2>
							<div class="col-md-12">
							<div class="col-md-6 common-style-font2 content">
									<div class="bs-example" data-example-id="simple-ul">
										<ul>
											<li>Bare-metal TOR switch for data center fabric.</li>
											<li>Open hardware design contributed by Facebook to the Open Compute Project.</li>
											<li>Compatible with a 19” rack, or a 21” Open Rack using the Open Rack Switch Adapter.</li>
											<li>32 x QSFP28 ports in a compact 1RU form factor.</li>
											<li>Each port supports 1 x 100 GbE/40 GbE, or 4 x 25 GbE/4 x 10 GbE/2 x 50 GbE via breakout cables.</li>
											<li>Line-rate Layer 2 or Layer 3 forwarding of 3.2 Tbps full duplex.</li>
											<li>Hot-swappable, load-sharing, redundant AC PSUs or 12 V DC PSUs.</li>
										</ul>
									</div>
								</div>
							<div class="col-md-6 common-style-font2 content">
									<div class="bs-example" data-example-id="simple-ul">
										<ul>
											<li>4+1 redundant, hot-swappable fans.</li>
											<li>Front-to-back airﬂow.</li>
											<li>Console, management, and USB ports on switch ports side.</li>
											<li>Hardware switch pre-loaded with Open Network Install Environment (ONIE) for automated loading of compatible open source and 
												commerical NOS offerings.</li>
											<li>Compatible with Open Network Linux (ONL), an open-source, OCP reference NOS.</li>
											<li>Compatible with open-source FBOSS Agent software.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="x_panel">
						<h2 style="color:#20304b;text-align: center;padding:20px">Downloads</h2>
						<table class="table Table table-hover">
							<thead>
							  <tr>
									<th scope="col">Category</th>
									<th scope="col">Name</th>
									<th scope="col">Rev</th>
									<th scope="col">Download File Name</th>
									<th scope="col">Release Notes</th>
									<th scope="col">Date</th>
									<th scope="col">Note</th>
									<th scope="col">Download</th>
								</tr>
							</thead>
							<tbody>
							  <tr>
									<th scope="row">Datasheet</th>
									<td class="common-style-font2 content">WedgeS 100-32X R01</td>
									<td class="common-style-font2 content">n/a</td>
									<td class="common-style-font2 content">Wedge100S-32X_DS_R01_20180723.pdf</td>
									<td class="common-style-font2 content">n/a</td>
									<td class="common-style-font2 content">2018-07-23</td>
									<td class="common-style-font2 content">description n/a</td>
									<td class="common-style-font2 content"><a href= "{% static 'downloads/products/100g/wedge100s-32x/Wedge100S-32X_DS_R01_20180723.pdf' %}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
								</tr>
								<tr>
									<th scope="row">Firmware</th>
									<td class="common-style-font2 content">SONiC image</td>
									<td class="common-style-font2 content">n/a</td>
									<td class="common-style-font2 content">sonic-broadcom.bin</td>
									<td class="common-style-font2 content">n/a</td>
									<td class="common-style-font2 content">n/a</td>
									<td class="common-style-font2 content">description n/a</td>
									<td class="common-style-font2 content"><a href= "{% static 'downloads/sonic-image/100g/wedge100s-32x/sonic-broadcom.bin' %}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
								</tr>
							</tbody>
						</table>
					</div>
          <div class="x_panel" style="height:600px">
						<h2 style="color:#20304b;text-align: center;padding:20px">Support</h2>
						<div class="col-md-12">
							<div class="row">
								<div class="col-sm-6 col-md-4">
									<div class="thumbnail">
										<img src="{%static 'images/icon/teach.jpg' %}">
										<div class="caption" style="text-align: center;padding:10px">
											<h2>Learn from Video</h2>
											<p style="font-size: 13pt">Explore help & how to</p>
											<p style="font-size: 13pt">video from us on Youtube</p>

											<a href="https://www.youtube.com/results?search_query=as7712-32x" target=_blank><u style="font-size:13pt;color:blue;">Watch Video</u></a>

										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-4">
									<div class="thumbnail">
										<img src="{%static 'images/icon/asking.jpg' %}" alt="...">
										<div class="caption" style="text-align: center;padding:10px">
											<h2>Ask the Community</h2>
											<p style="font-size: 13pt">Join the SONiC community</p>
											<p style="font-size: 13pt">& ask questions for contribute</p>

											<a href="https://groups.google.com/forum/#!form/sonicproject"target=_blank><u style="font-size:13pt;color:blue;">SONiC Wiki Page</u></a>

										</div>
									</div>
								</div>
									<div class="col-sm-6 col-md-4">
										<div class="thumbnail">
											<img src="{%static 'images/icon/contact.jpg' %}" alt="...">
											<div class="caption" style="text-align: center;padding:10px">
												<h2>Contact us</h2>
												<p style="font-size: 13pt">Contact us</p>
												<p style="font-size: 13pt">when you have any quetion</p>
												<a href="mailto:acctontms@gmail.com" target=_blank>
													<u style="font-size:13pt;color:blue;">Write email to us</u>
												</a>
												
	
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>

					<div class="x_panel">
						<h2 style="color:#20304b;text-align: center;padding:20px">Knowledge Base</h2>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-1"></div>
								<div class="col-xs-6 col-md-2">
									<a href="/sonic/accton/wiki" class="thumbnail target=_blank">
										<img src="{%static 'images/icon/wiki.png' %}" alt="...">
									</a>
								</div>
								<div class="col-xs-6 col-md-2">
									<a href="/sonic/accton/faq" class="thumbnail target=_blank">
										<img src="{%static 'images/icon/FAQ.png' %}" target=_blank>
									</a>
								</div>
								<div class="col-xs-6 col-md-2">
									<a href="#" class="thumbnail">
										<img src="{%static 'images/icon/video.png' %}" target=_blank>
									</a>
								</div>
								<div class="col-xs-6 col-md-2">
									<a href="#" class="thumbnail">
										<img src="{%static 'images/icon/whitepaper.jpg' %}" target=_blank>
									</a>
								</div>
								<div class="col-xs-6 col-md-2">
									<a href="https://www.youtube.com/results?search_query=as7712-32x" class="thumbnail">
										<img src="{%static 'images/icon/youtube.png' %}" target=_blank>
									</a>
									<div class="col-md-1"></div>
								
								</div>
							</div>
					</div>
				</div>







					{% if tlists %}
					{% for t in tlists %}
					<tr>
						<td class="common-style-font2 content">{{t.sensor}}</td>
						<td class="common-style-font2 content">{{t.status}}</td>
						<td class="common-style-font2 content">{{t.reading}}</td>
						<td class="common-style-font2 content">{{t.low_limit}}</td>
						<td class="common-style-font2 content">{{t.high_limit}}</td>
						<td class="common-style-font2 content">{{t.stamp}}</td>
					</tr>
					{% endfor %}
					{% endif %}








				</div>

			</div>


		</div>
		<!-- footer content -->
		<footer>
			<div class="clearfix"></div>
			<div class="container">


				<div class="pull-left">Powered by Accton Technology &copy;</div>
				<div class="clearfix"></div>
			</div>

		</footer>
		<!-- /footer content -->
	</div>

	</div>


	{% include 'preset_js.html' %}
</body>

</html>