{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-Advantage</title>
	{% include 'preset_style.html' %}
	<link href="{% static 'vendors/additional/advantages.css' %}" rel="stylesheet">
</head>
{% include 'template_sonic.html' %}
<div class="right_col common_style" role="main">
		<!-- ==== ==== ==== Main client area ==== ==== ==== -->
		<!-- ==== ==== ==== Main client area ==== ==== ==== -->
		<!-- breadcomb -->
		<div class="clearfix"></div><!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
				<div class="x_panel">
					<p style="font-size:36px;">Advantage</p>
					<div class="col-12 advantage-content">
						<img src="{% static 'images/advantage/1_msft_blog.png' %}">
					</div>
					<div class="col-12 advantage-content">
						<img src="{% static 'images/advantage/2_sonic_architecture.jpg' %}">
						<p>Container components approach makes rapid prototyping, agile development passbile.</p>
					</div>
					<div class="col-12 advantage-content">
						<img src="{% static 'images/advantage/3_2018_msft_demo_rack.png' %}">
						<p>2018 at OCP Microsoft demo booth, a 42U rack with all vendors, partners switch mounted.</p>
					</div>
				</div>
				<div class="x_panel">
					<div class="col-md-6 col-xs-12 advantage-content">
						<img src="{% static 'images/advantage/4_msft_why_SONiC.png' %}">
						<p>Microsoft showcases " Software for Open Networking in the Cloud (SONiC) "</p>
						<div class="col-xs-1">
							<img src="{% static 'images/advantage/Kamala Subramaniam.jpg' %}" style="width:40px;border-radius:70%;">
						</div>
						<div class="col-xs-11" style="text-align:left;">
							<a href="https://azure.microsoft.com/zh-tw/blog/author/kasubra/">Kamala Subramanian</a>, Principal Architect, Azure Networking.<br>
							2016 March 9 <br>Reference<a href="https://azure.microsoft.com/zh-tw/blog/microsoft-showcases-software-for-open-networking-in-the-cloud-sonic/"> here.</a>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 advantage-content">
						<div class="col-xs-12 advantage-content">
							<img src="{% static 'images/advantage/5_msft_blog_by_Yousef.png' %}">
							<p>SONiC , the network innovation powerhouse behind Azure "</p>
							<div class="col-xs-1">
								<img src="{% static 'images/advantage/Yousef Khalidi.jpg' %}" style="width:40px;border-radius:70%;">
							</div>
							<div class="col-xs-11" style="text-align:left;">
								<a href="https://azure.microsoft.com/zh-tw/blog/author/yousefk/">Yousef Khalidi</a>, Corporate Vice President, Azure Networking.<br>
								2018 March 20 <br>Reference<a href="https://azure.microsoft.com/zh-tw/blog/sonic-the-network-innovation-powerhouse-behind-azure/"> here.</a>
							</div>
						</div>
						<div class="col-xs-12 advantage-content">
							<img src="{% static 'images/advantage/5_msft_blog_by_Yousef.png' %}">
							<p>How Microsoft builds its fast and reliable global network"</p>
							<div class="col-xs-1">
								<img src="{% static 'images/advantage/Yousef Khalidi.jpg' %}" style="width:40px;border-radius:70%;">
							</div>
							<div class="col-xs-11" style="text-align:left;">
								<a href="https://azure.microsoft.com/zh-tw/blog/author/yousefk/">Yousef Khalidi</a>, Corporate Vice President, Azure Networking.<br>
								2017 March 15 <br>Reference<a href="https://azure.microsoft.com/zh-tw/blog/how-microsoft-builds-its-fast-and-reliable-global-network/"> here.</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- footer content -->
	<footer>
		<div class="clearfix"></div>
		<div class="container">
			<div class="pull-left">Powered by Accton Technology &copy;</div>
			<div class="clearfix"></div>
		</div>
	</footer><!-- /footer content -->
	{% include 'preset_js.html' %}
</body>
</html>