{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-Accton Arts Foundation</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row solution">
        <div class="col-12 title1_solution">
            <h1>Accton Arts Foundation</h1>
        </div>

        <div class="x_panel solution">

            <p class="content_solution">
                Accton Arts Foundation was founded in 2000 with a purpose of building cultural and creative arts
                communities. Accton Arts Foundation promotes arts education, establishes a database of Taiwanese
                artists, and facilitates arts community development. Every year, the foundation sponsors six to ten
                Taiwanese contemporary artists for their exhibitions and workshops, cultivating creativity to enrich the
                lives of residents. Furthermore, the foundation created a website that provides information on the
                latest arts and cultural events, and introduces Taiwanese contemporary artists through interviews.
                Through a variety of promotional activities such as ticket giveaway and special offer, independent
                artists can receive more attention.
                <br><br>
                Accton Arts Foundation is also committed to the preservation of historical buildings, including Tianmu
                White House and Hsinchu Railway Art Village, thus conserving special architectural features and cultural
                heritage. Through hosting events such as arts residency, volunteering, arts education, and health
                activities at these historical sites, local residents can cultivate a mind-body harmony. Furthermore,
                the foundation collaborates with National Yang Ming University, National Taipei University of Education,
                National Tsing Hua University (Hsinchu Teachers College), and National Chiao Tung University,
                facilitating interactions between universities and communities in public spaces.

            </p>

            <div class="title3_solution">
                2017 Community Art Space Project 1: Tianmu White House
            </div>
            <div class="row">

                <p class="content_solution">
                    Since July 20, 2016, Accton Arts Foundation started to manage Tianmu White House. With over 60 years
                    of history, Tianmu White House was once the residence of US military personnel stationed in Shilin,
                    Taipei. In response to locals’ memories and expectations, the Bank of Taiwan entrusted the Taipei
                    City Urban Regeneration Office with the site. Since urban residents living in close proximity rarely
                    interact, Tianmu White House was refurbished to provide a space for local residents to meet and
                    maintain friendships. Throughout 2017 at the house, the Accton Arts Foundation hosted 65 talks and
                    classes, enhancing the life quality of local residents through a closer involvement with the arts.
                    <br><br>
                    With the purpose of enabling the quality of senior life, Tianmu White House was positioned as a
                    senior living experimental site. Integrating resources from Accton Arts Foundation and the Center
                    for Geriatrics and Gerontology of Taipei Veterans General Hospital, Tianmu White House introduced a
                    healthy lifestyle for senior citizens in the community. A quality lifestyle includes physical and
                    psychological health, and a diverse social life. Tianmu White House hosts events that promote the
                    health and aesthetics of living, and assists senior residents to enjoy a quality of life through
                    various means unrestrained by their physical age.
                </p>
                <img src="{%static '/images/about_us/csr_art_fig01-800x556.jpg' %}" class="center-block img-thumbnail">
            </div>
            <div class="title3_solution">
                2017 Community Art Space Project 2: Hsinchu Railway Art Village
            </div>
            <div class="row">
                <img src="{%static '/images/about_us/csr_art_fig02-800x556.jpg' %}" class="center-block img-thumbnail">
                <p class="content_solution">
                    Hsinchu Railway Art Village has been managed by Accton Arts Foundation since 2016. It is guided by
                    two main themes: local arts and culture, and parent-child activities. The railway warehouse was
                    refurbished as a fun place for parents and their children, providing a place for mutual growth.
                    Through exhibitions and events of living aesthetics and planting seeds of arts, Accton hopes to
                    stimulate interactions between generations and facilitate healthy family relationships. In order to
                    promote local arts, every year we host an artist-in-residence audition offering artists extensive
                    space and freedom to create their works. And to further cultivate the local arts community, we
                    support the artists to host exhibitions, workshops and various promotional activities.
                </p>
            </div>
        </div>

    </div>
</div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>