{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-Accton Charitable Foundation</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row solution">
        <div class="col-12 title1_solution">
            <h1>Charity Work</h1>
        </div>

        <div class="x_panel solution">
            <div class="title3_solution">
                Since established in 2001
            </div>
            <img src="{%static '/images/about_us/charity.png' %}" class="center-block" style="width:60%">
            <p class="content_solution">
                Every giving heart shall plant a seed of love, which will grow and give back to the needy. Based on this
                belief, Accton Technology Corporation founded Accton Cultural & Educational Foundation in 1999. Accton
                has committed to care for this beloved place where we established our company and the people who need
                help. Together with local communities’ loving participation, we hope to bring heaven on earth.
                <br><br>
                Explore some of Accton’s charity works below.
            </p>
            <img src="{%static '/images/about_us/csr_charity_fig01-800x494.png' %}" class="center-block img-thumbnail">

            <div class="title3_solution">
                Care for the Needy
            </div>
            <div class="row">


                <div class="title4_solution">
                    I.Help for Families in Need
                </div>
                <p class="content_solution">
                    Based on the idea of donation-direct help, the Accton E-Charity website, www.17885.com.tw, was
                    created with Accton’s networking expertise in 2001. The E-platform enables people to directly donate
                    to families and individuals with personal emergency assistance in their time of need.
                    <br><br>
                    The following is a list of major services Accton E-Charity provides:
                    <br>1.Subsidies: When a breadwinner is unable to support his or her family due to an emergency, a
                    severe illness, or a natural disaster.
                    <br>2.Medical Aid: Subsidies for individuals living with severe illness or injury, where treatment
                    is unaffordable to the individuals or their caretakers, and such treatment is not covered by the
                    benefit package of the national health insurance or labor insurance.
                    <br>3.Funeral Assistance: For people from low-income families who are unable to afford funeral
                    expenses.
                    <br>4.Disaster Relief: Subsidies for families that are affected in the short term by a serious
                    natural or human-made disaster that has caused economic damage.
                    <br><br>
                    Accton provides a free platform that enables people to make direct donations to trusted charity
                    groups online, as well as to report emergency cases of individuals who need immediate assistance.

                </p>
                <p class="content_solution">
                    Since established in 2001, 284,596,988 NTD has been donated thorough Accton E-platform.<br>
                    In 2017, Accton E-Charity has assisted 212 families in need with NTD $2,929,500. We have accompanied
                    more than 2000 families through their darkest periods since being established. We will continue our work
                    to bring hope and laughter into others’ lives.
                </p>
    
                <div class="title4_solution">
                    II.Assist Charity Organizations
                </div>
                <p class="content_solution">
                    Accton E-Charity website is also a platform for other charity organizations to broadcast the necessities
                    and human resources they need, or to fundraise through our website, so that their pleas can reach to
                    enterprises and the public. These services are provided free of charge. Up to 2017, we have 312 charity
                    group members and 300 thousand individual members. Together we can help the underprivileged communities
                    through various ways.
                </p>
    
                <div class="title4_solution">
                    III.Help Farmers and Communities
                </div>
                <p class="content_solution">
                    We often help farmers through charity sales. For instance,
                    <br>
                    1.Cabbages: All profits went to the rural farmers.
                    <br>2.Orange Sale I: For every box of oranges sold, farmers donated NTD $120 to children from low-income
                    families.
                    <br>3.Orange sale II: Sold 9000 kilograms of oranges and all profits went to the farmers and
                    underprivileged
                    communities.
                    <br>4.Jujube: For every box of jujubes sold, the farmers donated NTD $100 to local low-income families.
                </p>
            </div>
            

            
            
            <img src="{%static '/images/about_us/csr_charity_fig03.png' %}" class="center-block" style="width:60%">
            <div class="row">
                <div class="title3_solution">
                    Caring for Underprivileged Children
                </div>

                <p class="content_solution">
                    Mother Teresa said “To keep a lamp burning, we have to keep putting oil in it.” Accton Cultural &
                    Educational Foundation has always been committed to caring for children from low-income families in
                    various ways, including scholarships for the Department of Special Education, National Hsinchu
                    University Education; provided glasses for children with special needs; hosted summer camps for new
                    immigrant families’ children; sponsored breakfast for elementary school students; recruited
                    volunteers to draw for a children’s picture book; provided online distance tutoring for new
                    immigrants’ children in Pingtung, etc.

                </p>

                <img src="{%static '/images/about_us/charity-2.png' %}" class="center-block" style="width:60%">
                <div class="title4_solution">
                    I.Christmas Make-A-Wish
                </div>
                <p class="content_solution">
                    Accton Cultural & Educational Foundation and Hotel Royal Hsinchu have co-hosted the Christmas
                    Make-A-Wish event for 14 years since 2003. Every year before Christmas, we invite over 20 companies
                    in Hsinchu Science Park to fulfil wishes of underprivileged children in the local area by purchasing
                    presents they selected and delivering to them. In 2017, Accton has gathered 22 companies and raised
                    2811 Christmas presents. So far, more than 20,000 children’s wishes have been fulfilled.
                </p>
                <div class="title4_solution">
                    II.Breakfast for Elementary School Students
                </div>
                <p class="content_solution">
                    In Hsinchu city, over a thousand children are near poor but do not qualify for government subsidies.
                    Accton has encouraged its staff to sponsor breakfast for more than 600 of these children since 2014.
                    In 2017 we sponsored 49,273 breakfasts for 150 children. We hope by providing a healthy breakfast
                    every day, they will be able to focus on their studies and create a better future for themselves.
                </p>
                <div class="title4_solution">
                    III.Hope Scholarships
                </div>
                <p class="content_solution">
                    For 15 years Accton has collaborated with Taiwan Fund for Children and Families – Hsinchu branch,
                    and offered Hope Scholarships to rural underprivileged youth in Wufeng and Jianshi Junior High
                    Schools. Over 2,000 scholarships have been awarded up to 2017. These scholarships are not limited to
                    students who excel in academic performance, but also those who are just hardworking. By awarding
                    these students, they can continue schooling and eventually improve their lives through education.
                </p>
            </div>
        </div>

    </div>
</div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>