{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TMS-Investor Relationships</title>
    {% include 'preset_style.html' %}
    <!-- Additional CSS-->
</head>

{% include 'template_sonic.html' %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row accton">
        <div class="col-12 title1_solution">
            <h1 id="accton">Investor Relationships</h1>
        </div>

        <div class="x_panel solution">

            <div class="title3_solution">
                Finanial Statements
            </div>
            <div class="row">
                <div class="title4_solution">
                    I.Quarterly Report
                </div>
                <a href="/sonic/about_us/investor/q&full2018" class="content_solution" style="padding-left: 3vw">〉Accton
                    Reports Fourth Quarter and Full Year 2018 Results (Consolidated)</a>

                <div class="title4_solution">
                    II.Annual Report
                </div>
                <div  class="content_solution" style="padding-left: 3vw">
                〉n/a
                </div>
            </div>
        </div>

    </div>

</div>
</div>
</div>
<!-- footer content -->
<footer>
    <div class="container">
        <div class="pull-left">Powered by Accton Technology &copy;</div>
    </div>
</footer>
{% include 'preset_js.html' %}
<script src="{% static 'js/roadmap.js' %}"></script>
</body>

</html>