#main{
    background-color: white;
}
.replier > img ,
#asker > img {
    border-radius:20px;
}
#article_title{
    font-size: 30px;
}
#article_content{
    color:black;
}
#article_content p{
    font-size: 15px;
}
h3{
    color:black;
}
#answer-number{
    font-size: 20px;
    padding:10px 0 10px 20px;
    border-bottom: 1px solid#dee3ea;
}
#tag-list{
    border-bottom: 1px solid#dee3ea;
}

#tag-list a{
    margin-right: 5px;
    background-color:#E1ECF4;
    color: #39739d;
}
.awesome{
    text-align: center;
}
.message-content{
    text-align: left;
    padding-left: 0%;
    font-size: 14px;
    vertical-align: baseline;
    color: black;
}
.message{
    padding-top: 10px;
    padding-bottom: 10px;
}
.time{
    padding-left:70%;
    color: gray;
}
.time > div{
    display: block;
    font-size: 12px;
}
#asker{
    display: block;
    color: gray;
    padding: 0 0 1% 65%;
}
#asker > p,
#asker > img{
    display: inline;
}
.replier{
    display: inline;
    /* padding-left:70%; */
    color: gray;
}
.replier > div{
    display: inline;
    font-size: 15px;
}
.add-comment{
    padding-top:10px;
    text-align:left;
    font-size: 15px;
    color:black;
}
.row.message{
    border-bottom:1px;
    border-bottom-style:solid;
    border-color:black;
}
.svg-icon:not(.native) * {
    fill: currentColor;
}
:not(svg) {
    transform-origin: 0px 0px;
}
.reply-awesome{
    display: inline-block;
    text-align: center;
    padding-left: 1%;
}
.reply-message-content{
    display: inline-block;
    font-size: 12px;
}
.reply-date{
    color: gray;
}
.content > span{
    color:black;
}
.send-btn,
.send-reply{
    float:right;
    margin-top:2%;
}