{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-IXIA Schehule</title>
	{% include 'preset_style.html' %}
	<link href="/static/vendors/additional/labInformation.css" rel="stylesheet">
</head>
{% include 'template_ntc.html' %}
<!-- /main body top navigation bar-->
<div class="right_col" role="main">
	<!-- ==== ==== ==== Main client area ==== ==== ==== -->
	<!-- ==== ==== ==== Main client area ==== ==== ==== -->
	<!-- breadcomb -->
	<div class="clearfix"></div><!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<!-- ====     page content     ==== -->
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
			<div class="x_panel">
				<div class="x_title">
					<h1>
						Tainan IXIA Status
					</h1>
				</div><!--br><button type="button" style="float:right;" onclick="submitTestCase()">Submit</button-->
				<div class="panel body">
					<div class="col-xs-12">
						<div class="ixia_photo col-xs-4">
							<img id="ixia_photo" src="{% static 'images/ixia-xgs12.jpg' %}">
						</div>
						<div class="col-xs-8">
							<h1 class="title"> Packet Generator</h1>
							<h1 class="lab"> Tainan Lab</h1>
						</div>
					</div>
					<div class="item active font1">
						<div>
                            <div class="cardNumber">Card #1</div>
							<table class="table Table">
								<thead>
									<tr class="tr-only-hide">
										<th style="text-align:center">Port / Speed</th>
										<th style="text-align:center">07-07</th>
										<th style="text-align:center">07-08</th>
										<th style="text-align:center">07-09</th>
										<th style="text-align:center">07-10</th>
										<th style="text-align:center">07-11</th>
										<th style="text-align:center">07-12</th>
										<th style="text-align:center">07-13</th>
										<th style="text-align:center">07-14</th>
										<th style="text-align:center">07-15</th>
										<th style="text-align:center">07-16</th>
										<th style="text-align:center">07-17</th>
										<th style="text-align:center">07-18</th>
										<th style="text-align:center">07-19</th>
										<th style="text-align:center">07-20</th>
									</tr>
								</thead>
								<tbody id="card1">
									<tr>
										<td data-th="Port / Speed">Port1 / 100G</td>
										<td data-th="2019-07-07">Null</td>
										<td data-th="2019-07-08">Null</td>
										<td data-th="2019-07-09">Null</td>
										<td data-th="2019-07-10">Null</td>
										<td data-th="2019-07-11">Null</td>
										<td data-th="2019-07-12">Anber</td>
										<td data-th="2019-07-13">Anber</td>
										<td data-th="2019-07-14">Anber</td>
										<td data-th="2019-07-15">Anber</td>
										<td data-th="2019-07-16">Anber</td>
										<td data-th="2019-07-17">Anber</td>
										<td data-th="2019-07-18">Anber</td>
										<td data-th="2019-07-19">Anber</td>
										<td data-th="2019-07-20">Anber</td>
                                    </tr>
                                    <tr>
										<td data-th="Port / Speed">Port2 / 100G</td>
										<td data-th="07-07">Null</td>
										<td data-th="07-08">Null</td>
										<td data-th="07-09">Null</td>
										<td data-th="07-10">Null</td>
										<td data-th="07-11">Null</td>
										<td data-th="07-12">Anber</td>
										<td data-th="07-13">Anber</td>
										<td data-th="07-14">Anber</td>
										<td data-th="07-15">Anber</td>
										<td data-th="07-16">Anber</td>
										<td data-th="07-17">Anber</td>
										<td data-th="07-18">Anber</td>
										<td data-th="07-19">Anber</td>
										<td data-th="07-20">Anber</td>
                                    </tr>
                                    <tr>
										<td data-th="Port / Speed">Port3 / 100G</td>
										<td data-th="07-07">Null</td>
										<td data-th="07-08">Null</td>
										<td data-th="07-09">Null</td>
										<td data-th="07-10">Null</td>
										<td data-th="07-11">Null</td>
										<td data-th="07-12">Anber</td>
										<td data-th="07-13">Anber</td>
										<td data-th="07-14">Anber</td>
										<td data-th="07-15">Anber</td>
										<td data-th="07-16">Anber</td>
										<td data-th="07-17">Anber</td>
										<td data-th="07-18">Anber</td>
										<td data-th="07-19">Anber</td>
										<td data-th="07-20">Anber</td>
                                    </tr>
                                    <tr>
										<td data-th="Port / Speed">Port4 / 100G</td>
										<td data-th="07-07">Null</td>
										<td data-th="07-08">Null</td>
										<td data-th="07-09">Null</td>
										<td data-th="07-10">Null</td>
										<td data-th="07-11">Null</td>
										<td data-th="07-12">Anber</td>
										<td data-th="07-13">Anber</td>
										<td data-th="07-14">Anber</td>
										<td data-th="07-15">Anber</td>
										<td data-th="07-16">Anber</td>
										<td data-th="07-17">Anber</td>
										<td data-th="07-18">Anber</td>
										<td data-th="07-19">Anber</td>
										<td data-th="07-20">Anber</td>
									</tr>
								</tbody>
							</table>
                        </div>
                        <div>
                            <div class="cardNumber">Card #2</div>
							<table class="table Table">
								<thead>
									<tr class="tr-only-hide">
										<th style="text-align:center">Port / Speed</th>
										<th style="text-align:center">07-07</th>
										<th style="text-align:center">07-08</th>
										<th style="text-align:center">07-09</th>
										<th style="text-align:center">07-10</th>
										<th style="text-align:center">07-11</th>
										<th style="text-align:center">07-12</th>
										<th style="text-align:center">07-13</th>
										<th style="text-align:center">07-14</th>
										<th style="text-align:center">07-15</th>
										<th style="text-align:center">07-16</th>
										<th style="text-align:center">07-17</th>
										<th style="text-align:center">07-18</th>
										<th style="text-align:center">07-19</th>
										<th style="text-align:center">07-20</th>
									</tr>
								</thead>
								<tbody id="card2">
									<tr>
										<td data-th="Port / Speed">Port1 / 100G</td>
										<td data-th="1">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
                                    </tr>
                                    <tr>
										<td data-th="Port / Speed">Port2 / 100G</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
                                    </tr>
                                    <tr>
										<td data-th="Port / Speed">Port3 / 100G</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
                                    </tr>
                                    <tr>
										<td data-th="Port / Speed">Port4 / 100G</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Null</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
										<td data-th="">Anber</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<!-- Button trigger modal -->
				<!-- <a class="btn btn-primary" data-target="#a" data-toggle="modal" style="margin:20px 0">Add IXIA Information</a>
				<a class="btn btn-primary" data-target="#b" data-toggle="modal" style="margin:20px 0">Change IXIA Status</a> -->
				<a id="showConfig" class="btn btn-primary"> Show Today IXIA Configuration</a>
			</div><!-- Modal -->
			<div aria-hidden="true" class="modal" id="modal" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<p class="modal-title">Add IXIA Information <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button></p>
						</div>
						<div class="modal-body">
							<div class="form-group clearfix">
								Select Port Number：<br>
                                <div id="portNumber">
                                </div>
								Start Time：<br>
								<div id="startTime">
                                </div>
								End Time<span class="red">*</span>：<br>
								<input id="endTime" class="col-xs-12" type="date" startDate=”${startTime?datetime}”><br>
								<br>
								Cable<span class="red">*</span>：<br>
                                <select class="col-xs-12" id="cable">
                                    <option>100G DAC Cable</option>
                                </select>    
								<br><br>
								Connect to Device<span class="red">*</span>：<br>
								<select class="col-xs-12" id="toDevice">
                                    <option>11U - AS7712-32X</option>
                                </select> 
								<br>
							</div>
						</div>
						<div class="modal-footer">
							<a class="btn btn-primary" data-toggle="modal" id="createSchedule" style="margin:20px 0">Create</a>
						</div>
					</div>
				</div>
			</div>
			<div aria-hidden="true" class="modal" id="IXIAconfig" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<p class="modal-title">Show IXIA Configuration <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button></p>
						</div>
						<div class="modal-body">
							<div class="form-group clearfix">
								Start Time：<br>
								<div id="startTime_config">
								</div>
								Lab：<br>
								<select class="col-xs-12" id="lab">
                                    <option>11U - AS7712-32X</option>
								</select> 
								Configuration：<br>
								<div class="col-xs-12" id="config">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a class="btn btn-primary" data-toggle="modal" id="createSchedule" style="margin:20px 0">Create</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- footer content -->
<footer>
	<div class="pull-right">
		Powered by Accton Technology&copy;
	</div>
	<div class="clearfix"></div>
</footer><!-- /footer content -->
{% include 'preset_js.html' %} 
    <script>
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
    </script> 
    <script src="{% static 'js/labInformation.js' %}"></script>
</body>
</html>