{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-Topology configuration</title>
	{% include 'preset_style.html' %}
  <link href="{% static 'css/test/topologyConfig.css' %}" rel="stylesheet">
</head>
{% include 'template_ntc.html' %}
<!-- /main body top navigation bar-->
		<div class="right_col" role="main">
			<!-- ==== ==== ==== Main client area ==== ==== ==== -->
			<!-- ==== ==== ==== Main client area ==== ==== ==== -->
			<!-- breadcomb -->
			<div class="clearfix"></div>
			<!-- ====     page content     ==== -->
			<!-- ====     page content     ==== -->
			<!-- ====     page content     ==== -->
			<!-- ====     page content     ==== -->
			<!-- ====     page content     ==== -->
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
					<div class="x_panel" style="min-height: 500px;">
						<div class="col-md-12" style="border-bottom: 1px solid #E6E9ED;">
							<h1>Select Project and Topology</h1>
							<div class="col-md-4">
								Project
								<div class="dropdown" id="project" style="display:inline">
									<button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" style="min-width:150px;text-align:right" type="button">Data Center<span class="caret"></span></button>
									<ul aria-labelledby="dropdownMenu1" class="dropdown-menu" id="DUTList" style="min-width:150px;text-align:right">
										<li>
											<a>SONiC</a>
										</li>
										<li>
											<a>Facebook</a>
										</li>
										<li>
											<a>Data Center</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-4">
								Topology
								<div class="dropdown" id="topology" style="display:inline">
									<button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" style="min-width:200px;text-align:right" type="button">Data Center Core<span class="caret"></span></button>
									<span class="glyphicon glyphicon-question-sign"></span>
									<ul aria-labelledby="dropdownMenu1" class="dropdown-menu" style="min-width:200px;text-align:right">
										<li>
											<a>Single Device</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-4">
								<a class="btn btn-primary btn-lg" id='executeCondition' role="button" style="float:right" type="button">Apply</a>
							</div>
						</div>
							<div class="col-md-12" id="displayConfig" style="display:table-cell; text-align:center; vertical-align:middle;">
							</div>
					</div>

				<div aria-hidden="true" class="modal" id="c" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document" style="width:800px;">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title">Filter The Views <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button></h1>
							</div>
							<div class="modal-body">
								<div id="filtercondition" class="form-group clearfix">
									<div class="col-xs-12">
										ECMP line rate test<br><br>
										ECMP is a routing technique that allows traffic sharing the same source and destination to be distributed through multiple network paths of equal cost. 
										This involves leveraging routing metric calculations with hash algorithms to determine which 
										available “next-hop” routers can be leveraged at the same price point to deliver traffic from one flow to its destination.<br>
										In 2014, the Institute of Electrical and Electronics Engineers (IEEE) incorporated Equal Cost Multiple Paths (ECMP) or IEEE standard 802.1Qbp into IEEE 802.1Q-2014 for Shortest Path Bridging. 
										Specifying the forward and reverse paths used for unicast and multicast traffic in shortest path bridging as symmetric insuring flows on deterministic paths, resolving configuration complexities, 
										management functionality and performance issues within original standards implementations<br><br>
										Please note:<br>
										&emsp;&emsp;1. One thread per job.<br>
										&emsp;&emsp;2. Please be sure to setup and configure the DUT appropriately.<br>
										&emsp;&emsp;3. Make sure your IXIA port is connected properly.<br><br>
										Diagram:<br><br>
										<div id="example_image" style="border-style:dotted;padding-left:10px;">
											ECMP Line Rate Test Chart
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<a class="btn btn-primary" aria-label="Close" data-dismiss="modal">OK</a>
								<a class="btn btn-primary" aria-label="Close" data-dismiss="modal">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- footer content -->
<footer>
	<div class="pull-right">
		Powered by Accton Technology &copy;
	</div>
	<div class="clearfix"></div>
</footer><!-- /footer content -->
{% include 'preset_js.html' %}
<script>
		$.ajaxSetup({
			data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});
</script>
<script src="{% static 'js/test/topologyConfig.js' %}"></script>
</body>
</html>






