{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>TMS-Job image choose</title>
	{% include 'preset_style.html' %}
</head>
{% include 'template_ntc.html' %}
<!-- /main body top navigation bar-->
	<div class="right_col" role="main">
		<!-- ==== ==== ==== Main client area ==== ==== ==== -->
		<!-- ==== ==== ==== Main client area ==== ==== ==== -->
		<!-- breadcomb -->
		<div class="clearfix"></div>
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<!-- ====     page content     ==== -->
		<div class="row">
			<!--
                    <div class="col-md-6 col-sm-4 col-xs-12">
                                            one row of data
                    </div>
                                    -->
			<div class="col-md-12 col-sm-12 col-xs-12 system_T1_Table">
				<div class="x_panel">
					<div class="x_title">
						<h1>
							Create Test Job
						</h1>
					</div><!--br><button type="button" style="float:right;" onclick="submitTestCase()">Submit</button-->
					<div class="panel body" style="height: 500px ;overflow: auto">
						<div id="imageCase">
							<ul>
								<li style="color: #2685C7">Jenkins
									<ul>
										<li style="color:#6AB7E7">broadcom
											<ul>
												<li class="job_name" style="color: black">123
													<div class ="builds" style="margin-left: 2em">
														<label style="color: #20304B"><input type="checkbox" value="">1</label><br>
														<label style="color: #20304B"><input type="checkbox" value="">2</label><br>
														<label style="color: #20304B"><input type="checkbox" value="">3</label><br>
													</div>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>
                    </div><a class="btn btn-primary btn-lg" onclick="submitImageVersion()" role="button" style="float:right" type="button">Ok</a> <a class="btn btn-primary btn-lg" role="button" style="float:right" type="button">Cancel</a>
				</div>
                    <h1>
                        Submit Jenkins Build
					</h1>
                </div><!--br><button type="button" style="float:right;" onclick="submitTestCase()">Submit</button-->
                <div class="panel body" style="height: 250px ;overflow: auto">
                    <div id="jenkins">
                        <ul>
                            <li style="color: #2685C7">Jenkins
                                <ul>
                                    <li style="color:#6AB7E7">broadcom
                                        <ul>
                                            <li class="job_name" style="color: black">123
                                                <div class ="builds" style="margin-left: 2em">
                                                    <label style="color: #20304B"><input type="checkbox" value="">1</label><br>
                                                    <label style="color: #20304B"><input type="checkbox" value="">2</label><br>
                                                    <label style="color: #20304B"><input type="checkbox" value="">3</label><br>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div><a id="buildJob" class="btn btn-primary btn-lg" role="button" style="float:right" type="button">Build</a>
				</div>
			</div>
		</div>
	</div><!-- footer content -->
	<footer>
		<div class="pull-right">
			Powered by Accton Technology&copy;
		</div>
		<div class="clearfix"></div>
	</footer><!-- /footer content -->
</div>

</div>
	{% include 'preset_js.html' %}
	<script src="{% static 'js/jenkinsViews.js' %}"></script>
</body>
</html>






